<div class="d-flex flex-column w-50 flex-grow-1">
  <div class="d-flex flex-column overflow-y-auto flex-grow-1">
    <div class="w-100 flex-grow-1">
      <div id='calendar'></div>
    </div>
  </div>

  <!-- 공지사항 -->
  <div class="card h-25 m-2">
    <div class="card-header fs-5 fw-bold"><a href="/board/boardList/1">공지사항</a></div>
    <div class="card-body overflow-y-auto p-0">
      <table class="table table-striped table-hover text-center">
        <colgroup>
          <col width=65%>
          <col width=8%>
          <col width=20%>
          <col width=7%>
        </colgroup>
        <thead>
          <tr>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
            <th>조회수</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="board : ${map.boardList}" th:object="${board}">
            <td class="text-truncate"><a style="color: black; text-decoration: none;"  th:href="@{/board/boardDetail/{boardCodeNo}/{boardNo}(boardCodeNo=1, boardNo=*{boardNo}) }"  th:text="*{boardTitle}" > </a></td>
            <td th:text="*{MemberName}">황금독수리</td>
            <td th:text="*{boardWriteDate}">2023-12-13</td>
            <td th:text="*{boardHits}">233</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>
<div class="d-flex flex-column w-50 h-100">
  <div class="d-flex h-50">

    <!-- 재고 현황 -->
    <div class="card m-2">
      <div class="card-header fs-5 fw-bold d-flex align-item-center justify-content-between">
        <a class="align-middle" href="/stock/stockList">재고현황</a>
        <div class="d-inline-block">
          <select class="form-select" id="stockStoreNo">
            <option th:each="store : ${session.loginMember.storeList}" th:object="${store}" th:text="*{storeName}" th:value="*{storeNo}">선택</option>
          </select>
        </div>
        
      </div>
      <div class="card-body overflow-y-auto p-0">
        <table class="table table-striped table-hover text-center">
          <colgroup>
            <col width=30%>
            <col width=55%>
            <col width=15%>
          </colgroup>
          <thead>
            <tr>
              <th>분류</th>
              <th>이름</th>
              <th>수량</th>
            </tr>
          </thead>
          <tbody id="stockTbody">
            <tr th:if="${#lists.size(stockList) == 0}">
              <td class="text-center fw-bold" colspan="3">재고가 없습니다</td>
            </tr>
            <tr th:each="stock : ${stockList}" th:object="${stock}">
              <td th:text="*{scategoryName}">과자</td>
              <td class="text-truncate" th:text="*{goodsName}">과자</td>
              <td th:text="*{stockAmount}">과자</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3" id="stockObservedTag"></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <!-- 매출 현황 -->
    <div class="card m-2">
      <div class="card-header fs-5 fw-bold d-flex justify-content-between">
        <a href="/revenue/list">매출현황</a>
        <div class="d-inline-block">
          <select class="form-select" id="revenueStoreNo">
            <option th:each="store : ${session.loginMember.storeList}" th:object="${store}" th:text="*{storeName}" th:value="*{storeNo}">선택</option>
          </select>
        </div>
      </div>
      <div class="card-body overflow-y-auto p-0">
        <table class="table table-striped table-hover text-center">
          <colgroup>
            <col width=30%>
            <col width=55%>
            <col width=15%>
          </colgroup>
          <thead>
            <tr>
              <th>분류</th>
              <th>이름</th>
              <th>금액</th>
            </tr>
          </thead>
          <tbody id="revenueTbody">
            <tr th:if="${#lists.size(revenueList) == 0}">
              <td class="text-center fw-bold" colspan="3">금일 매출이 없습니다</td>
            </tr>
            <tr th:each="revenue : ${revenueList}" th:object="${revenue}">
              <td th:text="*{scategoryName}">과자</td>
              <td class="text-truncate" th:text="*{historyGoodsName}">새우깡</td>
              <td th:text="*{#numbers.formatInteger(historyAmount * historyActualPrice, 0, 'COMMA')}">45</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th class="text-end" colspan="3" id="revenueSum">합계 : </th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
    

  <!-- 발주 -->
  <th:block th:if="${session.loginMember.gradeNo == 6}">
    <div class="w-100 d-flex h-50">
      <div class="w-75 card m-2">
        <div class="card-header fs-5 fw-bold d-flex justify-content-between">
          <a href="/stock/order/insert">일일발주</a>
          <div class="d-inline-block">
            <select class="form-select" id="orderStoreNo">
              <option th:each="store : ${session.loginMember.storeList}" th:object="${store}" th:text="*{storeName}" th:value="*{storeNo}">선택</option>
            </select>
          </div>
        </div>
        <div class="card-body overflow-y-auto p-0">
          <table class="table table-striped table-hover text-center">
            <colgroup>
              <col width=20%>
              <col width=50%>
              <col width=15%>
              <col width=15%>
            </colgroup>
            <thead>
              <tr>
                <th>분류</th>
                <th>이름</th>
                <th>현재재고</th>
                <th>발주수량</th>
              </tr>
            </thead>
            <tbody id="orderTbody">
              <tr th:if="${#lists.size(orderList) == 0}">
                <td class="text-center fw-bold" colspan="4">금일 발주가 없습니다</td>
              </tr>
              <tr th:each="order : ${orderList}" th:object="${order}">
                <td th:text="*{scategoryName}">과자</td>
                <td class="text-truncate" th:text="*{goodsName}">과자</td>
                <td th:text="*{stockAmount}">과자</td>
                <td th:text="*{orderAmount}">과자</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="w-25 card m-2">
        <div class="card-header fs-5 fw-bold">신상품</div>
        <div class="card-body">
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div th:each="goods : ${goodsList}" th:object="${goods}" class="carousel-item" data-bs-interval="2000">
                  <div class="imageContainer w-100">
                    <img class="goodsImage card-img-top" th:if="*{goodsImagePath != null}" th:src="|*{goodsImagePath}*{goodsImage}|">
                    <img class="goodsImage card-img-top" th:if="*{goodsImagePath == null}" th:src="#{logo.default.image}">
                  </div>
                  <div class="fs-4 text-truncate fw-bold" th:text="*{goodsName}">농심)신라면</div>
                  <div class="goodsDetail" th:text="*{goodsDetail}">깊고 진하게 우러난 소고기 국물맛에 얼큰함을 더한 국민 라면</div>
              </div>
              <div class="carousel-item active" data-bs-interval="2000">
                <div class="imageContainer w-100">
                  <img class="goodsImage" th:src="#{logo.default.image}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
  
</div>