
/* writeApproval.css =============================================== */

#tblBody tr{
  cursor: pointer;
}

#tblBody *{
  vertical-align: middle;
}


/* approvalDoc.css =============================================== */

/* 기안문 스크롤바 */
/* 안먹음 수정! */

.modal-body::-webkit-scrollbar-track{
  background: #f2f2f2 !important;
}
.modal-body::-webkit-scrollbar-thumb{
  background-color: #FFE15D !important;
  border-radius: 10px !important;
}

/* 기안문 작성 정보  */
.elem{
  font-weight: bold;
}

/* 제목 */
.title-input{
  /* background-color: #e3f1ff; */
  height: 27px; 
  width: 620px;
}
.title-input:focus{
  outline: none;
}
/* 템플릿 안 제목 */
.title-input2{
  width: 100%;
  border: none;
}
.title-input2:focus{
  outline: none;
}

/* 결재 테이블 */
.infoTable th,.infoTable td{
  padding: 4px 4px !important;

}



/* 템플릿 박스 */
.temps{
  border: 1px solid black;
  /* height: 500px; */
  /* overflow: auto; */

}

/* 템플릿 정보/승인 */
.tempInfo, .tempApprov{
  padding-top: 50px;
}
.tempInfo th{
  width: 35%;
  text-align: center;
  background-color: #f2f2f2;
  padding: 4px;
}
.tempInfo td{
  padding: 4px 6px;
}

.tempApprov table *{
  padding: 4px;
}
.tempApprov img{
  padding: 0;
}

/* 템플릿 내용 */
.tempContents th{
  /* width: 18%; */
  text-align: center;
  background-color: #f2f2f2;
  padding: 4px;
}
.tempContents td{
  padding: 4px 6px;
  height: 26px;
}
/* textarea */
.docText{
  width: 100%;
  border: none;
  resize: none;
}
.docText:focus{
  outline: none;
}


/* docStore =============================================== */
.storeName{
  width: 100%;
  border: none;
}
.storeName:focus{
  outline: none;
}


/* ========================= */

.cancle{
  font-size: 20px;
  vertical-align: middle;
  border: none;
  height: 20px;
  border-radius: 50%;
  background-color: #FFE15D;
  line-height: 5px;
  color: white;
}


