/* writeApproval.css =============================================== */


#tblBody button{
  width: 90px;
  height: 35px;
}

#tblBody *{
  vertical-align: middle;
}
/* approvalDoc.css =============================================== */

/* 기안문 작성 정보  */
.elem{
  font-weight: bold;
}

/* 제목 */
.title-input{
  border: solid 1px black; 
  background-color: #ffefad; 
  height: 27px; 
  width: 640px;
}
.title-input:focus{
  outline: none;
}
/* 템플릿 안 제목 */
.title-input2{
  width: 100%;
  border: none;
}
.title-input2:focus{
  outline: none;
}

/* 결재 테이블 */
.infoTable th,.infoTable td{
  padding: 4px 4px !important;

}



/* 템플릿 박스 */
.temps{
  border: 1px solid black;
  height: 500px;
  overflow: auto;

}

/* 템플릿 정보/승인 */
.tempInfo, .tempApprov{
  padding-top: 50px;
}
.tempInfo th{
  width: 35%;
  text-align: center;
  background-color: #f2f2f2;
  padding: 4px;
}
.tempInfo td{
  padding: 4px 6px;
}
.tempApprov table *{
  padding: 4px;
}

/* 템플릿 내용 */
.tempContents th{
  width: 18%;
  text-align: center;
  background-color: #f2f2f2;
  padding: 4px;
}
.tempContents td{
  padding: 4px 6px;
}
/* textarea */
.docText{
  width: 100%;
  border: none;
  resize: none;
}
.docText:focus{
  outline: none;
}


/* docStore =============================================== */
.storeName{
  width: 100%;
  border: none;
}
.storeName:focus{
  outline: none;
}