.roomDiv{
  border: 1px solid black;
  height: 50px;
}


/* 채팅방 생성 버튼 */
#openChatRoom {
	width: 120px;
}

/*  채팅방 생성 모달*/
#chat-modal {
	justify-content: center;
	align-items: center;
}

.modal-body {
	text-align: center;
	background-color: white;
	padding: 50px;
	border-radius: 20px;
}

#chatRoomTitle {
	width: 250px;
}

/* 추가 버튼 */
#addTarget{
    display: block;
    padding: 3px;
    padding-right: 5px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}


/* 팝업레이어 */
#addTargetPopupLayer{
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1200;
    background-color: #f5f5f5;
    border: 4px solid #303841; /* inset은 밝기 다르게 한바퀴 두름 */
    width: 450px;
    height: 600px;

}

.popup-layer-close{ display: none;  }

#closeBtn{
    position: absolute;
	top: -15px;
    right: -30px;
    font-size: 30px;
    cursor: pointer;
}




.target-input-area{
	width: 100%;
	height: 40px;
	border-bottom: 2px solid black;
}



#targetInput{
	width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 3px 10px;
    font-size: 20px;
}

#resultArea{list-style: none;}

.result-row{
	width: 100%;
	height: 50px;
	padding: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.result-row:hover{	background-color: #dadada;}

.result-row > *{ 
	margin-right: 10px;
	user-select: none;
}


.result-row-img{ width: 40px;}


/* 채팅창 영역 */
#searchQuery{
  display: block;
  width: 200px;
}



.chatting-area {
	margin: auto;
	height: 680px;
	width: 1500px;
	margin-top: 20px;
	margin-bottom: 50px;
	display: flex;;
}

/*  채팅 목록 */
.chatting-list{
	width: 22%;
	border : 1px solid black;
  
  
	list-style: none;
	overflow: auto;
  border-radius: 10px 0px 3px 10px;
}

.chatting-item{
  height: 90px;
  width: 270px;
	display: flex;
	padding-top: 5px;
  /* margin-right: 28px; */
	/* border-bottom: 1px solid black; */
	cursor: pointer;
  resize:none;
}

.chatting-item * {
	pointer-events: none;
}

.chatting-item > div{ height: 100%; text-align: center;}
.item-header{ width : 25%; resize:none;}
.item-body{ 
  width: 75%;
}
.item-body> p{ 
	display: flex;
	justify-content: space-between;
}

.chatting-item.select{
	background-color: #FFE15D;
  border-radius: 12px;
  border: 4px solid #F6C90E;
}



.list-profile{ 
	max-width: 57px;
    max-height: 57px;
    margin-top: 5px;
}

.target-name{
  margin-left: 1px;
	font-size: 1.1em;
	font-weight: bold;
}

.recent-send-time{
	margin-right: 5px;
  font-size: 15px;
}


.item-body > div{
	display: flex;
	justify-content: space-between;
}

.recent-message{
	width: 180px;

	/* 여러 줄 말줄임 처리 */
	white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

	/*  줄바꿈 처리 */
	word-break: break-all;
}

.not-read-count{
	width: 25px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #303841;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-right: 4px;
}


/* 채팅 내용 */
.chatting-content{
	width: 70%;
}

.display-chatting {
	width: 100%;
	height: 568px;
	border: 1px solid black;
  border-radius: 0px 10px 3px 0px;
  border-left: none;
	overflow: auto;
	list-style: none;
}

.display-chatting > li{
	margin: 10px 0;
}

.target-chat{
	display: flex;
	align-items: flex-start;
}
.target-chat > img{
	width: 50px;
	margin-right: 5px;
}

.chat {
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
  margin-right: 20px;
	background-color: #eee;
	text-align: left;
	max-width: 500px;
	word-break: break-all;
	white-space: pre-wrap;
}


.input-area {
	height: 80px;
	width: 100%;
	display: flex;
}

.inputChatting {
	padding: 3px;
  margin-left: 15px;
	font-size: 1.3em;
	resize: none;
  border: 1px solid black;
}

#send {
	width: 15%;
}

.my-chat {
	text-align: right;
}

.my-chat>p {
	background-color: #FFE15D;
}

.chatDate {
	font-size: 9px;
}

#exit-area {
	text-align: right;
	margin-bottom: 10px;
}


.exit {
	text-align: center;
}

.exit>p {
	background-color: rgba(0, 0, 0, 0.3);
}


.chat-exit {
	width: 100%;
	text-align: center;
	background-color: black;
	color: white;
}





/* 전송 버튼 */
.sendBtn {
  width: 3.5rem;
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: black;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: #f6c80eaa;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .sendBtn {
    transition: none;
  }
}
.sendBtn:hover {
  color: white;
  background-color: #F6C90E;
  border-color: #F6C90E;
}
.sendBtn-check + .sendBtn:hover {
  color: white;
  background-color: #F6C90E;
  border-color: #F6C90E;
}

.sendBtn-primary {
  --bs-btn-color: black;
  --bs-btn-bg: #FFE15D;
  --bs-btn-border-color: #FFE15D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FFE15D;
  --bs-btn-hover-border-color: #FFE15D;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FFE15D;
  --bs-btn-active-border-color: #FFE15D;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #FFE15D;
  --bs-btn-disabled-border-color: #FFE15D;
}


.sendBtn-primary:hover {
  color: white;
  background-color: #F6C90E;
  border-color: #F6C90E;
}
.sendBtn-primary-check + .sendBtn-primary:hover {
  color: white;
  background-color: #F6C90E;
  border-color: #F6C90E;
}






/* 대화 추가 */
#addTarget {
  width: 2.8wrem;
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: black;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: #f6c80eaa;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  #addTarget {
    transition: none;
  }
}
#addTarget:hover {
  color: white;
  background-color: #F6C90E;
  border-color: #F6C90E;
}
#addTarget-check + #addTarget:hover {
  color: white;
  background-color: #F6C90E;
  border-color: #F6C90E;
}

#addTarget-primary {
  --bs-btn-color: black;
  --bs-btn-bg: #FFE15D;
  --bs-btn-border-color: #FFE15D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FFE15D;
  --bs-btn-hover-border-color: #FFE15D;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FFE15D;
  --bs-btn-active-border-color: #FFE15D;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #FFE15D;
  --bs-btn-disabled-border-color: #FFE15D;
}


#addTarget-primary:hover {
  color: white;
  background-color: #F6C90E;
  border-color: #F6C90E;
}
#addTarget-primary-check + #addTarget-primary:hover {
  color: white;
  background-color: #F6C90E;
  border-color: #F6C90E;
}




/* 1:1 / 팀챗 나눔 */
.selectChatBtn {
  width: 7.36rem;
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: black;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .selectChatBtn {
    transition: none;
  }
}
.selectChatBtn:hover {
  color: white;
  background-color: #F6C90E;
  border-color: #F6C90E;
}
.selectChatBtn-check + .selectChatBtn:hover {
  color: white;
  background-color: #F6C90E;
  border-color: #F6C90E;
}

.selectChatBtn-primary {
  --bs-btn-color: black;
  --bs-btn-bg: #FFE15D;
  --bs-btn-border-color: #FFE15D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FFE15D;
  --bs-btn-hover-border-color: #FFE15D;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FFE15D;
  --bs-btn-active-border-color: #FFE15D;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #FFE15D;
  --bs-btn-disabled-border-color: #FFE15D;
}


.selectChatBtn-primary:hover {
  color: white;
  background-color: #F6C90E;
  border-color: #F6C90E;
}
.selectChatBtn-primary-check + .selectChatBtn-primary:hover {
  color: white;
  background-color: #F6C90E;
  border-color: #F6C90E;
}

















/* 채팅창 호버 */
.chatting-item:hover {
  color: white;
  background-color: #FFE15D;
  border: 4px solid #F6C90E;
  border-radius: 12px;
}
