<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>conBee 물품 등록</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/stock/stockList.css">
</head>
<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>

  <main class="d-flex flex-grow-1 overflow-y-auto">

    <th:block th:replace="~{stock/sidebar}"></th:block>

    <div class="d-flex flex-column flex-grow-1 align-items-center overflow-y-auto">
      <div class="d-flex justify-content-between align-items-center w-100 px-2">
        <p class="fs-4 pb-3 px-3 border-bottom w-100 pt-3">상품 등록</p>
        <!-- 검색창 -->
        <div class="searchBox fs-4 pb-3 px-3 border-bottom w-100 pt-3">
          <input type="text" class="form-control" placeholder="검색어를 입력해주세요" 
                aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">검색</button>
        </div>
      </div>


      <div class="w-100 px-4 flex-grow-1">

        <!-- 테이블 제목 -->
        <table class="table table-striped table-hover m-0">
          <thead class="sticky-top text-center">
            <tr>
              <th>#</th>
              <th>상품번호</th>
              <th>상품명</th>
              <th>재고 규격</th>
              <th>대분류</th>
              <th>소분류</th>
            </tr>
          </thead>

          <!-- 테이블 내용 -->

          <tbody id="goodsTable" class="text-center overflow-y-auto">
              <tr id="checkbox" th:each="stock : ${map.goodsListSelect}" th:object="${stock}">
                <td>
                  <label class="w-100">
                    <input type="checkbox" class="checkbox" th:name="*{goodsNo}">
                  </label>
                </td>
                <td th:text="*{goodsNo}">상품번호</td>
                <td th:text="*{goodsName}">상품이름</td>
                <td th:text="*{goodsStandard}">재고규격</td>
                <td th:text="*{lcategoryName}">대분류</td>
                <td th:text="*{scategoryName}">소분류</td>
              </tr>
          </tbody>

        </table>
      </div>

      <!-- 버튼 모음 -->
      <div class="w-100 d-flex justify-content-end pe-4 sticky-bottom bg-white">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#goodsInsertModel">등록</button>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#goodsUpdateModel" id="updateBtn">수정</button>
          <button name="goodsDelete" id="deleteBtn" type="button" class="btn btn-warning">삭제</button>
        </div>
      </div>    
    </div>
  </main>


  <!-- 상품 등록 Modal -->
  <div class="modal fade" id="goodsInsertModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
        <!-- 큰 제목 -->
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">상품 등록</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <form action="/stock/goodsInsert" method="post">
            <!-- 상품명 -->
            <div class="form-floating mb-3">
              <input name="goodsName" type="text" class="form-control" id="" placeholder="품목명">
              <label>상품명</label>
            </div>
            
            <!-- 재고 규격 -->
            <div class="form-floating mb-3">
              <input name="goodsStandard" type="text" class="form-control" id="" placeholder="품목구분">
              <label>재고규격</label>
            </div>
            
            <!-- 대분류 -->
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect01">대분류</label>
              <select class="form-select" name="lcategoryName" id="lcategorySelect">
                <option value="0">선택</option>
                <option>간편식사</option>
                <option>즉석조리</option>
                <option>과자류</option>
                <option>아이스크림</option>
                <option>식품</option>
                <option>음료</option>
                <option>생활용품</option>
              </select>
            </div>
            
            <!-- 소분류 -->
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect01">소분류</label>
              <select class="form-select" name="scategoryName" id="scategorySelect">
                <option value="0">선택</option>
              </select>
            </div>
            
            <!-- 버튼 -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              <button type="submit" class="btn btn-primary btn-warning" id="goodsInsertBtn">등록</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <!-- 상품 수정 Modal -->
  <div class="modal fade" id="goodsUpdateModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        
        <!-- 큰 제목 -->
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">상품 수정</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <form action="/stock/goodsUpdate" method="post">
          <!-- 상품명 -->
            <div class="form-floating mb-3">
              <input name="goodsName" type="text" class="form-control" id="goodsName" placeholder="품목명">
              <label for="goodsName">상품명</label>
            </div>
  
            <!-- 재고 규격 -->
            <div class="form-floating mb-3">
              <input name="goodsStandard" type="text" class="form-control" id="goodsStandard" placeholder="품목구분">
              <label for="goodsStandard">재고규격</label>
            </div>
  
            <!-- 대분류 -->
            <div class="input-group mb-3">
              <label class="input-group-text" for="lcategorySelectUpdate">대분류</label>
              <select class="form-select" name="lcategoryName" id="lcategorySelectUpdate">
                <option value="">선택</option>
                <option>간편식사</option>
                <option>즉석조리</option>
                <option>과자류</option>
                <option>아이스크림</option>
                <option>식품</option>
                <option>음료</option>
                <option>생활용품</option>
              </select>
            </div>
  
            <!-- 소분류 -->
            <div class="input-group mb-3">
              <label class="input-group-text" for="scategorySelectUpdate">소분류</label>
              <select class="form-select" name="scategoryName" id="scategorySelectUpdate">
                <option value="">선택</option>
              </select>
            </div>
  
            <!-- 버튼 -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              <button type="submit" class="btn btn-primary btn-warning" id="goodsUpdateBtn">수정</button>
            </div>
            <input type="hidden" id="goodsNo" name="goodsNo" value="">
          </form>
          </div>
          
        </div>
      </div>
    </div>

  <th:block th:replace="~{common/footer}"></th:block>

  <script src="/js/stock/goodsList.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>