<!-- 사이드 바 -->
<div class="d-flex flex-column h-100 p-3 bg-body-tertiary " style="width: 200px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">재고</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto " id="sidebarHover">
        <li class="nav-item">
            <b>재고</b>
        </li>
        <li>
        <a href="/stock/goodsList" class="nav-link link-body-emphasis">
            품목 등록
        </a>
        </li>
        <li>
        <a href="/stock/stockList" class="nav-link link-body-emphasis">
            재고 현황
        </a>
        </li>
        <br>
        <li>
            <b>발주</b>
        </li>
        <li>
        <a href="/stock/order/list" class="nav-link link-body-emphasis">
            발주서 조회
        </a>
        </li>
        <li>
        <a href="#" class="nav-link link-body-emphasis">
            발주서 입력
        </a>
        </li>
        <li>
        <a href="#" class="nav-link link-body-emphasis">
            발주서 현황
        </a>
        </li>
    </ul>
</div>