<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>conBee 점포별 상품</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/stock/stockList.css">
</head>
<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>

  <main class="d-flex flex-grow-1 overflow-y-auto">

    <th:block th:replace="~{stock/sidebar}"></th:block>

    <div class="d-flex flex-column flex-grow-1 align-items-center overflow-y-auto">
      <div class="d-flex justify-content-between align-items-center w-100 px-2">
        <p class="fs-4 pb-3 px-3 border-bottom w-100 pt-3">재고 현황</p>
      </div>
        <!-- 검색창 -->
        <div class="searchBox">
          <input type="text" class="form-control" placeholder="검색어를 입력해주세요" 
                aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">검색</button>
        </div>
      <div class="w-100 px-4 flex-grow-1">
        <!-- 테이블 제목 -->
        <table class="table table-striped table-hover m-0">
          <thead class="sticky-top text-center">
            <tr>
              <th>#</th>
              <th>번호</th>
              <th>품목명</th>
              <th>품목구분</th>
              <th>그룹명</th>
              <th>규격</th>
              <th>입고단가</th>
              <th>출고단가</th>
              <th>재고</th>
              <th>할인율</th>
              <th>가격</th>
            </tr>
          </thead>
          <!-- 테이블 내용 -->
          <tbody class="text-center">
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
            <tr>
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox">
                </label>
              </td>
              <td>1</td>
              <td>울트라 스킨</td>
              <td>신변잡화</td>
              <td>화장품</td>
              <td>150ml</td>
              <td>20000</td>
              <td>30000</td>
              <td>5</td>
              <td>10</td>
              <td>27000</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="w-100 align-items-start sticky-bottom bg-white">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-cor" data-bs-toggle="modal" data-bs-target="#stockInsertModel">등록</button>
          <button type="button" class="btn btn-cor">수정</button>
          <button type="button" class="btn btn-cor">재고수정</button>
          <button type="button" class="btn btn-cor">사용중단/재사용</button>
          <button type="button" class="btn btn-cor">삭제</button>
        </div>
      </div>
    </div>    
  </main>


  <!-- Modal -->
  <div class="modal fade" id="stockInsertModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">물품 등록</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="" placeholder="품목명">
          <label for="floatingInput">품목명</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="" placeholder="품목구분">
          <label for="floatingPassword">품목구분</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="" placeholder="그룹명">
          <label for="floatingPassword">그룹명</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="" placeholder="규격">
          <label for="floatingPassword">규격</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="" placeholder="입고단가">
          <label for="floatingPassword">입고단가</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="" placeholder="출고단가">
          <label for="floatingPassword">출고단가</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="" placeholder="재고">
          <label for="floatingPassword">재고</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="" placeholder="할인율">
          <label for="floatingPassword">할인율</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="" placeholder="가격">
          <label for="floatingPassword">가격</label>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary">등록</button>
        </div>
      </div>
    </div>
  </div>


  <th:block th:replace="~{common/footer}"></th:block>

  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>