<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>conBee</title>
  <link rel="stylesheet" href="/css/stock/stockList.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>

  
  <main class="d-flex flex-grow-1 overflow-y-auto">

    <th:block th:replace="~{stock/sidebar}"></th:block>

    <div class="d-flex flex-column flex-grow-1 align-items-center overflow-y-auto">
      <div class="d-flex justify-content-between align-items-center w-100 px-2">
        <p class="fs-1">재고 현황</p>
        <div>
          <input id="stockQuery" class="form-control" type="text" placeholder="검색어를 입력해주세요">
        </div>
      </div>
      <table class="table table-bordered">
        <tr class="trbox">
          <th class="text-center">#</th>
          <th class="text-center">번호</th>
          <th class="text-center">품목명</th>
          <th class="text-center">품목구분</th>
          <th class="text-center">그룹명</th>
          <th class="text-center">규격</th>
          <th class="text-center">입고단가</th>
          <th class="text-center">출고단가</th>
          <th class="text-center">재고</th>
          <th class="text-center">할인율</th>
          <th class="text-center">가격</th>
        </tr>
        <tr>
          <td class="text-center">
            <label class="w-100">
              <input type="checkbox" class="checkbox">
            </label>
          </td>
          <td>1</td>
          <td>울트라 스킨</td>
          <td>신변잡화</td>
          <td>화장품</td>
          <td>150ml</td>
          <td>20000</td>
          <td>30000</td>
          <td>5</td>
          <td>10</td>
          <td>27000</td>
        </tr>
        <tr>
          <td class="text-center">
            <label class="w-100">
              <input type="checkbox" class="checkbox">
            </label>
          </td>
          <td>2</td>
          <td>울트라 로션</td>
          <td>신변잡화</td>
          <td>화장품</td>
          <td>150ml</td>
          <td>21000</td>
          <td>32000</td>
          <td>3</td>
          <td>-</td>
          <td>32000</td>
        </tr>
        <tr>
          <td class="text-center">
            <label class="w-100">
              <input type="checkbox" class="checkbox">
            </label>
          </td>
          <td>3</td>
          <td>사이다</td>
          <td>음료</td>
          <td>음료</td>
          <td>355ml</td>
          <td>800</td>
          <td>1800</td>
          <td>4</td>
          <td>-</td>
          <td>1800</td>
        </tr>
      </table>
    </div>

  </main>

  <th:block th:replace="~{common/footer}"></th:block>

  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>