<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>conBee 점포별 재고</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/stock/stockList.css">
</head>
<body class="d-flex flex-column" style="height: 100vh;">

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">상세 검색</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="revenueSearchForm" action="/revenue/list" method="get">
            <!-- 대분류 -->
            <div class="input-group mb-3">
              <label class="input-group-text" for="lcategorySelect">대분류</label>
              <select class="form-select" name="lcategoryName" id="lcategorySelect">
                <option value="">선택</option>
                <option>간편식사</option>
                <option>즉석조리</option>
                <option>과자류</option>
                <option>아이스크림</option>
                <option>식품</option>
                <option>음료</option>
                <option>생활용품</option>
              </select>
            </div>
  
            <!-- 소분류 -->
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect01">소분류</label>
              <select class="form-select" name="scategoryName" id="scategorySelect">
                <option value="">선택</option>
              </select>
            </div>
  
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="goodsName" id="floatingName" placeholder="">
              <label for="floatingName">품목 이름</label>
            </div>
            <div class="input-group mb-3">
              <div class="form-floating w-75">
                <input type="number" name="revenue" class="form-control" id="floatingPrice" value="0">
                <label for="floatingPrice">판매금액</label>
              </div>
              <select class="form-select" name="flag">
                <option value="1">이상</option>
                <option value="2">이하</option>
              </select>
            </div>
            <div class="input-group input-daterange d-flex align-items-center">
              <div class="input-group-text">날짜선택</div>
              <input type="text" class="form-control" name="startDate">
              <div class="input-group-text">to</div>
              <input type="text" class="form-control" name="endDate">
            </div>
            <input type="hidden" name="storeNo" id="storeNo" value="">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-warning" id="revenueSearchBtn">검색</button>
        </div>
      </div>
    </div>
  </div>

  <th:block th:replace="~{common/header}"></th:block>

  <main class="d-flex flex-grow-1 overflow-y-auto">

    <th:block th:replace="~{stock/sidebar}"></th:block>

    <div class="d-flex flex-column flex-grow-1 align-items-center overflow-y-auto p-3">

      <div class="d-flex justify-content-between align-items-center w-100 border-bottom">
        <div class="fs-3 pb-3 px-3">재고 조회</div>
        <div class="d-flex align-items-center">
          <div>
            <div class="input-group">
              <select class="form-select" id="storeNoSelect">
                <th:block th:each="store : ${session.loginMember.storeList}">
                  <option th:value="${store.storeNo}" th:text="${store.storeName}"></option>
                </th:block>
              </select>
              <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                상세 검색
              </button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="w-100 px-4 pt-2 flex-grow-1">
        <!-- 테이블 제목 -->
        <table class="table table-striped table-hover m-0">
          <thead class="sticky-top text-center">
            <tr>
              <th>#</th>
              <th>상품번호</th>
              <th>상품이름</th>
              <th>품목구분</th>
              <th>그룹명</th>
              <th>재고규격</th>
              <th>입고단가</th>
              <th>출고단가</th>
              <th>재고</th>
              <th>할인율</th>
              <th>가격</th>
            </tr>
          </thead>
          <!-- 테이블 내용 -->
          <tbody class="text-center">
            <tr th:each="stock : ${stockListSelect}" th:object="${stock}">
              <td>
                <label class="w-100">
                  <input type="checkbox" class="checkbox" th:name="*{goodsNo}">
                </label>
              </td>
              <td th:text="*{goodsNo}">1</td>
              <td th:text="*{goodsName}" data-bs-toggle="modal" data-bs-target="#goodsDateilModel" class="goodsDetailBtn">신라면</td>
              <td th:text="*{lcategoryName}">식품</td>
              <td th:text="*{scategoryName}">가공식사</td>
              <td th:text="*{goodsStandard}">-</td>
              <td th:text="*{stockInPrice}">800</td>
              <td th:text="*{stockOutPrice}">1500</td>
              <td th:text="*{stockAmount}">0</td>
              <td th:text="*{stockDiscount}">10</td>
              <td th:text="*{priceSum}">6750</td>
              <td th:text="*{storeNo}" style="display: none;"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="w-100 d-flex justify-content-end pe-4 sticky-bottom bg-white mb-3">
        <div class="" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-warning me-1" data-bs-toggle="modal" data-bs-target="#stockUpdateModel" id="stockUpdateBtn">재고수정</button>
          <button type="button" class="btn btn-warning me-1" data-bs-toggle="modal" data-bs-target="#stockInsertModel">등록</button>
          <button type="button" class="btn btn-warning me-1">사용중단/재사용</button>
          <button name="stockDelete" id="deleteBtn" type="button" class="btn btn-warning">삭제</button>
        </div>
      </div>
    </div>    
  </main>


  <!-- 재고 등록 Modal -->
  <div class="modal fade" id="stockInsertModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">


        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">재고 품목 등록</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form action="/stock/stockInsert" method="post" >
            <div class="mb-3">
              <select class="form-select" name="storeNo" id="storeNameClick">
                <option th:each="store : ${session.loginMember.storeList}" th:value="${store.storeNo}" th:text="${store.storeName}"></option>
              </select>
            </div>
            <div>
              <div id="autoSerchNameContainer" class="form-floating mb-3">
                <div  class="position-absolute w-100 start-0" style="top: 110%;">
                  <ul id="goodsNameList" class="list-group">
                    <!-- <li class="list-group-item">An item</li> -->
                  </ul>
                </div>
                <input type="text" class="form-control" name="goodsName" id="serachName" placeholder="품목명">
                <label for="serachName">상품명</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="lcategoryName" placeholder="대분류" disabled>
                <label for="">대분류</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="scategoryName" placeholder="소분류" disabled>
                <label for="">소분류</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="stockInPrice" id="stockInPrice" placeholder="입고단가" value="0" disabled>
                <label for="">입고단가</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="stockOutPrice"  id="stockOutPrice" placeholder="출고단가">
              <label for="">출고단가</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="stockDiscount" id="stockDiscount" placeholder="할인율" value="0">
                <label for="">할인율</label>
              </div>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              <button type="submit" class="btn btn-primary btn-warning">등록</button>
            </div>
            <input type="hidden" name="stockAmount" value="0">
          </form>
        </div>

      </div>
    </div>
  </div>

  <!-- 재고 수정 Modal -->
  <div class="modal fade" id="stockUpdateModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">


        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">재고 품목 등록</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form action="/stock/stockUpdate" method="post" >
            <div>
              <div id="autoSerchNameContainer" class="form-floating mb-3">
                <div  class="position-absolute w-100 start-0" style="top: 110%;">
                  <ul id="goodsNameList" class="list-group">
                    <!-- <li class="list-group-item">An item</li> -->
                  </ul>
                </div>
                <input type="text" class="form-control" name="goodsName" id="goodsName" placeholder="품목명">
                <label for="serachName">상품명</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="lcategoryNameUpdate" placeholder="대분류" disabled>
                <label for="">대분류</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="scategoryNameUpdate" placeholder="소분류" disabled>
                <label for="">소분류</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="stockInPrice" id="stockInPrice" placeholder="입고단가" value="0" disabled>
                <label for="">입고단가</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="stockOutPrice"  id="stockOutPriceUpdate" placeholder="출고단가">
              <label for="">출고단가</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="stockDiscount" id="stockDiscountUpdate" placeholder="할인율" value="0">
                <label for="">할인율</label>
              </div>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              <button type="submit" class="btn btn-primary btn-warning">수정</button>
            </div>
            <input type="hidden" id="storeNo" name="storeNo" value="">
            <input type="hidden" id="goodsNoUpdate" name="goodsNo" value="">
          </form>
        </div>

      </div>
    </div>
  </div>

  <!-- 상품 상세 조회 Modal -->
  <div class="modal fade" id="goodsDateilModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        
        <!-- 큰 제목 -->
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">상품 상세 조회</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <div class="d-flex flex-grow-1 align-items-center justify-content-evenly">
            <div id="stockImage">
              <img src="" alt="상품 이미지" id="goodsDetailImage" class="stockDetailImage">
            </div>
            <div id="stockListBox">
              <div name="goodsName" id="goodsDetailName" class="fs-2 fw-bold mb-3">
                농심) 신라면 더 레드
              </div>
              <div name="goodsStandard" class="fs-6 mb-3 d-flex flex-column">
                <span class="fw-bold mb-1">규격</span>
                <span id="goodsDetailStandard">1*6 box</span>
              </div>
              <div name="goodsDetail" class="fs-6 mb-3 d-flex flex-column ">
                <span class="fw-bold mb-1">상품 설명</span>
                <span id="goodsDetail">
                  더 매워지고 깊어진 최적 밸런스의 국물맛, 표고버섯, 고기, 청경채 등을 늘려 건더기가 더욱 풍부, 꼬들꼬들하고 탱탱한 신라면의 면발을 그대로
                </span>

              </div>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>
          
      </div>
    </div>
  </div>

  <script src="/js/stock/stockList.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>

