<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>결재진행함</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/approval/writeApproval.css">
</head>
<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>
  <!-- progressApprovalList, pagination 변수 선언 -->
  <main class="d-flex flex-grow-1" th:with="progressApprovalList=${map.progressApprovalList}, pagination=${map.pagination}">

    <th:block th:replace="~{approval/sidebar}"></th:block>

    <div class="d-flex flex-column flex-grow-1 p-3">

      <div class="fs-3 pb-3 px-3 border-bottom">
        결재진행함
      </div>

      <div class="w-100 px-4 pt-2 flex-grow-1">

        <table class="table table-striped table-hover">
          <colgroup>
            <col width=7%>
            <col width=7%>
            <col width=7%>
            <col width=25%>
            <col width=8%>
            <col width=12%>
            <col width=15%>
            <col width=8%>
            <col width=6%>
          </colgroup>
          <thead>
            <tr style="text-align: center;">
              <th>문서번호</th>
              <th>구분</th>
              <th>항목</th>
              <th>제목</th>
              <th>작성자</th>
              <th>부서</th>
              <th>작성일자</th>
              <th>결재자</th>
              <th>처리상태</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">

            <!-- 결재 진행 문서가 없을 때 -->
            <tr th:if="${#lists.size(progressApprovalList) == 0}">
              <th colspan="9" style="text-align: center;">결재 진행중인 문서가 없습니다.</th>
            </tr>

            <!-- 결재 진행 문서가 존재할 때 -->
            <th:block th:unless="${#lists.size(progressApprovalList) == 0}">
              <tr th:each="approval : ${progressApprovalList}" th:object="${approval}" style="text-align: center;">
                <td th:text="*{approvalNo}">16</td>
                <td th:text="*{docCategoryGroup}">복무</td>
                <td th:text="*{docCategorySort}">휴가</td>

                <td th:text="*{approvalTitle}" style="text-align: start; font-weight: bold; cursor: pointer;" id="clickModal" th:onclick="modal([[*{approvalNo}]], [[*{docCategoryNo}]])">연차 신청합니다.</td>

                <td th:text="*{memberName}">정유진</td>
                <td>[[*{departmentName}]]([[*{teamName}?: '']])</td>
                <td th:text="*{approvalDate}">2023-11-30 16:24</td>
                <td th:text="*{finalApproverName}">이예리나</td>
                <td>결재중</td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>

      <!-- 페이지네이션 -->
      <div class="w-100 sticky-bottom fixed-bottom bg-white pagination-area" th:if="${#lists.size(progressApprovalList) > 0}">

        <nav aria-label="Page navigation example" class="d-flex justify-content-center" style="color: #303841;">

          <!-- ======== 페이지네이션 : 일반 조회 =========== -->
          <ul class="pagination" th:if="${param.query == null}">
            <!-- 첫 페이지로 이동 -->
            <li class="page-item">
              <a class="page-link" aria-label="First" th:href="@{/approval/progressApproval(cp=1)}">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <!-- 이전 목록 마지막 번호로 이동 -->
            <li class="page-item">
              <a class="page-link" aria-label="Previous" th:href="@{/approval/progressApproval(cp=${pagination.prevPage})}">
                <span aria-hidden="true">&lt;</span>
              </a>
            </li>

            <!-- 특정 페이지로 이동 -->
            <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">

              <!-- 현재 보고있는 페이지 -->
              <li th:if="${i == pagination.currentPage}" class="page-item">
                <a class="current page-link" th:text="${i}">1</a>
              </li>

              <!-- 보고있지 않은 페이지 -->
              <li th:unless="${i == pagination.currentPage}" class="page-item">
                <a class="page-link" th:href="@{/approval/progressApproval(cp=${i})}" th:text="${i}">2</a>
              </li>
            </th:block>

            <!-- 다음 목록 시작 번호로 이동 -->
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next" th:href="@{/approval/progressApproval(cp=${pagination.nextPage})}">
                <span aria-hidden="true">&gt</span>
              </a>
            </li>

            <li class="page-item">
              <a class="page-link" href="#" aria-label="End" th:href="@{/approval/progressApproval(cp=${pagination.maxPage})}">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>

        </nav>
      </div>


      
    </div>

    <!-- ==================================================템플릿들============================================================= -->

    <!-- 휴가신청서 Modal [0]-->
    <div class="modal fade" id="holidayModal" tabindex="-1" aria-labelledby="holidayModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          
          <!-- 휴가신청서 모달 헤더 -->
          <div class="modal-header">
            <div><h1 class="modal-title fs-5" id="holidayModalLabel">결재 요청문서</h1></div>
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>

          <!-- 기안서 템플릿 바디(비동기 생성) -->
          <!-- <th:block th:replace="~{approval/approvalDoc/docHolidayFin}"></th:block> -->

          <!-- 모달 푸터 -->
          <div class="modal-footer">
            <div class="btn-group dropup">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              style="width: 80px; background-color: #f2f2f2; color: black;">
                인쇄
              </button>
              <ul class="dropdown-menu">
                <li><div class="dropdown-item" onclick="downloadPdf();">PDF 저장</div></li>
                <li><div class="dropdown-item" onclick="fnModalPrint(this)">인쇄</div></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- 퇴직 신청서 Modal[1] -->
    <div class="modal fade" id="retirementModal" tabindex="-1" aria-labelledby="retirementModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          
          <!-- 퇴직 모달 헤더 -->
          <div class="modal-header">
            <div><h1 class="modal-title fs-5" id="retirementModalLabel">결재 요청문서</h1></div>
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>

          <!-- 기안서 템플릿 바디 -->
          <!-- <th:block th:replace="~{approval/approvalDoc/docRetirement}"></th:block> -->

          <!-- 모달 푸터 -->
          <div class="modal-footer">
            <div class="btn-group dropup">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              style="width: 80px; background-color: #f2f2f2; color: black;">
                인쇄
              </button>
              <ul class="dropdown-menu">
                <li><div class="dropdown-item" onclick="downloadPdf();">PDF 저장</div></li>
                <li><div class="dropdown-item" onclick="fnModalPrint(this)">인쇄</div></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <!-- 출점 신청서 Modal [2]-->
    <div class="modal fade" id="openStoreModal" tabindex="-1" aria-labelledby="openStoreModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          
          <!-- 출점 모달 헤더 -->
          <div class="modal-header">
            <div><h1 class="modal-title fs-5" id="openStoreModalLabel">결재 요청문서</h1></div>
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>

          <!-- 기안서 템플릿 바디 -->
          <!-- <th:block th:replace="~{approval/approvalDoc/docStore}"></th:block> -->

          <!-- 모달 푸터 -->
          <div class="modal-footer">
            <div class="btn-group dropup">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              style="width: 80px; background-color: #f2f2f2; color: black;">
                인쇄
              </button>
              <ul class="dropdown-menu">
                <li><div class="dropdown-item" onclick="downloadPdf();">PDF 저장</div></li>
                <li><div class="dropdown-item" onclick="fnModalPrint(this)">인쇄</div></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- 폐점 신청서 Modal [3] -->
    <div class="modal fade" id="closeStoreModal" tabindex="-1" aria-labelledby="closeStoreModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          
          <!-- 폐점 모달 헤더 -->
          <div class="modal-header">
            <div><h1 class="modal-title fs-5" id="closeStoreModalLabel">결재 요청문서</h1></div>
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>

          <!-- 기안서 템플릿 바디 -->
          <!-- <th:block th:replace="~{approval/approvalDoc/docStore}"></th:block> -->

          <!-- 모달 푸터 -->
          <div class="modal-footer">
            <div class="btn-group dropup">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              style="width: 80px; background-color: #f2f2f2; color: black;">
                인쇄
              </button>
              <ul class="dropdown-menu">
                <li><div class="dropdown-item" onclick="downloadPdf();">PDF 저장</div></li>
                <li><div class="dropdown-item" onclick="fnModalPrint(this)">인쇄</div></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- 지출결의서 Modal [4]-->
    <div class="modal fade" id="expenseModal" tabindex="-1" aria-labelledby="expenseModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          
          <!-- 지출결의서 모달 헤더 -->
          <div class="modal-header">
            <div><h1 class="modal-title fs-5" id="expenseModalLabel">결재 요청문서</h1></div>
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>

          <!-- 기안서 템플릿 바디 --> <!-- 비동기 생성 -->
          <!-- <th:block th:replace="~{approval/approvalDoc/docExpenseFin}"></th:block> -->

          <!-- 모달 푸터 -->
          <div class="modal-footer">
            <div class="btn-group dropup">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              style="width: 80px; background-color: #f2f2f2; color: black;">
                인쇄
              </button>
              <ul class="dropdown-menu">
                <li><div class="dropdown-item" onclick="downloadPdf();">PDF 저장</div></li>
                <li><div class="dropdown-item" onclick="fnModalPrint(this)">인쇄</div></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- 발주기안서 Modal [5]-->
    <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          
          <!-- 발주기안서 모달 헤더 -->
          <div class="modal-header">
            <div><h1 class="modal-title fs-5" id="orderModalLabel">결재 요청문서</h1></div>
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>

          <!-- 기안서 템플릿 바디 -->
          <!-- <th:block th:replace="~{approval/approvalDoc/docOrder}"></th:block> -->

          <!-- 모달 푸터 -->
          <div class="modal-footer">
            <div class="btn-group dropup">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              style="width: 80px; background-color: #f2f2f2; color: black;">
                인쇄
              </button>
              <ul class="dropdown-menu">
                <li><div class="dropdown-item" onclick="downloadPdf();">PDF 저장</div></li>
                <li><div class="dropdown-item" onclick="fnModalPrint(this)">인쇄</div></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- ===================================================================================================================== -->

  </main>

  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/approval/waitApproval.js"></script>
  <script src="/js/approval/html2canvas.js"></script>
  <script src="/js/approval/jspdf.min.js"></script>
</body>
</html>