<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>결재요청함</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>

  <main class="d-flex flex-grow-1">

    <th:block th:replace="~{approval/sidebar}"></th:block>

    <div class="d-flex flex-column flex-grow-1 p-3">

      <div class="fs-3 pb-3 px-3 border-bottom">
        결재요청함
      </div>

      <div class="w-100 px-4 pt-2 flex-grow-1">

        <table class="table table-striped table-hover">
          <colgroup>
            <col width=5%>
            <col width=7%>
            <col width=7%>
            <col width=7%>
            <col width=25%>
            <col width=8%>
            <col width=8%>
            <col width=15%>
            <col width=8%>
            <col width=10%>
          </colgroup>
          <thead>
            <tr style="text-align: center;">
              <th><input type="checkbox" id="checkAll"></th>
              <th>문서번호</th>
              <th>구분</th>
              <th>항목</th>
              <th>제목</th>
              <th>작성자</th>
              <th>부서</th>
              <th>작성일자</th>
              <th>결재자</th>
              <th>처리상태</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            
            <tr style="text-align: center;" th:each="approval : ${requestApprovalList}" th:object="${approval}">
              <td><input type="checkbox"></td>
              <td th:text="*{approvalNo}">6</td>
              <td th:text="*{docCategoryGroup}">업무</td>
              <td th:text="*{docCategorySort}">발주</td>
              <td style="text-align: start;" th:text="*{approvalTitle}">발주기안서</td>
              <td th:text="*{memberName}">정유진</td>
              <td>전산팀</td>
              <td th:text="*{approvalDate}">2023-11-28 11:00</td>
              <td>이예리나</td>
              <td>결재중</td>
            </tr>

          </tbody>
        </table>
      </div>
      
    </div>

  </main>

  <div class="w-100 d-flex justify-content-end pe-4 sticky-bottom bg-white mb-3">
    <a href="#" class="btn btn-warning" style="width: 80px;">회수</a>
  </div>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/approval/commonApproval.js"></script>
</body>
</html>