<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>반려문서함</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<style>
  td {
    vertical-align: middle;
  }
</style>
<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>

  <main class="d-flex flex-grow-1">

    <th:block th:replace="~{approval/sidebar}"></th:block>

    <!-- ==================================================템플릿들============================================================= -->

    <!-- 지출결의서 Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          
          <!-- 모달 헤더 -->
          <div class="modal-header">
            <div><h1 class="modal-title fs-5" id="exampleModalLabel">결재 요청문서</h1></div>
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>

          <!-- 기안서 템플릿 바디 -->
          <th:block th:replace="~{approval/approvalDoc/docExpenseFin}"></th:block>

          <!-- 모달 푸터 -->
          <div class="modal-footer">
            <button type="button" class="btn btn-warning me-1" data-bs-target="#" style="width: 80px;">결재</button>
            <button type="button" class="btn btn-secondary me-1" data-bs-target="#" style="width: 80px;">반려</button>


            <div class="btn-group dropup">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              style="width: 80px; background-color: #f2f2f2; color: black;">
                인쇄
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">PDF 저장</a></li>
                <li><a class="dropdown-item" href="#">인쇄</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- =============================================================================================================== -->

    
    <div class="d-flex flex-column flex-grow-1 p-3">

      <div class="fs-3 pb-3 px-3 border-bottom">
        반려문서함
      </div>

      

      <div class="w-100 px-4 pt-2 flex-grow-1">

        <table class="table table-striped table-hover">
          <colgroup>
            <col width=5%>
            <col width=7%>
            <col width=7%>
            <col width=7%>
            <col width=25%>
            <col width=8%>
            <col width=8%>
            <col width=15%>
            <col width=8%>
            <col width=10%>
          </colgroup>
          <thead>
            <tr style="text-align: center;">
              <th><input type="checkbox" id="checkAll"></th>
              <th>문서번호</th>
              <th>구분</th>
              <th>항목</th>
              <th>제목</th>
              <th>작성자</th>
              <th>부서</th>
              <th>작성일자</th>
              <th>결재자</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">

            <tr style="text-align: center; cursor: pointer;" onclick="handleClick(event);">
              <td><input type="checkbox"></td>
              <td>62</td>
              <td>복무</td>
              <td>휴가</td>
              <td style="text-align: start; font-weight: bold;" class="approvalTitle" data-bs-toggle="modal" data-bs-target="#exampleModal" id="clickModal">11/30 연차 신청합니다.</td>
              <td>이예리나</td>
              <td>전산팀</td>
              <td>2023-11-29 10:04</td>
              <td>이예리나</td>
              <td>
                <a href="#" class="btn btn-warning" style="width: 90px;">반려취소</a>
              </td>
            </tr>

            <tr style="text-align: center; cursor: pointer;" onclick="handleClick(event);">
              <td><input type="checkbox"></td>
              <td>62</td>
              <td>복무</td>
              <td>휴가</td>
              <td style="text-align: start; font-weight: bold;" class="approvalTitle" data-bs-toggle="modal" data-bs-target="#exampleModal" id="clickModal">11/30 연차 신청합니다.</td>
              <td>이예리나</td>
              <td>전산팀</td>
              <td>2023-11-29 10:04</td>
              <td>이예리나</td>
              <td>
                <a href="#" class="btn btn-outline-warning" style="width: 90px;">재작성</a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      
    </div>

  </main>
  <div class="w-100 d-flex justify-content-end pe-4 sticky-bottom bg-white mb-3">
      <a href="#" class="btn btn-secondary" style="width: 80px;">삭제</a>
  </div>

  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/approval/commonApproval.js"></script>
</body>
</html>