<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>반려문서함</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/approval/writeApproval.css">
</head>
<style>
  td {
    vertical-align: middle;
  }
</style>
<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>

  <!-- returnApprovalList, pagination 변수 선언 -->
  <main class="d-flex flex-grow-1" th:with="returnApprovalList=${map.returnApprovalList}, pagination=${map.pagination}">

    <th:block th:replace="~{approval/sidebar}"></th:block>

    <div class="d-flex flex-column flex-grow-1 p-3">

      <div class="fs-3 pb-3 px-3 border-bottom">
        반려문서함
      </div>

      <div class="w-100 px-4 pt-2 flex-grow-1">

        <table class="table table-striped table-hover">
          <colgroup>
            <col width=7%>
            <col width=7%>
            <col width=7%>
            <col width=25%>
            <col width=8%>
            <col width=12%>
            <col width=15%>
            <col width=8%>
            <col width=6%>
          </colgroup>
          <thead>
            <tr style="text-align: center;">
              <th>문서번호</th>
              <th>구분</th>
              <th>항목</th>
              <th>제목</th>
              <th>작성자</th>
              <th>부서</th>
              <th>작성일자</th>
              <th>결재자</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">

            <!-- 반려문서가 없을 때 -->
            <tr th:if="${#lists.size(returnApprovalList) == 0}">
              <th colspan="10" style="text-align: center;">반려된 문서가 없습니다.</th>
            </tr>

            <!-- 결재 완료 문서가 존재할 때 -->
            <th:block th:unless="${#lists.size(returnApprovalList) == 0}">
              <tr th:each="approval : ${returnApprovalList}" th:object="${approval}"  style="text-align: center;" onclick="handleClick(event);">
                <td th:text="*{approvalNo}">16</td>
                <td th:text="*{docCategoryGroup}">복무</td>
                <td th:text="*{docCategorySort}">휴가</td>
                <td th:text="*{approvalTitle}" style="text-align: start; font-weight: bold; cursor: pointer;" id="clickModal" th:onclick="modal([[*{approvalNo}]], [[*{docCategoryNo}]])">연차 신청합니다.</td>
                <td th:text="*{memberName}">정유진</td>
                <td>[[*{departmentName}]]([[*{teamName}?: '']])</td>
                <td th:text="*{approvalDate}">2023-11-30 16:24</td>
                <td th:text="*{finalApproverName}">이예리나</td>

                <!-- 기안자명이 로그인 회원명과 같을시 재작성 버튼-->
                <td th:if="*{memberName} == ${session.loginMember.memberName}">
                  <button class="btn btn-outline-warning rewriteApproval" style="width: 90px;"
                  data-bs-toggle="modal" 
                  
                  th:attr="data-one-id=*{approvalNo}, data-bs-target='#rewriteDoc' + ${(approval.docCategoryNo == 0 ? 
                    1 : (approval.docCategoryNo == 1 ? 
                    2 : (approval.docCategoryNo == 2 || approval.docCategoryNo == 3 || approval.docCategoryNo == 6) ? 
                    3 : (approval.docCategoryNo == 4 ? 
                    4 : (approval.docCategoryNo == 5 ? 
                    5 : approval.docCategoryNo))))},
                    data-one-sort=${approval.docCategoryNo}" >
                  재작성
                  </button>
                </td>

                <td th:unless="*{memberName} == ${session.loginMember.memberName}">
                  <a th:href="@{/approval/cancleReturn(approvalNo=*{approvalNo})}" class="btn btn-warning" style="width: 90px;">반려취소</a> 
                </td>

              </tr>
            </th:block>
          </tbody>
        </table>
      </div>

      <!-- 페이지네이션 -->
      <div class="w-100 sticky-bottom fixed-bottom bg-white pagination-area" th:if="${#lists.size(returnApprovalList) > 0}">

        <nav aria-label="Page navigation example" class="d-flex justify-content-center" style="color: #303841;">

          <!-- ======== 페이지네이션 : 일반 조회 =========== -->
          <ul class="pagination" th:if="${param.query == null}">
            <!-- 첫 페이지로 이동 -->
            <li class="page-item">
              <a class="page-link" aria-label="First" th:href="@{/approval/returnApproval(cp=1)}">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <!-- 이전 목록 마지막 번호로 이동 -->
            <li class="page-item">
              <a class="page-link" aria-label="Previous" th:href="@{/approval/returnApproval(cp=${pagination.prevPage})}">
                <span aria-hidden="true">&lt;</span>
              </a>
            </li>

            <!-- 특정 페이지로 이동 -->
            <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">

              <!-- 현재 보고있는 페이지 -->
              <li th:if="${i == pagination.currentPage}" class="page-item">
                <a class="current page-link" th:text="${i}">1</a>
              </li>

              <!-- 보고있지 않은 페이지 -->
              <li th:unless="${i == pagination.currentPage}" class="page-item">
                <a class="page-link" th:href="@{/approval/returnApproval(cp=${i})}" th:text="${i}">2</a>
              </li>
            </th:block>

            <!-- 다음 목록 시작 번호로 이동 -->
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next" th:href="@{/approval/returnApproval(cp=${pagination.nextPage})}">
                <span aria-hidden="true">&gt</span>
              </a>
            </li>

            <li class="page-item">
              <a class="page-link" href="#" aria-label="End" th:href="@{/approval/returnApproval(cp=${pagination.maxPage})}">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      
    </div>

  </main>
  <!-- <div class="w-100 d-flex justify-content-end pe-4 sticky-bottom bg-white mb-3">
      <a href="#" class="btn btn-secondary" style="width: 80px;">삭제</a>
  </div> -->

  <!-- ==================================================템플릿들============================================================= -->

  <!-- 휴가신청서 Modal [0]-->
  <div class="modal fade" id="holidayModal" tabindex="-1" aria-labelledby="holidayModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        
        <!-- 휴가신청서 모달 헤더 -->
        <div class="modal-header">
          <div><h1 class="modal-title fs-5" id="holidayModalLabel">결재 요청문서</h1></div>
          <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>

        <!-- 기안서 템플릿 바디(비동기 생성) -->
        <!-- <th:block th:replace="~{approval/approvalDoc/docHolidayFin}"></th:block> -->

        <!-- 모달 푸터 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-warning me-1"  data-bs-target="#" style="width: 85px;" onclick="returnReasonBtn()">반려사유</button>
          <button type="button" class="btn btn-secondary me-1" data-bs-target="#" style="width: 80px;" th:onclick="deleteAtReturnBtn([[${session.loginMember.memberNo}]])">삭제</button>

          <div class="btn-group dropup">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
            style="width: 80px; background-color: #f2f2f2; color: black;">
              인쇄
            </button>
            <ul class="dropdown-menu">
              <li><div class="dropdown-item" onclick="downloadPdf();">PDF 저장</div></li>
              <li><div class="dropdown-item" onclick="fnModalPrint(this)">인쇄</div></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- 퇴직 신청서 Modal[1] -->
  <div class="modal fade" id="retirementModal" tabindex="-1" aria-labelledby="retirementModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        
        <!-- 퇴직 모달 헤더 -->
        <div class="modal-header">
          <div><h1 class="modal-title fs-5" id="retirementModalLabel">결재 요청문서</h1></div>
          <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>

        <!-- 기안서 템플릿 바디 -->
        <!-- <th:block th:replace="~{approval/approvalDoc/docRetirement}"></th:block> -->

        <!-- 모달 푸터 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-warning me-1"  data-bs-target="#" style="width: 85px;" onclick="returnReasonBtn()">반려사유</button>
          <button type="button" class="btn btn-secondary me-1" data-bs-target="#" style="width: 80px;" th:onclick="deleteAtReturnBtn([[${session.loginMember.memberNo}]])">삭제</button>

          <div class="btn-group dropup">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
            style="width: 80px; background-color: #f2f2f2; color: black;">
              인쇄
            </button>
            <ul class="dropdown-menu">
              <li><div class="dropdown-item" onclick="downloadPdf();">PDF 저장</div></li>
              <li><div class="dropdown-item" onclick="fnModalPrint(this)">인쇄</div></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 출점 신청서 Modal [2]-->
  <div class="modal fade" id="openStoreModal" tabindex="-1" aria-labelledby="openStoreModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        
        <!-- 출점 모달 헤더 -->
        <div class="modal-header">
          <div><h1 class="modal-title fs-5" id="openStoreModalLabel">결재 요청문서</h1></div>
          <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>

        <!-- 기안서 템플릿 바디 -->
        <!-- <th:block th:replace="~{approval/approvalDoc/docStore}"></th:block> -->

        <!-- 모달 푸터 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-warning me-1"  data-bs-target="#" style="width: 85px;" onclick="returnReasonBtn()">반려사유</button>
          <button type="button" class="btn btn-secondary me-1" data-bs-target="#" style="width: 80px;" th:onclick="deleteAtReturnBtn([[${session.loginMember.memberNo}]])">삭제</button>

          <div class="btn-group dropup">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
            style="width: 80px; background-color: #f2f2f2; color: black;">
              인쇄
            </button>
            <ul class="dropdown-menu">
              <li><div class="dropdown-item" onclick="downloadPdf();">PDF 저장</div></li>
              <li><div class="dropdown-item" onclick="fnModalPrint(this)">인쇄</div></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- 폐점 신청서 Modal [3] -->
  <div class="modal fade" id="closeStoreModal" tabindex="-1" aria-labelledby="closeStoreModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        
        <!-- 폐점 모달 헤더 -->
        <div class="modal-header">
          <div><h1 class="modal-title fs-5" id="closeStoreModalLabel">결재 요청문서</h1></div>
          <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>

        <!-- 기안서 템플릿 바디 -->
        <!-- <th:block th:replace="~{approval/approvalDoc/docStore}"></th:block> -->

        <!-- 모달 푸터 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-warning me-1"  data-bs-target="#" style="width: 85px;" onclick="returnReasonBtn()">반려사유</button>
          <button type="button" class="btn btn-secondary me-1" data-bs-target="#" style="width: 80px;" th:onclick="deleteAtReturnBtn([[${session.loginMember.memberNo}]])">삭제</button>

          <div class="btn-group dropup">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
            style="width: 80px; background-color: #f2f2f2; color: black;">
              인쇄
            </button>
            <ul class="dropdown-menu">
              <li><div class="dropdown-item" onclick="downloadPdf();">PDF 저장</div></li>
              <li><div class="dropdown-item" onclick="fnModalPrint(this)">인쇄</div></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- 지출결의서 Modal [4]-->
  <div class="modal fade" id="expenseModal" tabindex="-1" aria-labelledby="expenseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        
        <!-- 지출결의서 모달 헤더 -->
        <div class="modal-header">
          <div><h1 class="modal-title fs-5" id="expenseModalLabel">결재 요청문서</h1></div>
          <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>

        <!-- 기안서 템플릿 바디 --> <!-- 비동기 생성 -->
        <!-- <th:block th:replace="~{approval/approvalDoc/docExpenseFin}"></th:block> -->

        <!-- 모달 푸터 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-warning me-1"  data-bs-target="#" style="width: 85px;" onclick="returnReasonBtn()">반려사유</button>
          <button type="button" class="btn btn-secondary me-1" data-bs-target="#" style="width: 80px;" th:onclick="deleteAtReturnBtn([[${session.loginMember.memberNo}]])">삭제</button>

          <div class="btn-group dropup">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
            style="width: 80px; background-color: #f2f2f2; color: black;">
              인쇄
            </button>
            <ul class="dropdown-menu">
              <li><div class="dropdown-item" onclick="downloadPdf();">PDF 저장</div></li>
              <li><div class="dropdown-item" onclick="fnModalPrint(this)">인쇄</div></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- 발주기안서 Modal [5]-->
  <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        
        <!-- 발주기안서 모달 헤더 -->
        <div class="modal-header">
          <div><h1 class="modal-title fs-5" id="orderModalLabel">결재 요청문서</h1></div>
          <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>

        <!-- 기안서 템플릿 바디 -->
        <!-- <th:block th:replace="~{approval/approvalDoc/docOrder}"></th:block> -->

        <!-- 모달 푸터 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-warning me-1"  data-bs-target="#" style="width: 85px;" onclick="returnReasonBtn()">반려사유</button>
          <button type="button" class="btn btn-secondary me-1" data-bs-target="#" style="width: 80px;" th:onclick="deleteAtReturnBtn([[${session.loginMember.memberNo}]])">삭제</button>

          <div class="btn-group dropup">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
            style="width: 80px; background-color: #f2f2f2; color: black;">
              인쇄
            </button>
            <ul class="dropdown-menu">
              <li><div class="dropdown-item" onclick="downloadPdf();">PDF 저장</div></li>
              <li><div class="dropdown-item" onclick="fnModalPrint(this)">인쇄</div></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- ===================================================================================================================== -->
  
  <!-- ======================================================== 재작성 템플릿 ============================================== -->
  <!-- 5. 발주기안 -->
  <div class="modal fade" id="rewriteDoc5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <!-- 모달 헤더 -->
        <div class="modal-header">
          <div><h1 class="modal-title fs-5">기안문 작성 - 발주기안서</h1></div>
          <div>
            <button type="submit" form="docOrder" class="btn me-1" style="width: 100px; background-color: #f2f2f2;" id="saveOrder"
            name="approvalCondition" value="1">임시저장</button>
            <button type="submit" form="docOrder" class="btn btn-warning me-1" id="submitOrder" name="approvalCondition" value="0">결재</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  name="closeDoc">닫기</button>
          </div>
        </div> 
        <!-- 모달 바디 -->
        <div class="modal-body" style="width: 1300px; overflow: hidden;">
          <form class="d-flex flex-row" action="updateApproval/docOrder" id="docOrder" method="POST" enctype="multipart/form-data">
            <th:block th:replace="~{approval/approvalDoc/docOrder}"></th:block>
          </form>
        </div>
        <!-- 모달 풋터 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary me-1" onclick="deleteBtn()">삭제하기</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- 4. 지출결의  -->
  <div class="modal fade" id="rewriteDoc4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <!-- 모달 헤더 -->
        <div class="modal-header">
          <div><h1 class="modal-title fs-5">기안문 작성 - 지출결의서</h1></div>
          <div>
            <button type="submit" form="docExpense" class="btn me-1" style="width: 100px; background-color: #f2f2f2;" id="saveExpense"
            name="approvalCondition" value="1">임시저장</button>
            <button type="submit" form="docExpense" class="btn btn-warning me-1" id="submitExpense" name="approvalCondition" value="0">결재</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="closeDoc">닫기</button>
          </div>
        </div> 
        <!-- 모달 바디 -->
        <div class="modal-body" style="width: 1300px; overflow: hidden;">
          <form class="d-flex flex-row" action="updateApproval/docExpense" id="docExpense" method="POST" enctype="multipart/form-data">
            <th:block th:replace="~{approval/approvalDoc/docExpense}"></th:block>
          </form>
        </div>
        <!-- 모달 풋터 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary me-1" onclick="deleteBtn()">삭제하기</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- 3. 출점/폐점  -->
  <div class="modal fade" id="rewriteDoc3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <!-- 모달 헤더 -->
        <div class="modal-header">
          <div>
            <h1 class="modal-title fs-5">기안문 작성 - 출/폐점 등록 요청서</h1>
          </div>
          <div>
            <button type="submit" form="docStore" class="btn me-1" style="width: 100px; background-color: #f2f2f2;"
              id="saveStore" name="approvalCondition" value="1">임시저장</button>
            <button type="submit" form="docStore" class="btn btn-warning me-1" id="submitStore" name="approvalCondition"
              value="0">결재</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="closeDoc">닫기</button>
          </div>
        </div>
        <!-- 모달 바디 -->
        <div class="modal-body" style="width: 1300px; overflow: hidden;">
          <form class="d-flex flex-row" action="updateApproval/docStore" id="docStore" method="POST" enctype="multipart/form-data">
            <th:block th:replace="~{approval/approvalDoc/docStore}"></th:block>
          </form>
        </div>
        <!-- 모달 풋터 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary me-1" onclick="deleteBtn()">삭제하기</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- 2. 사직서 -->
  <div class="modal fade" id="rewriteDoc2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <!-- 모달 헤더 -->
        <div class="modal-header">
          <div><h1 class="modal-title fs-5">기안문 작성 - 사직서</h1></div>
          <div>
            <button type="submit" form="docRetirement" class="btn me-1" style="width: 100px; background-color: #f2f2f2;" id="saveRetirement"
            name="approvalCondition" value="1">임시저장</button>
            <button type="submit" form="docRetirement" class="btn btn-warning me-1" id="submitRetirement" name="approvalCondition" value="0">결재</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="closeDoc">닫기</button>
          </div> 
        </div>
        <!-- 모달 바디 -->
        <div class="modal-body" style="width: 1300px; overflow: hidden;">
          <form class="d-flex flex-row" action="updateApproval/docRetirement" id="docRetirement" method="POST" enctype="multipart/form-data">
            <th:block th:replace="~{approval/approvalDoc/docRetirement}"></th:block>
          </form>
        </div>
        <!-- 모달 풋터 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary me-1" onclick="deleteBtn()">삭제하기</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- 1. 휴가 신청서 -->
  <div class="modal fade" id="rewriteDoc1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <!-- 모달 헤더 -->
        <div class="modal-header">
          <div><h1 class="modal-title fs-5">기안문 작성 - 휴가신청서</h1></div>
          <div>
            <button type="submit" form="docHoliday" class="btn me-1" style="width: 100px; background-color: #f2f2f2;" id="saveHoliday"
            name="approvalCondition" value="1">임시저장</button>
            <button type="submit" form="docHoliday" class="btn btn-warning me-1" id="submitHoliday" name="approvalCondition" value="0">결재</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="closeDoc">닫기</button>
          </div> 
        </div>
        <!-- 모달 바디 -->
        <div class="modal-body" style="width: 1300px; overflow: hidden;">
          <form class="d-flex flex-row" action="updateApproval/docHoliday" id="docHoliday" method="POST" enctype="multipart/form-data">
            <th:block th:replace="~{approval/approvalDoc/docHoliday}"></th:block>
          </form>
        </div>
        <!-- 모달 풋터 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary me-1" onclick="deleteBtn()">삭제하기</button>
        </div>        
      </div>
    </div>
  </div>
  <!--=========================================================================================================-->
  
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/approval/commonApproval.js"></script>
  <script src="/js/approval/waitApproval.js"></script>
  <script src="/js/approval/tempSave.js"></script>
  <script src="/js/approval/html2canvas.js"></script>
  <script src="/js/approval/jspdf.min.js"></script>

</body>
</html>