<!-- 사이드 바 -->
<div class="d-flex flex-column h-100 p-3 bg-body-tertiary " style="width: 200px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">전자결재</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" id="sidebarHover">
        <li class="nav-item"><b>기안</b></li>
        <li class="nav-item">
        <a href="tempSave" class="nav-link  active" aria-current="page">
            임시저장함
        </a>
        </li>
        <li>
        <a href="writeApproval" class="nav-link link-body-emphasis">
            기안문작성
        </a>
        </li>
        <li>
        <a href="requestApproval" class="nav-link link-body-emphasis">
            결재요청함
        </a>
        </li>
        <li>
        <a href="reclaimeApproval" class="nav-link link-body-emphasis">
            회수문서함
        </a>
        </li>
        <br>
        <li class="nav-item"><b>결재</b></li>
        <li>
        <a href="waitApproval" class="nav-link link-body-emphasis">
            결재대기함
        </a>
        </li>
        <li>
        <a href="progressApproval" class="nav-link link-body-emphasis">
            결재진행함
        </a>
        </li>
        <li>
        <a href="completeApproval" class="nav-link link-body-emphasis">
            완료문서함
        </a>
        </li>
        <li>
        <a href="returnApproval" class="nav-link link-body-emphasis">
            반려문서함
        </a>
        </li>
        <li>
        <a href="joinApproval" class="nav-link link-body-emphasis">
            협조문서함
        </a>
        </li>
    </ul>
</div>