<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>임시저장함</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/approval/writeApproval.css">
</head>
<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>

  
  <main class="d-flex flex-grow-1" th:with="pagination=${map.pagination}">
    
    <th:block th:replace="~{approval/sidebar}"></th:block>
    
    <div class="d-flex flex-column flex-grow-1 p-3">
      
      <div class="fs-3 pb-3 px-3 border-bottom">
        임시저장함
      </div>
      
      
      <div class="w-100 px-4 pt-2 flex-grow-1">
        
        <table class="table table-striped table-hover">
          <colgroup>
            <col width=15%>
            <col width=15%>
            <col width=45%>
            <col width=25%>
          </colgroup>
          <thead>
            <tr style="text-align: center;">
              <th>구분</th>
              <th>항목</th>
              <th>제목</th>
              <th>임시저장일자</th>
            </tr>
          </thead>
          <tbody class="tbg table-group-divider">
            
            <!-- 임시 저장 문서가 없을 때 -->
            <tr th:if="${#lists.size(map.tempSaveList) == 0}">
              <th colspan="6" style="text-align: center;">임시 저장한 문서가 없습니다.</th>
            </tr>
            
            <!-- 임시 저장 문서가 존재할 때 -->
            <th:block th:unless="${#lists.size(map.tempSaveList) == 0}">
              <tr th:each="approval : ${map.tempSaveList}" th:object="${approval}" class="rewriteApproval"
              style="text-align: center;" data-bs-toggle="modal" 
              th:attr="data-one-id=${approval.approvalNo}, data-bs-target='#rewriteDoc' + ${(approval.docCategoryNo == 0 ? 
                1 : (approval.docCategoryNo == 1 ? 
                2 : (approval.docCategoryNo == 2 || approval.docCategoryNo == 3 || approval.docCategoryNo == 6) ? 
                3 : (approval.docCategoryNo == 4 ? 
                4 : (approval.docCategoryNo == 5 ? 
                5 : approval.docCategoryNo))))},
                data-one-sort=${approval.docCategoryNo}" >
                <td th:text="*{docCategoryGroup}">구분</td>
                <td th:text="*{docCategorySort}">항목</td>
                <td th:text="*{approvalTitle}" style="text-align: start;">제목</td>
                <td th:text="*{approvalDate}">임시저장 날짜</td>
              </tr>
            </th:block>
            
          </tbody>
        </table>
      </div>

      <!-- 페이지네이션 -->
      <div class="w-100 sticky-bottom fixed-bottom bg-white pagination-area" th:if="${#lists.size(map.tempSaveList) > 0}">
        
        <nav class="d-flex justify-content-center" style="color: #303841;">
          
          <ul class="pagination" th:if="${param.query == null}">
            <!-- 첫 페이지로 이동 -->
            <li class="page-item">
              <a class="page-link" th:href="@{/approval/tempSave(cp=1)}">
                <span>&laquo;</span>
              </a>
            </li>
            
            <!-- 이전 목록 마지막 번호로 이동 -->
            <li class="page-item">
              <a class="page-link" th:href="@{/approval/tempSave(cp=${pagination.prevPage})}">
                <span>&lt;</span>
              </a>
            </li>
            
            <!-- 특정 페이지로 이동 -->
            <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
              
              <!-- 현재 보고있는 페이지 -->
              <li th:if="${i == pagination.currentPage}" class="page-item">
                <a class="current page-link" th:text="${i}">1</a>
              </li>
              
              <!-- 보고있지 않은 페이지 -->
              <li th:unless="${i == pagination.currentPage}" class="page-item">
                <a class="page-link" th:href="@{/approval/tempSave(cp=${i})}" th:text="${i}">2</a>
              </li>
            </th:block>
            
            <!-- 다음 목록 시작 번호로 이동 -->
            <li class="page-item">
              <a class="page-link" href="#" th:href="@{/approval/tempSave(cp=${pagination.nextPage})}">
                <span>&gt</span>
              </a>
            </li>
            
            <li class="page-item">
              <a class="page-link" href="#" th:href="@{/approval/tempSave(cp=${pagination.maxPage})}">
                <span>&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    
  </main>
  <!--================================================= Modal =================================================-->
  <!-- 5. 발주기안 -->
  <div class="modal fade" id="rewriteDoc5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <!-- 모달 헤더 -->
        <div class="modal-header">
          <div><h1 class="modal-title fs-5">임시저장 - 발주기안서</h1></div>
          <div>
            <button type="submit" form="docOrder" class="btn me-1" style="width: 100px; background-color: #f2f2f2;" id="saveOrder"
            name="approvalCondition" value="1">임시저장</button>
            <button type="submit" form="docOrder" class="btn btn-warning me-1" id="submitOrder" name="approvalCondition" value="0">결재</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  name="closeDoc">닫기</button>
          </div>
        </div> 
        <!-- 모달 바디 -->
        <div class="modal-body" style="width: 1300px; overflow: hidden;">
          <form class="d-flex flex-row" action="updateApproval/docOrder" id="docOrder" method="POST" enctype="multipart/form-data">
            <th:block th:replace="~{approval/approvalDoc/docOrder}"></th:block>
          </form>
        </div>
        <!-- 모달 풋터 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary me-1" onclick="deleteBtn()">삭제하기</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- 4. 지출결의  -->
  <div class="modal fade" id="rewriteDoc4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <!-- 모달 헤더 -->
        <div class="modal-header">
          <div><h1 class="modal-title fs-5">임시저장 - 지출결의서</h1></div>
          <div>
            <button type="submit" form="docExpense" class="btn me-1" style="width: 100px; background-color: #f2f2f2;" id="saveExpense"
            name="approvalCondition" value="1">임시저장</button>
            <button type="submit" form="docExpense" class="btn btn-warning me-1" id="submitExpense" name="approvalCondition" value="0">결재</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="closeDoc">닫기</button>
          </div>
        </div> 
        <!-- 모달 바디 -->
        <div class="modal-body" style="width: 1300px; overflow: hidden;">
          <form class="d-flex flex-row" action="updateApproval/docExpense" id="docExpense" method="POST" enctype="multipart/form-data">
            <th:block th:replace="~{approval/approvalDoc/docExpense}"></th:block>
          </form>
        </div>
        <!-- 모달 풋터 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary me-1" onclick="deleteBtn()">삭제하기</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- 3. 출점/폐점  -->
  <div class="modal fade" id="rewriteDoc3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <!-- 모달 헤더 -->
        <div class="modal-header">
          <div>
            <h1 class="modal-title fs-5">임시저장 - 출/폐점 등록 요청서</h1>
          </div>
          <div>
            <button type="submit" form="docStore" class="btn me-1" style="width: 100px; background-color: #f2f2f2;"
              id="saveStore" name="approvalCondition" value="1">임시저장</button>
            <button type="submit" form="docStore" class="btn btn-warning me-1" id="submitStore" name="approvalCondition"
              value="0">결재</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="closeDoc">닫기</button>
          </div>
        </div>
        <!-- 모달 바디 -->
        <div class="modal-body" style="width: 1300px; overflow: hidden;">
          <form class="d-flex flex-row" action="updateApproval/docStore" id="docStore" method="POST" enctype="multipart/form-data">
            <th:block th:replace="~{approval/approvalDoc/docStore}"></th:block>
          </form>
        </div>
        <!-- 모달 풋터 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary me-1" onclick="deleteBtn()">삭제하기</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- 2. 사직서 -->
  <div class="modal fade" id="rewriteDoc2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <!-- 모달 헤더 -->
        <div class="modal-header">
          <div><h1 class="modal-title fs-5">임시저장 - 사직서</h1></div>
          <div>
            <button type="submit" form="docRetirement" class="btn me-1" style="width: 100px; background-color: #f2f2f2;" id="saveRetirement"
            name="approvalCondition" value="1">임시저장</button>
            <button type="submit" form="docRetirement" class="btn btn-warning me-1" id="submitRetirement" name="approvalCondition" value="0">결재</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="closeDoc">닫기</button>
          </div> 
        </div>
        <!-- 모달 바디 -->
        <div class="modal-body" style="width: 1300px; overflow: hidden;">
          <form class="d-flex flex-row" action="updateApproval/docRetirement" id="docRetirement" method="POST" enctype="multipart/form-data">
            <th:block th:replace="~{approval/approvalDoc/docRetirement}"></th:block>
          </form>
        </div>
        <!-- 모달 풋터 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary me-1" onclick="deleteBtn()">삭제하기</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- 1. 휴가 신청서 -->
  <div class="modal fade" id="rewriteDoc1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <!-- 모달 헤더 -->
        <div class="modal-header">
          <div><h1 class="modal-title fs-5">임시저장 - 휴가신청서</h1></div>
          <div>
            <button type="submit" form="docHoliday" class="btn me-1" style="width: 100px; background-color: #f2f2f2;" id="saveHoliday"
            name="approvalCondition" value="1">임시저장</button>
            <button type="submit" form="docHoliday" class="btn btn-warning me-1" id="submitHoliday" name="approvalCondition" value="0">결재</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="closeDoc">닫기</button>
          </div> 
        </div>
        <!-- 모달 바디 -->
        <div class="modal-body" style="width: 1300px; overflow: hidden;">
          <form class="d-flex flex-row" action="updateApproval/docHoliday" id="docHoliday" method="POST" enctype="multipart/form-data">
            <th:block th:replace="~{approval/approvalDoc/docHoliday}"></th:block>
          </form>
        </div>
        <!-- 모달 풋터 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary me-1" onclick="deleteBtn()">삭제하기</button>
        </div>        
      </div>
    </div>
  </div>
  <!--=========================================================================================================-->
  
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/approval/commonApproval.js"></script>
  <script src="/js/approval/tempSave.js"></script>
  
</body>
</html>