<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>결재대기함</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>

  <main class="d-flex flex-grow-1">

    <th:block th:replace="~{approval/sidebar}"></th:block>

    <!-- ==================================================템플릿들============================================================= -->

    <!-- 지출결의서 Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          
          <!-- 모달 헤더 -->
          <div class="modal-header">
            <div><h1 class="modal-title fs-5" id="exampleModalLabel">결재 요청문서</h1></div>
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>

          <!-- 기안서 템플릿 바디 -->
          <th:block th:replace="~{approval/approvalDoc/docExpenseFin}"></th:block>

          <!-- 모달 푸터 -->
          <div class="modal-footer">
            <button type="button" class="btn btn-warning me-1" data-bs-target="#" style="width: 80px;">결재</button>
            <button type="button" class="btn btn-secondary me-1" data-bs-target="#" style="width: 80px;">반려</button>


            <div class="btn-group dropup">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              style="width: 80px; background-color: #f2f2f2; color: black;">
                인쇄
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">PDF 저장</a></li>
                <li><a class="dropdown-item" href="#">인쇄</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>


    <!-- 발주기안서 Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          
          <!-- 모달 헤더 -->
          <div class="modal-header">
            <div><h1 class="modal-title fs-5" id="exampleModalLabel">결재 요청문서</h1></div>
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>

          <!-- 기안서 템플릿 바디 -->
          <th:block th:replace="~{approval/approvalDoc/docOrderFin}"></th:block>

          <!-- 모달 푸터 -->
          <div class="modal-footer">
            <button type="button" class="btn btn-warning me-1" data-bs-target="#" style="width: 80px;">결재</button>
            <button type="button" class="btn btn-secondary me-1" data-bs-target="#" style="width: 80px;">반려</button>

            <div class="btn-group dropup">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              style="width: 80px; background-color: #f2f2f2; color: black;">
                인쇄
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">PDF 저장</a></li>
                <li><a class="dropdown-item" href="#">인쇄</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- 휴가신청서 Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          
          <!-- 모달 헤더 -->
          <div class="modal-header">
            <div><h1 class="modal-title fs-5" id="exampleModalLabel">결재 요청문서</h1></div>
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>

          <!-- 기안서 템플릿 바디 -->
          <th:block th:replace="~{approval/approvalDoc/docHolidayFin}"></th:block>

          <!-- 모달 푸터 -->
          <div class="modal-footer">
            <button type="button" class="btn btn-warning me-1" data-bs-target="#" style="width: 80px;">결재</button>
            <button type="button" class="btn btn-secondary me-1" data-bs-target="#" style="width: 80px;">반려</button>

            <div class="btn-group dropup">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              style="width: 80px; background-color: #f2f2f2; color: black;">
                인쇄
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">PDF 저장</a></li>
                <li><a class="dropdown-item" href="#">인쇄</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- 출점/폐점 신청서 Modal -->
    <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          
          <!-- 모달 헤더 -->
          <div class="modal-header">
            <div><h1 class="modal-title fs-5" id="exampleModalLabel">결재 요청문서</h1></div>
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>

          <!-- 기안서 템플릿 바디 -->
          <th:block th:replace="~{approval/approvalDoc/docStoreFin}"></th:block>

          <!-- 모달 푸터 -->
          <div class="modal-footer">
            <button type="button" class="btn btn-warning me-1" data-bs-target="#" style="width: 80px;">결재</button>
            <button type="button" class="btn btn-secondary me-1" data-bs-target="#" style="width: 80px;">반려</button>

            <div class="btn-group dropup">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              style="width: 80px; background-color: #f2f2f2; color: black;">
                인쇄
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">PDF 저장</a></li>
                <li><a class="dropdown-item" href="#">인쇄</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- 퇴직 신청서 Modal -->
    <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          
          <!-- 모달 헤더 -->
          <div class="modal-header">
            <div><h1 class="modal-title fs-5" id="exampleModalLabel">결재 요청문서</h1></div>
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>

          <!-- 기안서 템플릿 바디 -->
          <th:block th:replace="~{approval/approvalDoc/docRetirementFin}"></th:block>

          <!-- 모달 푸터 -->
          <div class="modal-footer">
            <button type="button" class="btn btn-warning me-1" data-bs-target="#" style="width: 80px;">결재</button>
            <button type="button" class="btn btn-secondary me-1" data-bs-target="#" style="width: 80px;">반려</button>

            <div class="btn-group dropup">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              style="width: 80px; background-color: #f2f2f2; color: black;">
                인쇄
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">PDF 저장</a></li>
                <li><a class="dropdown-item" href="#">인쇄</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- ===================================================================================================================== -->

    <div class="d-flex flex-column p-3" style="width: 100%;">

      <div class="fs-4 pb-3 px-3 border-bottom">
        결재대기함
      </div>

      <div class="d-flex justify-content-center mt-5">

        <table class="table table-striped table-hover" style="width: 95%;">
          <colgroup>
            <col width=7%>
            <col width=7%>
            <col width=7%>
            <col width=25%>
            <col width=8%>
            <col width=8%>
            <col width=15%>
            <col width=8%>
            <col width=10%>
          </colgroup>
          <thead>
            <tr style="text-align: center;">
              <th>문서번호</th>
              <th>구분</th>
              <th>항목</th>
              <th>제목</th>
              <th>작성자</th>
              <th>부서</th>
              <th>작성일자</th>
              <th>결재자</th>
              <th>처리상태</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">

            <tr style="text-align: center;">
              <td>16</td>
              <td>업무</td>
              <td>지출결의서</td>
              <td style="text-align: start; font-weight: bold;"><a href="" style="text-decoration: none; color: black;" data-bs-toggle="modal" data-bs-target="#exampleModal" id="clickModal">전산팀 품목비 지출결의서 신청합니다.</a></td>
              <td>정유진</td>
              <td>전산팀</td>
              <td>2023-11-30 16:24</td>
              <td>이예리나</td>
              <td>결재중</td>
            </tr>

            <tr style="text-align: center;">
              <td>16</td>
              <td>업무</td>
              <td>발주서</td>
              <td style="text-align: start; font-weight: bold;"><a href="" style="text-decoration: none; color: black;" data-bs-toggle="modal" data-bs-target="#exampleModal2" id="clickModal">농심 새우깡 150박스 발주기안서</a></td>
              <td>정유진</td>
              <td>전산팀</td>
              <td>2023-11-30 16:24</td>
              <td>이예리나</td>
              <td>결재중</td>
            </tr>

            <tr style="text-align: center;">
              <td>16</td>
              <td>복무</td>
              <td>휴가</td>
              <td style="text-align: start; font-weight: bold;"><a href="" style="text-decoration: none; color: black;" data-bs-toggle="modal" data-bs-target="#exampleModal3" id="clickModal">연차 신청합니다.</a></td>
              <td>정유진</td>
              <td>전산팀</td>
              <td>2023-11-30 16:24</td>
              <td>이예리나</td>
              <td>결재중</td>
            </tr>

            <tr style="text-align: center;">
              <td>16</td>
              <td>업무</td>
              <td>출점/폐점</td>
              <td style="text-align: start; font-weight: bold;"><a href="" style="text-decoration: none; color: black;" data-bs-toggle="modal" data-bs-target="#exampleModal4" id="clickModal">낙성대점 출점 신청합니다.</a></td>
              <td>박상언</td>
              <td>점포관리팀</td>
              <td>2023-11-30 16:24</td>
              <td>이예리나</td>
              <td>결재중</td>
            </tr>

            <tr style="text-align: center;">
              <td>16</td>
              <td>인사</td>
              <td>퇴직</td>
              <td style="text-align: start; font-weight: bold;"><a href="" style="text-decoration: none; color: black;" data-bs-toggle="modal" data-bs-target="#exampleModal5" id="clickModal">사직서 제출합니다.</a></td>
              <td>이예리나</td>
              <td>전산팀</td>
              <td>2023-11-30 16:24</td>
              <td>이예리나</td>
              <td>결재중</td>
            </tr>

          </tbody>
        </table>
      </div>
      
    </div>

  </main>

  <th:block th:replace="~{common/footer}"></th:block>

  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>