<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>기안문작성</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/approval/writeApproval.css">

</head> 

<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>

  <main class="d-flex flex-grow-1">

    <th:block th:replace="~{approval/sidebar}"></th:block>

    <!-- Modal -->
    <div class="modal fade" id="doc5" tabindex="-1">
      <th:block th:replace="~{approval/approvalDoc/docOrder}"></th:block>
    </div>
    <div class="modal fade" id="doc4" tabindex="-1">
      <th:block th:replace="~{approval/approvalDoc/docExpense}"></th:block>
    </div>
    <div class="modal fade" id="doc3" tabindex="-1">
      <th:block th:replace="~{approval/approvalDoc/docStore}"></th:block>
    </div>
    <div class="modal fade" id="doc2" tabindex="-1">
      <th:block th:replace="~{approval/approvalDoc/docRetirement}"></th:block>
    </div>
    <div class="modal fade" id="doc1" tabindex="-1">
      <th:block th:replace="~{approval/approvalDoc/docHoliday}"></th:block>
    </div>

    <div class="d-flex flex-column p-3" style="width: 100%;">

      <div class="fs-4 pb-3 px-3 border-bottom">기안문작성</div>

      <div class="m-3 pe-5 d-flex justify-content-end"></div>

      <div class="d-flex justify-content-center">
        <table class="table table-striped table-hover" style="width: 95%;">
          <colgroup>
            <col width=10%>
            <col width=10%>
            <col width=15%>
            <col width=50%>
            <col width=15%>
          </colgroup>
          <thead>
            <tr style="text-align: center;">
              <th>서식번호</th>
              <th>구분</th>
              <th>항목</th>
              <th>제목</th>
              <th>작성하기</th>
            </tr>
          </thead>
          <tbody class="table-group-divider" id="tblBody">

            <tr style="text-align: center;" data-bs-toggle="modal" data-bs-target="#doc1" id="docOne">
              <td>1</td>
              <td>복무</td>
              <td>휴가</td>
              <td colspan="2" style="text-align: start;">휴가 신청서</td>
            </tr>

            <tr style="text-align: center;">
              <td>5</td>
              <td>업무</td>
              <td>발주</td>
              <td style="text-align: start;">발주기안서</td>
              <td><button type="button" class="btn btn-warning" 
                data-bs-toggle="modal" data-bs-target="#doc5">
                작성
              </button></td>
            </tr>

            <tr style="text-align: center;">
              <td>4</td>
              <td>업무</td>
              <td>지출</td>
              <td style="text-align: start;" >지출결의서</td>
              <td><button type="button" class="btn btn-warning" 
                data-bs-toggle="modal" data-bs-target="#doc4">
                작성
              </button></td>
            </tr>

            <tr style="text-align: center;">
              <td>3</td>
              <td>업무</td>
              <td>점포</td>
              <td style="text-align: start;">출/폐점 등록 요청서</td>
              <td><button type="button" class="btn btn-warning" 
                data-bs-toggle="modal" data-bs-target="#doc3">
                작성
              </button></td>
            </tr>

            <tr style="text-align: center;">
              <td>2</td>
              <td>인사</td>
              <td>퇴직</td>
              <td style="text-align: start;">사직서</td>
              <td><button type="button" class="btn btn-warning" 
                data-bs-toggle="modal" data-bs-target="#doc2">
                작성
              </button></td>
            </tr> 

            <tr style="text-align: center;">
              <td>1</td>
              <td>복무</td>
              <td>휴가</td>
              <td style="text-align: start;">휴가 신청서</td>
              <td><button type="button" class="btn btn-warning" 
                data-bs-toggle="modal" data-bs-target="#doc1">
                작성
              </button></td>
            </tr>

          </tbody>
        </table>
      </div>
      
    </div>

  </main>

  <th:block th:replace="~{common/footer}"></th:block>

  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/approval/writeApproval.js"></script>


</body>
</html>