<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>기안문작성</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


  <style>
    label{
      cursor: pointer;
    }
  </style>

</head>
<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>

  <main class="d-flex flex-grow-1">

    <th:block th:replace="~{approval/sidebar}"></th:block>

    <div class="d-flex flex-column p-3" style="width: 100%;">

      <div class="fs-4 pb-3 px-3 border-bottom">
        기안문작성
      </div>

      <div class="m-3 pe-5 d-flex justify-content-end">
        <button class="btn btn-warning" style="width: 80px;" id="writeBtn">작성</button>
      </div>

      <div class="d-flex justify-content-center">

        <table class="table table-striped table-hover" style="width: 95%;">
          <colgroup>
            <col width=5%>
            <col width=10%>
            <col width=15%>
            <col width=15%>
            <col width=55%>
          </colgroup>
          <thead>
            <tr style="text-align: center;">
              <th></th>
              <th>서식번호</th>
              <th>구분</th>
              <th>항목</th>
              <th>제목</th>
              
            </tr>
          </thead>
          <tbody class="table-group-divider">

            <tr style="text-align: center;">
              <td><input type="checkbox" name="chk" id="doc6" value="docOrder" onclick="clickchk(this)"></td>
              <td>6</td>
              <td>업무</td>
              <td>발주</td>
              <td style="text-align: start;"><label for="doc6">발주기안서</label></td>
            </tr>

            <tr style="text-align: center;">
              <td><input type="checkbox" name="chk" id="doc5" value="docExpense" onclick="clickchk(this)"></td>
              <td>5</td>
              <td>업무</td>
              <td>지출</td>
              <td style="text-align: start;"><label for="doc5">지출결의서</label></td>
            </tr>

            <tr style="text-align: center;">
              <td><input type="checkbox" name="chk" id="doc4" value="docStore" onclick="clickchk(this)"></td>
              <td>4</td>
              <td>업무</td>
              <td>폐점</td>
              <td style="text-align: start;"><label for="doc4">폐점 등록 요청서</label></td>
            </tr>

            <tr style="text-align: center;">
              <td><input type="checkbox" name="chk" id="doc3" value="docStore"  onclick="clickchk(this)"></td>
              <td>3</td>
              <td>업무</td>
              <td>출점</td>
              <td style="text-align: start;"><label for="doc3">출점 등록 요청서</label></td>
            </tr>

            <tr style="text-align: center;">
              <td><input type="checkbox" name="chk" id="doc2" value="docRetirement" onclick="clickchk(this)"></td>
              <td>2</td>
              <td>인사</td>
              <td>퇴직</td>
              <td style="text-align: start;"><label for="doc2">사직서</label></td>
            </tr> 

            <tr style="text-align: center;">
              <td><input type="checkbox" name="chk" id="doc1" value="docHoliday" onclick="clickchk(this)"></td>
              <td>1</td>
              <td>복무</td>
              <td>휴가</td>
              <td style="text-align: start;"><label for="doc1">휴가 신청서</label></td>
            </tr>

          </tbody>
        </table>
      </div>
      
    </div>

  </main>

  <th:block th:replace="~{common/footer}"></th:block>


  <script>
    
    /* 체크박스 하나만 클릭 가능 */
    // 다시 클릭 시 선택 해제?
    function clickchk(e){
      document.getElementsByName("chk")
      .forEach(one => one.checked = false);

      e.checked = true;
    }


    /* 작성 버튼 클릭 시 페이지 요청 */
    const writeBtn = document.getElementById("writeBtn");
    const checkboxAll = document.querySelectorAll('input[type="checkbox"]');
    var checkedDoc;

    writeBtn.addEventListener("click", ()=> {

      // 선택한 문서값 찾기
      checkboxAll.forEach(k => {
        if(k.checked == true){
          checkedDoc = k;
          console.log(checkedDoc.value);
        }
      })

      // 선택한 문서가 없는 경우 알림
      // 디자인 추가?
      if(checkedDoc==null){
        alert("문서를 선택해주세요");
      }

      // 팝업
      // 모달 팝업으로 수정중!!!
      const url = `/approval/approvalDoc/${checkedDoc.value}`;
      const option = "width = 830, height = 940, top = 70, left = 0, location = no, resizable=no";

      window.open(url, option);
    })

    

  </script>


  <script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>