<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.keepers.conbee.admin.store.model.mapper.AdminStoreMapper">
	
	<!-- 점포 전체 정보조회-->
	<select id="readAllStoreList" resultType="Store">
		SELECT STORE_NO , STORE_NAME , STORE_TEL , STORE_ADDRESS , STORE_RUN_FL , MEMBER_NO , MEMBER_NAME
		FROM STORE
		JOIN "MEMBER" USING (MEMBER_NO)
		ORDER BY STORE_NO
	</select>
	
	<!-- 전체 점포 수 확인-->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM STORE
	</select>
	
	
	<!--검색한 정보와 일치하는 점포갯수-->
	<select id="searchStoreListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM STORE
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE STORE_NAME LIKE '%${query}%' OR
		STORE_TEL LIKE '%${query}%' OR
		STORE_ADDRESS LIKE '%${query}%' OR
		MEMBER_NAME LIKE  '%${query}%'
	</select>
	
	<!--검색한 정보와 일치하는 점포정보 조회-->
	<select id="searchStoreList" resultType="Store">
		SELECT STORE_NO , STORE_NAME , STORE_TEL , STORE_ADDRESS , STORE_RUN_FL , MEMBER_NO , MEMBER_NAME
		FROM STORE
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE STORE_NAME LIKE '%${query}%' OR
		STORE_TEL LIKE '%${query}%' OR
		STORE_ADDRESS LIKE '%${query}%' OR
		MEMBER_NAME LIKE  '%${query}%'
	</select>
	
	<!--점포 운영상태 변경-->
	<update id="changeRunFl">
		UPDATE STORE SET
		STORE_RUN_FL = #{storeRunFl}
		WHERE STORE_NO = #{storeNo}
	</update>
	
	<!-- 선택한 점포 정보 얻어오기 -->
	<select id="readStoreInfo" resultType="Store">
		SELECT STORE_NO , STORE_NAME , STORE_TEL , STORE_ADDRESS , STORE_RUN_FL , MEMBER_NO , MEMBER_NAME
		FROM STORE
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE STORE_NO = #{storeNo}
	</select>
	
	<!--점포명 중복 검사-->
	<select id="checkStoreName" resultType="_int">
		SELECT COUNT(*) 
		FROM STORE
		WHERE STORE_NAME = #{storeName}
	</select>
	
	<!--점포전화번호 중복 검사-->
	<select id="checkStoreTel" resultType="_int">
		SELECT COUNT(*) 
		FROM STORE
		WHERE STORE_TEL = #{storeTel}
	</select>
	
	
	
	
</mapper>