<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.keepers.conbee.admin.board.model.mapper.AdminBoardMapper">
	
	<!--신고된 게시글 수 불러오기-->
	<select id="getReportListCount" resultType="_int">
		SELECT COUNT(*)
		FROM REPORT
	</select>
	
	<!--신고된 댓글 수 불러오기-->
	<select id="getReportCommnetListCount" resultType="_int">
		SELECT COUNT(*)
		FROM REPORT_COMMENT
	</select>

	<!--신고된 게시글 목록 불러오기-->
	<select id="readAllReportList" resultType="Report">
		SELECT R.REPORT_NO , R.REPORT_TITLE , R.REPORT_KIND , R.REPORT_TITLE ,
		R.REPORT_ANSWER , R.BOARD_NO , M.MEMBER_NAME, B.BOARD_TITLE ,
		(SELECT MEMBER_NAME FROM BOARD B JOIN MEMBER M ON (B.MEMBER_NO= M.MEMBER_NO)  
		WHERE R.BOARD_NO = B.BOARD_NO) WRITER_NAME, <!--게시글 작성자 이름-->
		(SELECT COUNT(*) FROM REPORT RP WHERE R.BOARD_NO = RP.BOARD_NO) REPORT_COUNT <!--신고횟수-->
		, '/board/boardDetail/' || (SELECT BOARD_CODE_NO FROM BOARD B WHERE B.BOARD_NO = R.BOARD_NO) || '/' || R.BOARD_NO "URL" <!--게시글 URL-->
		FROM REPORT R
		JOIN "MEMBER" M ON (R.MEMBER_NO = M.MEMBER_NO)
		JOIN BOARD B ON (R.BOARD_NO=B.BOARD_NO)
		ORDER BY REPORT_NO DESC
	</select>
	
	<!--신고된 댓글 목록 불러오기-->
	<select id="readAllReportCommentList">
		SELECT REPORT_COMMENT_NO , REPORT_COMMENT_TITLE , REPORT_COMMENT_KIND , REPORT_COMMENT_TITLE ,
		REPORT_COMMENT_ANSWER , BOARD_NO , MEMBER_NAME, BOARD_COMMENT_NO,
		(SELECT MEMBER_NAME FROM BOARD_COMMENT B JOIN MEMBER M ON (B.MEMBER_NO= M.MEMBER_NO) WHERE R.BOARD_COMMENT_NO = B.BOARD_COMMENT_NO) WRITER_NAME  <!--댓글 작성자 이름-->
		,(SELECT COUNT(*) FROM REPORT_COMMENT RP WHERE R.BOARD_COMMENT_NO = RP.BOARD_COMMENT_NO) REPORT_COUNT <!--신고횟수-->
		, '/board/boardDetail/' || (SELECT BOARD_CODE_NO FROM BOARD B WHERE B.BOARD_NO = R.BOARD_NO) || '/' || BOARD_NO "URL" <!--게시글 URL-->
		, (SELECT BOARD_COMMENT_CONTENT FROM BOARD_COMMENT BC WHERE R.BOARD_COMMENT_NO = BC.BOARD_COMMENT_NO ) REPORT_COMMENT_CONTENT <!--신고된 댓글 내용-->
		FROM REPORT_COMMENT R
		JOIN MEMBER M USING (MEMBER_NO)
		ORDER BY REPORT_COMMENT_NO DESC
	</select>
	
	
</mapper>