<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.keepers.conbee.admin.member.model.mapper.AdminMemberMapper">
	
	<!-- 아이디 유효성 검사 -->
	<select id="checkMemberId" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	
	<!-- 이메일 유효성 검사 -->
	<select id="checkMemberEmail" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<!-- 점포 번호 유효성 검사 -->
	<select id="checkStoreNo" resultType="_int">
		SELECT COUNT(*) FROM STORE
		WHERE STORE_NO = #{storeNo}
	</select>
	
	<!-- 회원 주소 유효성 검사 -->
	<select id="checkMemberAddress" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_ADDRESS = #{memberAddress}
	</select>
	
	<!-- 신규 회원 등록 -->
	<insert id="memberInsert">
		INSERT INTO MEMBER
		VALUES(SEQ_MEMBER_NO.NEXTVAL, #{memberId}, 123123, 
		#{memberEmail}, #{memberName}, NULL, NULL, NULL, DEFAULT, DEFAULT, DEFAULT,
		#{teamNo}, #{departmentNo}, #{gradeNo})
	</insert>
	
	
	
	
	
	<!-- 전체 회원 조회 -->
	<select id="readAllMemberList" resultType="Member">
		SELECT MEMBER_NO, DEPARTMENT_NO,TEAM_NO, GRADE_NO, MEMBER_TEL, MEMBER_ADDRESS,
		MEMBER_ENROLL_DATE
		<!--, MEMBER_DEL_FL-->
		FROM MEMBER
	</select>
	
	
	<!-- 전체 회원 수 조회 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
	</select>
	
	<!-- 검색 회원 조회 -->
	<select id="searchMemberListCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_NO LIKE '%${query}%' 
		OR DEPARTMENT_NO LIKE '%${query}%'
		OR TEAM_NO LIKE '%${query}%'
		OR GRADE_NO LIKE '%${query}%'
		OR MEMBER_TEL LIKE '%${query}%'
		OR MEMBER_ADDRESS LIKE '%${query}%'
	</select>
	
	<!-- 검색한 회원과 일치하는 회원 조회 -->
	<select id="searchMemberList" resultType="Member">
		SELECT MEMBER_NO, DEPARTMENT_NO,TEAM_NO, GRADE_NO, MEMBER_TEL, MEMBER_ADDRESS,
		MEMBER_ENROLL_DATE
		<!--, MEMBER_DEL_FL-->
		FROM MEMBER
		WHERE MEMBER_NO LIKE '%${query}%' 
		OR DEPARTMENT_NO LIKE '%${query}%'
		OR TEAM_NO LIKE '%${query}%'
		OR GRADE_NO LIKE '%${query}%'
		OR MEMBER_TEL LIKE '%${query}%'
		OR MEMBER_ADDRESS LIKE '%${query}%'
	</select>
	
	
	
	
</mapper>