<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.keepers.conbee.approval.model.mapper.ApprovalMapper">


	<!-- 템플릿 info 조회 -->
	<select id="selectWriteInfo" resultType="Member">
		SELECT MEMBER_NAME, TEAM_NAME
		FROM "MEMBER"
		JOIN "TEAM" USING(TEAM_NO)
		WHERE MEMBER_NO = #{memberNo}
	</select>


</mapper>