	<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
	<mapper namespace="com.keepers.conbee.approval.model.mapper.ApprovalMapper">
	
	
		<!-- 기안문 작성자 정보 조회 -->
		<select id="selectWriteInfo" resultType="Member">
			SELECT MEMBER_NAME, TEAM_NAME
			FROM "MEMBER"
			JOIN "TEAM" USING(TEAM_NO)
			WHERE MEMBER_NO = #{memberNo}
		</select>
		
		
		
		<!-- 기안문 insert -->
		<!-- db에 코드 추가해야함!! -->
		<insert id="insertApproval" parameterType="Approval" useGeneratedKeys="true">
			
			<selectKey order="BEFORE" resultType="_int" keyProperty="approvalNo">
				SELECT SEQ_APPROVAL_NO.NEXTVAL FROM DUAL
			</selectKey>
			
			INSERT INTO "APPROVAL"
			VALUES(#{approvalNo}, SYSDATE, #{approvalTitle}, #{approvalContent}, #{approvalCondition}, 
			DEFAULT, DEFAULT, #{memberNo},#{departmentNo},#{docCategoryNo},#{approvalDocTitle})
			
		</insert> 
	
	
	</mapper>