<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.keepers.conbee.approval.model.mapper.ApprovalMapper">


	<!--=============================== 유진 =========================================-->
	
	
	<!-- 임시저장함 조회 -->
	<select id="selectTempSave" resultType="Approval">
		SELECT APPROVAL_NO, DOC_CATEGORY_GROUP, DOC_CATEGORY_SORT, APPROVAL_TITLE, APPROVAL_DATE, DOC_CATEGORY_NO
		FROM "APPROVAL"
		JOIN DOC_CATEGORY USING(DOC_CATEGORY_NO)
		WHERE APPROVAL_DELETE=0
		AND APPROVAL_CONDITION=1
		ORDER BY APPROVAL_DATE DESC
	</select>
	
	<!-- 임시저장 데이터 조회 -->
	<select id="selectTempDocHoliday" resultType="Approval">
		SELECT APPROVAL_TITLE, APPROVAL_DOC_TITLE, APPROVAL_CONTENT, DOC_CATEGORY_NO, 
			TO_CHAR(DOC_HOLIDAY_START, 'YYYY-MM-DD') DOC_HOLIDAY_START, TO_CHAR(DOC_HOLIDAY_END, 'YYYY-MM-DD') DOC_HOLIDAY_END,
			APPROVAL_FILE_NO, APPROVAL_FILE_ROUTE, APPROVAL_FILE_ORIGIN_NAME, APPROVAL_FILE_RENAME
		FROM "APPROVAL"
		LEFT JOIN "APPROVAL_FILE" USING(APPROVAL_NO)
		LEFT JOIN "DOC_HOLIDAY" USING(APPROVAL_NO)
		WHERE APPROVAL_NO=#{approvalNo}		
		
	</select>
	
	<select id="selectTempDocRetirement" resultType="Approval">
		SELECT APPROVAL_TITLE, APPROVAL_DOC_TITLE, APPROVAL_CONTENT, DOC_CATEGORY_NO, TO_CHAR(DOC_RETIRE_DATE, 'YYYY-MM-DD') DOC_RETIRE_DATE,
			APPROVAL_FILE_NO, APPROVAL_FILE_ROUTE, APPROVAL_FILE_ORIGIN_NAME, APPROVAL_FILE_RENAME
		FROM "APPROVAL"
		LEFT JOIN "APPROVAL_FILE" USING(APPROVAL_NO)
		LEFT JOIN "DOC_RETIREMENT" USING(APPROVAL_NO)
		WHERE APPROVAL_NO=#{approvalNo}		
	</select>
	
	<select id="selectTempDocStore" resultType="Approval">
		SELECT APPROVAL_TITLE, APPROVAL_DOC_TITLE, APPROVAL_CONTENT, DOC_CATEGORY_NO, DOC_STORE_STATE, STORE_NAME, STORE_NO,
			APPROVAL_FILE_NO, APPROVAL_FILE_ROUTE, APPROVAL_FILE_ORIGIN_NAME, APPROVAL_FILE_RENAME
		FROM "APPROVAL"
		LEFT JOIN "APPROVAL_FILE" USING(APPROVAL_NO)
		LEFT JOIN "DOC_STORE" USING(APPROVAL_NO)
		WHERE APPROVAL_NO=#{approvalNo}		
	</select>
	
	<select id="selectTempDocExpense" resultType="Approval">
		SELECT APPROVAL_TITLE, APPROVAL_DOC_TITLE, APPROVAL_CONTENT, DOC_CATEGORY_NO, 
			APPROVAL_FILE_NO, APPROVAL_FILE_ROUTE, APPROVAL_FILE_ORIGIN_NAME, APPROVAL_FILE_RENAME
		FROM "APPROVAL"
		LEFT JOIN "APPROVAL_FILE" USING(APPROVAL_NO)
		WHERE APPROVAL_NO=#{approvalNo}
	</select>
	


	<!-- 기안문 작성자 정보 조회 -->
	<select id="selectInfo" resultType="Member">
		SELECT TEAM_NAME, MEMBER_NAME, DEPARTMENT_NAME
		FROM "MEMBER"
		LEFT JOIN "TEAM" USING(TEAM_NO)
		JOIN "DEPARTMENT" ON(MEMBER.DEPARTMENT_NO=DEPARTMENT.DEPARTMENT_NO)
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
		<!-- 부서 모든 멤버 조회 -->
	<select id="selectAllMember" resultType="Member">
		SELECT MEMBER_NO, MEMBER_NAME, GRADE_NAME, TEAM_NAME, TEAM_NO FROM "MEMBER"
		JOIN "GRADE" USING(GRADE_NO)
		LEFT JOIN "TEAM" USING(TEAM_NO)
		WHERE MEMBER.DEPARTMENT_NO = #{selectDepartment}
		ORDER BY GRADE_NO
	</select>
	
	<!-- 팀 멤버 조회 -->
	<select id="selectTeamMember" resultType="Member">
		SELECT MEMBER_NO,MEMBER_NAME, GRADE_NAME, TEAM_NAME, TEAM_NO FROM "MEMBER"
		JOIN "GRADE" USING(GRADE_NO)
		LEFT JOIN "TEAM" USING(TEAM_NO)
		WHERE TEAM_NO = #{selectTeam}
		ORDER BY GRADE_NO
	</select>
	
	<!-- 멤버 정보 조회 -->
	<select id="selectMember" resultType="Member">
		SELECT MEMBER_NO, MEMBER_NAME, GRADE_NAME, TEAM_NAME, DEPARTMENT_NAME
		FROM "MEMBER"
		JOIN "GRADE" USING(GRADE_NO)
		LEFT JOIN "TEAM" USING(TEAM_NO)
		JOIN "DEPARTMENT" ON(MEMBER.DEPARTMENT_NO=DEPARTMENT.DEPARTMENT_NO)
		WHERE MEMBER_NO = #{mebmerNo}
	</select>
	

	<!-- 기안문 insert -->
	<insert id="insertApproval" parameterType="Approval" useGeneratedKeys="true">

		<selectKey order="BEFORE" resultType="_int" keyProperty="approvalNo">
		  SELECT SEQ_APPROVAL_NO.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO "APPROVAL"
		VALUES(#{approvalNo}, SYSDATE, #{approvalTitle}, #{approvalContent}, #{approvalCondition}, 
		DEFAULT, DEFAULT, #{memberNo},#{departmentNo},#{docCategoryNo},#{approvalDocTitle})

	</insert> 
	
	
	<!-- 기안문 파일 insert -->
	<insert id="insertApprovalFile">
		
		<selectKey order="BEFORE" resultType="_int" keyProperty="approvalFileNo">
		  SELECT SEQ_APPROVAL_FILE_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO "APPROVAL_FILE"
		VALUES (#{approvalFileNo}, #{approvalNo}, #{approvalFileRoute}, #{approvalFileOriginName}, #{approvalFileRename})
		
	</insert>
	
	
	<!-- 기안문 doc insert -->
	<insert id="insertApprovalDoc">
		<choose>
			<!-- 휴가 -->
			<when test="docCategoryNo==0">
				INSERT INTO "DOC_HOLIDAY"
				VALUES(#{approvalNo}, #{docHolidayStart}, #{docHolidayEnd})
			</when>
			<!-- 퇴직 -->
			<when test="docCategoryNo==1">
				INSERT INTO "DOC_RETIREMENT"
				VALUES(#{approvalNo}, #{docRetireDate})
			</when>
			<!-- 출폐점 -->
			<when test="docCategoryNo==2 or docCategoryNo==3">
				INSERT INTO "DOC_STORE"
				VALUES(#{approvalNo}, #{docStoreState}, #{storeName},
				CASE
					WHEN ${storeNo}=-1 THEN NULL
					ELSE ${storeNo}
				END)
			</when>
			<!-- 지출은 doc 없음-->
			<!-- 발주 추가예정-->
		</choose>
	</insert>
	
	<!-- 결재자 리스트 insert -->
	<insert id="insertApproverList" parameterType="list">
		INSERT INTO "APPROVER"
		<foreach collection="list" item="approver" separator=" UNION ">
			SELECT NEXT_APPROVER_NO(), 
				#{approver.approverOrder},
				#{approver.approverCondition},
				SYSDATE,
				#{approver.approvalNo},
				#{approver.memberNo}
			FROM DUAL
		</foreach>
	</insert>
	
	
	<!-- 결재요청함 게시글 개수 -->
	<select id="searchRequestApprovalCount" resultType="_int">
		SELECT COUNT(*)
		FROM APPROVAL
		WHERE MEMBER_NO=#{memberNo}
		AND APPROVAL_DELETE=0
		AND APPROVAL_CONDITION=1	
	</select>
	
	<!-- 결재요청함 -->
	<select id="selectRequestApproval" resultType="Approval">
		SELECT APPROVAL_NO, DOC_CATEGORY_GROUP , DOC_CATEGORY_SORT, APPROVAL_TITLE, MEMBER_NAME, APPROVAL_DATE
		FROM APPROVAL
		JOIN DOC_CATEGORY USING(DOC_CATEGORY_NO)
		JOIN MEMBER USING(MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
		AND APPROVAL_CONDITION =0
		ORDER BY APPROVAL_DATE DESC
	</select>
	
	
	<!-- 회수문서함 조회 -->
	<select id="selectReclaimApproval" resultType="Approval">
		SELECT APPROVAL_NO, DOC_CATEGORY_GROUP, DOC_CATEGORY_SORT, APPROVAL_TITLE, APPROVAL_DATE
		FROM "APPROVAL"
		JOIN DOC_CATEGORY USING(DOC_CATEGORY_NO)
		WHERE APPROVAL_DELETE=0
		AND APPROVAL_CONDITION=2
		ORDER BY APPROVAL_DATE DESC
	</select>

	
	
	
	<!--=============================== 예리나 =========================================-->
	
	<!--결재대기함 조회-->	
	<select id="selectWaitApproval" resultType="Approval">
		SELECT AL.APPROVAL_NO , AL.APPROVAL_DATE , AL.APPROVAL_TITLE , AL.DOC_CATEGORY_NO,
		D.DOC_CATEGORY_GROUP , D.DOC_CATEGORY_SORT,
		(SELECT MEMBER_NAME FROM MEMBER M WHERE AL.MEMBER_NO = M.MEMBER_NO) MEMBER_NAME, <!--기안자의 이름-->
		
		(SELECT TEAM_NAME FROM MEMBER M
		JOIN TEAM T ON (M.TEAM_NO = T.TEAM_NO)
		WHERE AL.MEMBER_NO = M.MEMBER_NO) TEAM_NAME , <!--기안자 팀명-->
		
		(SELECT DEPARTMENT_NAME FROM MEMBER M
		JOIN DEPARTMENT D ON (D.DEPARTMENT_NO = M.DEPARTMENT_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) DEPARTMENT_NAME,  <!--기안자 부서명-->
		
		(SELECT MEMBER_NAME
		FROM (SELECT MEMBER_NAME
		FROM APPROVER
		JOIN MEMBER USING (MEMBER_NO)
		WHERE APPROVAL_NO = AL.APPROVAL_NO
		ORDER BY APPROVER_ORDER DESC)
		WHERE ROWNUM = 1) FINAL_APPROVER_NAME <!--최종결재자 이름-->
		
		FROM APPROVAL AL
		JOIN APPROVER AR ON (AL.APPROVAL_NO = AR.APPROVAL_NO)
		JOIN DOC_CATEGORY D ON (AL.DOC_CATEGORY_NO = D.DOC_CATEGORY_NO)
		WHERE AR.MEMBER_NO = ${memberNo} <!--상급자(로그인멤버)의 회원번호-->
		AND APPROVAL_DELETE = 0 <!--삭제되지 않은 문서-->
		AND APPROVAL_CONDITION = 0 <!--결재중인 문서-->
		AND AR.APPROVER_CONDITION = 0 <!--상급자(로그인멤버)가 미승인한 문서-->
		ORDER BY APPROVAL_DATE DESC
	</select>
	
	
	
	<!--결재진행함 조회-->
	<select id="selectProgressApproval" resultType="Approval">
		SELECT AL.APPROVAL_NO , AL.APPROVAL_DATE , AL.APPROVAL_TITLE , AL.DOC_CATEGORY_NO,
		D.DOC_CATEGORY_GROUP , D.DOC_CATEGORY_SORT,
		(SELECT MEMBER_NAME FROM MEMBER M WHERE AL.MEMBER_NO = M.MEMBER_NO) MEMBER_NAME, <!--기안자의 이름-->
		
		(SELECT TEAM_NAME FROM MEMBER M
		JOIN TEAM T ON (M.TEAM_NO = T.TEAM_NO)
		WHERE AL.MEMBER_NO = M.MEMBER_NO) TEAM_NAME , <!--기안자 팀명-->
		
		(SELECT DEPARTMENT_NAME FROM MEMBER M
		JOIN DEPARTMENT D ON (D.DEPARTMENT_NO = M.DEPARTMENT_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) DEPARTMENT_NAME,  <!--기안자 부서명-->
		
		(SELECT MEMBER_NAME
		FROM (SELECT MEMBER_NAME
		FROM APPROVER
		JOIN MEMBER USING (MEMBER_NO)
		WHERE APPROVAL_NO = AL.APPROVAL_NO
		ORDER BY APPROVER_ORDER DESC)
		WHERE ROWNUM = 1) FINAL_APPROVER_NAME <!--최종결재자 이름-->
		
		FROM APPROVAL AL
		JOIN APPROVER AR ON (AL.APPROVAL_NO = AR.APPROVAL_NO)
		JOIN DOC_CATEGORY D ON (AL.DOC_CATEGORY_NO = D.DOC_CATEGORY_NO)
		WHERE AR.MEMBER_NO = ${memberNo} <!--상급자(로그인멤버)의 회원번호-->
		AND APPROVAL_DELETE = 0 <!--삭제되지 않은 문서-->
		AND APPROVAL_CONDITION = 0 <!--결재중인 문서-->
		AND AR.APPROVER_CONDITION = 1 <!--상급자(로그인멤버)가 승인한 문서-->
		ORDER BY APPROVAL_DATE DESC
	</select>
	
	
	<!-- 완료문서함 :: 결재승인권한자가 조회하는 완료문서-->
	<select id="selectCompleteApprovalApprover" resultType="Approval">
		SELECT AL.APPROVAL_NO , AL.APPROVAL_DATE , AL.APPROVAL_TITLE , AL.DOC_CATEGORY_NO,
		D.DOC_CATEGORY_GROUP , D.DOC_CATEGORY_SORT, 
		(SELECT MEMBER_NAME FROM MEMBER M WHERE AL.MEMBER_NO = M.MEMBER_NO) MEMBER_NAME, <!--기안자의 이름-->
		(SELECT TEAM_NAME FROM MEMBER M
		JOIN TEAM T ON (M.TEAM_NO = T.TEAM_NO)
		WHERE AL.MEMBER_NO = M.MEMBER_NO) TEAM_NAME ,
		
		(SELECT DEPARTMENT_NAME FROM MEMBER M
		JOIN DEPARTMENT D ON (D.DEPARTMENT_NO = M.DEPARTMENT_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) DEPARTMENT_NAME,
		(SELECT MEMBER_NAME
		FROM (SELECT MEMBER_NAME
		FROM APPROVER
		JOIN MEMBER USING (MEMBER_NO)
		WHERE APPROVAL_NO = AL.APPROVAL_NO
		ORDER BY APPROVER_ORDER DESC)
		WHERE ROWNUM = 1) FINAL_APPROVER_NAME <!--최종결재자 이름-->
		
		FROM APPROVAL AL
		JOIN APPROVER AR ON (AL.APPROVAL_NO = AR.APPROVAL_NO)
		JOIN DOC_CATEGORY D ON (AL.DOC_CATEGORY_NO = D.DOC_CATEGORY_NO)
		JOIN MEMBER M ON (M.MEMBER_NO = AL.MEMBER_NO)
		WHERE AR.MEMBER_NO = ${memberNo} <!--상급자(로그인멤버)의 회원번호-->
		AND APPROVAL_DELETE = 0 <!--삭제되지 않은 문서-->
		AND APPROVAL_CONDITION = 4 <!--결재완료된 문서-->
		AND AR.APPROVER_CONDITION = 1 <!--상급자(로그인멤버)가 승인한 문서-->
		ORDER BY APPROVAL_DATE DESC
	</select>	
	
	
	<!-- 완료문서함 :: 기안자가 조회하는 완료문서-->
	<select id="selectCompleteApprovalDrafter" resultType="Approval">
		SELECT APPROVAL_NO, APPROVAL_TITLE, APPROVAL_DATE, MEMBER_NAME , DOC_CATEGORY_NO, DOC_CATEGORY_GROUP , DOC_CATEGORY_SORT, T.TEAM_NAME, D.DEPARTMENT_NAME,

		(SELECT MEMBER_NAME
		FROM (SELECT MEMBER_NAME
		FROM APPROVER
		JOIN MEMBER USING (MEMBER_NO)
		WHERE APPROVAL_NO = A.APPROVAL_NO
		ORDER BY APPROVER_ORDER DESC)
		WHERE ROWNUM = 1) FINAL_APPROVER_NAME <!--최종결재자 이름-->

		FROM APPROVAL A
		JOIN MEMBER M ON (M.MEMBER_NO = A.MEMBER_NO)
		JOIN DOC_CATEGORY USING(DOC_CATEGORY_NO)
		LEFT JOIN TEAM T ON (M.TEAM_NO = T.TEAM_NO)
		LEFT JOIN DEPARTMENT D ON (M.DEPARTMENT_NO = D.DEPARTMENT_NO)
		WHERE A.MEMBER_NO = ${memberNo}
		AND APPROVAL_CONDITION =4
		ORDER BY APPROVAL_DATE DESC
	</select>
	
	
	<!-- 반려문서함 :: 결재승인권한자가 조회하는 반려문서-->
	<select id="selectReturnApprovalApprover" resultType="Approval">
		SELECT AL.APPROVAL_NO , AL.APPROVAL_DATE , AL.APPROVAL_TITLE , AL.DOC_CATEGORY_NO,
		D.DOC_CATEGORY_GROUP , D.DOC_CATEGORY_SORT, 
		(SELECT MEMBER_NAME FROM MEMBER M WHERE AL.MEMBER_NO = M.MEMBER_NO) MEMBER_NAME, <!--기안자의 이름-->
		(SELECT TEAM_NAME FROM MEMBER M
		JOIN TEAM T ON (M.TEAM_NO = T.TEAM_NO)
		WHERE AL.MEMBER_NO = M.MEMBER_NO) TEAM_NAME ,
		
		(SELECT DEPARTMENT_NAME FROM MEMBER M
		JOIN DEPARTMENT D ON (D.DEPARTMENT_NO = M.DEPARTMENT_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) DEPARTMENT_NAME,
		(SELECT MEMBER_NAME
		FROM (SELECT MEMBER_NAME
		FROM APPROVER
		JOIN MEMBER USING (MEMBER_NO)
		WHERE APPROVAL_NO = AL.APPROVAL_NO
		ORDER BY APPROVER_ORDER DESC)
		WHERE ROWNUM = 1) FINAL_APPROVER_NAME <!--최종결재자 이름-->
		
		FROM APPROVAL AL
		JOIN APPROVER AR ON (AL.APPROVAL_NO = AR.APPROVAL_NO)
		JOIN DOC_CATEGORY D ON (AL.DOC_CATEGORY_NO = D.DOC_CATEGORY_NO)
		JOIN MEMBER M ON (M.MEMBER_NO = AL.MEMBER_NO)
		WHERE AR.MEMBER_NO = ${memberNo} <!--상급자(로그인멤버)의 회원번호-->
		AND APPROVAL_DELETE = 0 <!--삭제되지 않은 문서-->
		AND APPROVAL_CONDITION = 3 <!--반려된 문서-->
		AND AR.APPROVER_CONDITION = 2 <!--상급자(로그인멤버)가 반려한 문서-->
		ORDER BY APPROVAL_DATE DESC
	</select>
	
	
	
	<!-- 반려문서함 :: 기안자가 조회하는 반려문서-->
	<select id="selectReturnApprovalDrafter" resultType="Approval">
		SELECT APPROVAL_NO, APPROVAL_TITLE, APPROVAL_DATE, DOC_CATEGORY_NO, MEMBER_NAME ,DOC_CATEGORY_GROUP , DOC_CATEGORY_SORT, T.TEAM_NAME, D.DEPARTMENT_NAME,

		(SELECT MEMBER_NAME
		FROM (SELECT MEMBER_NAME
		FROM APPROVER
		JOIN MEMBER USING (MEMBER_NO)
		WHERE APPROVAL_NO = A.APPROVAL_NO
		ORDER BY APPROVER_ORDER DESC)
		WHERE ROWNUM = 1) FINAL_APPROVER_NAME <!--최종결재자 이름-->

		FROM APPROVAL A
		JOIN MEMBER M ON (M.MEMBER_NO = A.MEMBER_NO)
		JOIN DOC_CATEGORY USING(DOC_CATEGORY_NO)
		LEFT JOIN TEAM T ON (M.TEAM_NO = T.TEAM_NO)
		LEFT JOIN DEPARTMENT D ON (M.DEPARTMENT_NO = D.DEPARTMENT_NO)
		WHERE A.MEMBER_NO = ${memberNo}
		AND APPROVAL_CONDITION =3
		ORDER BY APPROVAL_DATE DESC
	</select>
	
	
	<!--협조문서함 조회-->
	<select id="selectJoinApprovalList" resultType="Approval">
		SELECT DISTINCT AL.APPROVAL_NO , AL.APPROVAL_DATE , AL.APPROVAL_TITLE , AL.DOC_CATEGORY_NO, DECODE(APPROVAL_CONDITION, 0, '결재중', 4, '결재완료') APPROVAL_CONDITION_TITLE,
		D.DOC_CATEGORY_GROUP , D.DOC_CATEGORY_SORT, 
		(SELECT MEMBER_NAME FROM MEMBER M WHERE AL.MEMBER_NO = M.MEMBER_NO) MEMBER_NAME, <!--기안자의 이름-->
		(SELECT TEAM_NAME FROM MEMBER M
		JOIN TEAM T ON (M.TEAM_NO = T.TEAM_NO)
		WHERE AL.MEMBER_NO = M.MEMBER_NO) TEAM_NAME ,
		(SELECT DEPARTMENT_NAME FROM MEMBER M
		JOIN DEPARTMENT D ON (D.DEPARTMENT_NO = M.DEPARTMENT_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) DEPARTMENT_NAME,
		(SELECT MEMBER_NAME
		FROM (SELECT MEMBER_NAME
		FROM APPROVER
		JOIN MEMBER USING (MEMBER_NO)
		WHERE APPROVAL_NO = AL.APPROVAL_NO
		ORDER BY APPROVER_ORDER DESC)
		WHERE ROWNUM = 1) FINAL_APPROVER_NAME <!--최종결재자 이름-->
		FROM APPROVAL AL
		JOIN APPROVER AR ON (AL.APPROVAL_NO = AR.APPROVAL_NO)
		JOIN DOC_CATEGORY D ON (AL.DOC_CATEGORY_NO = D.DOC_CATEGORY_NO)
		JOIN MEMBER M ON (M.MEMBER_NO = AL.MEMBER_NO)
		WHERE APPROVAL_DELETE = 0 <!--삭제되지 않은 문서-->
		AND APPROVAL_CONDITION IN (0, 4)  <!--결재중 또는 결재완료된 문서-->
		AND AL.DEPARTMENT_NO = ${departmentNo}
		ORDER BY APPROVAL_DATE DESC
	</select>
	
	
	<!-- 결재자 목록 상세조회(비동기) -->
	<select id="waitApprover" resultType="Approver">
		SELECT APPROVAL_NO, APPROVER_NO, APPROVER_ORDER, APPROVER_CONDITION, TO_CHAR(APPROVER_DATE, 'YYYY-MM-DD') APPROVER_DATE, MEMBER_NAME , MEMBER_NO
		FROM APPROVER
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE APPROVAL_NO = ${approvalNo}
   </select>
  
	<!-- 발주기안서 품목명 입력시 자동완성 기능 -->
	<select id="docOrderName" resultType="Stock">
		SELECT GOODS_NO, GOODS_NAME, STOCK_IN_PRICE
		FROM STOCK
		JOIN GOODS USING(GOODS_NO)
		WHERE STORE_NO = 0
		AND GOODS_NAME LIKE '%${goodsName}%'
	</select>
	
	<!--결재버튼 클릭 시 승인-->
	<update id="approve">
		UPDATE APPROVER SET 
		APPROVER_CONDITION = 1
		WHERE MEMBER_NO = ${memberNo}
		AND APPROVAL_NO = ${approvalNo}		
	</update>
	
	
	<!--반려 버튼 클릭 시 반려-->
	<update id="returnApprove">
		UPDATE APPROVER SET 
		APPROVER_CONDITION = 2
		WHERE MEMBER_NO = ${memberNo}
		AND APPROVAL_NO = ${approvalNo}		
	</update>
	
	<!--기안서 상세조회(휴가)-->
	<select id="selectHolidayApproval" resultType="Approval">
		SELECT TO_CHAR(AL.APPROVAL_DATE, 'YYYY-MM-DD') APPROVAL_DATE , AL.APPROVAL_NO, AL.APPROVAL_TITLE , AL.APPROVAL_CONTENT , DECODE(AL.DEPARTMENT_NO, 1, '인사관리부', 2, '경영관리부', 3, '운영관리부', 4, '고객관리부', 0, '임원부') DEPARTMENT_TITLE,
		AF.APPROVAL_FILE_ROUTE , AF.APPROVAL_FILE_ORIGIN_NAME , AF.APPROVAL_FILE_RENAME ,
		DECODE(AL.DOC_CATEGORY_NO, 0, '복무(휴가)', 1, '인사(퇴직)', 2, '업무(출점)', 3, '업무(폐점)', 4, '업무(지출)', 5, '업무(발주)') DOC_CATEGORY_TITLE,
		(SELECT MEMBER_NAME FROM MEMBER M WHERE AL.MEMBER_NO = M.MEMBER_NO) MEMBER_NAME, <!--기안자의 이름-->
		(SELECT TEAM_NAME FROM MEMBER M JOIN TEAM T ON (M.TEAM_NO = T.TEAM_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) TEAM_NAME,
		(SELECT DEPARTMENT_NAME FROM MEMBER M JOIN DEPARTMENT D ON (D.DEPARTMENT_NO = M.DEPARTMENT_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) DEPARTMENT_NAME,
		(SELECT COUNT(*) FROM APPROVER AR WHERE AR.APPROVAL_NO = AL.APPROVAL_NO) APPROVER_COUNT, <!--결재자수-->
		TO_CHAR(DH.DOC_HOLIDAY_START, 'YYYY-MM-DD')DOC_HOLIDAY_START, TO_CHAR(DH.DOC_HOLIDAY_END, 'YYYY-MM-DD')DOC_HOLIDAY_END
		FROM APPROVAL AL
		JOIN DOC_HOLIDAY DH ON (AL.APPROVAL_NO=DH.APPROVAL_NO)
		LEFT JOIN APPROVAL_FILE AF ON (AL.APPROVAL_NO=AF.APPROVAL_NO)
		WHERE AL.APPROVAL_NO = ${approvalNo}
		
	</select>
	
	<!--기안서 상세조회(퇴직)-->
	<select id="selectRetirementApproval" resultType="Approval">
		SELECT TO_CHAR(AL.APPROVAL_DATE, 'YYYY-MM-DD') APPROVAL_DATE , AL.APPROVAL_NO , AL.APPROVAL_TITLE , AL.APPROVAL_CONTENT , DECODE(AL.DEPARTMENT_NO, 1, '인사관리부', 2, '경영관리부', 3, '운영관리부', 4, '고객관리부', 0, '임원부') DEPARTMENT_TITLE,
		AF.APPROVAL_FILE_ROUTE , AF.APPROVAL_FILE_ORIGIN_NAME , AF.APPROVAL_FILE_RENAME ,
		DECODE(AL.DOC_CATEGORY_NO, 0, '복무(휴가)', 1, '인사(퇴직)', 2, '업무(출점)', 3, '업무(폐점)', 4, '업무(지출)', 5, '업무(발주)') DOC_CATEGORY_TITLE,
		(SELECT MEMBER_NAME FROM MEMBER M WHERE AL.MEMBER_NO = M.MEMBER_NO) MEMBER_NAME, <!--기안자의 이름-->
		(SELECT TEAM_NAME FROM MEMBER M JOIN TEAM T ON (M.TEAM_NO = T.TEAM_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) TEAM_NAME,
		(SELECT DEPARTMENT_NAME FROM MEMBER M JOIN DEPARTMENT D ON (D.DEPARTMENT_NO = M.DEPARTMENT_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) DEPARTMENT_NAME,
		(SELECT COUNT(*) FROM APPROVER AR WHERE AR.APPROVAL_NO = AL.APPROVAL_NO) APPROVER_COUNT, <!--결재자수-->
		TO_CHAR(DR.DOC_RETIRE_DATE, 'YYYY-MM-DD')DOC_RETIRE_DATE 
		FROM APPROVAL AL
		JOIN DOC_RETIREMENT DR ON (AL.APPROVAL_NO=DR.APPROVAL_NO)
		LEFT JOIN APPROVAL_FILE AF ON (AL.APPROVAL_NO=AF.APPROVAL_NO)
		WHERE AL.APPROVAL_NO = ${approvalNo}
	</select>
	
	<!--기안서 상세조회(지출)-->
	<select id="selectExpenseApproval" resultType="Approval">
		SELECT TO_CHAR(AL.APPROVAL_DATE, 'YYYY-MM-DD') APPROVAL_DATE , AL.APPROVAL_NO , AL.APPROVAL_TITLE , AL.APPROVAL_CONTENT , DECODE(AL.DEPARTMENT_NO, 1, '인사관리부', 2, '경영관리부', 3, '운영관리부', 4, '고객관리부', 0, '임원부') DEPARTMENT_TITLE,
		AF.APPROVAL_FILE_ROUTE , AF.APPROVAL_FILE_ORIGIN_NAME , AF.APPROVAL_FILE_RENAME ,
		DECODE(AL.DOC_CATEGORY_NO, 0, '복무(휴가)', 1, '인사(퇴직)', 2, '업무(출점)', 3, '업무(폐점)', 4, '업무(지출)', 5, '업무(발주)') DOC_CATEGORY_TITLE,
		(SELECT MEMBER_NAME FROM MEMBER M WHERE AL.MEMBER_NO = M.MEMBER_NO) MEMBER_NAME, <!--기안자의 이름-->
		(SELECT TEAM_NAME FROM MEMBER M JOIN TEAM T ON (M.TEAM_NO = T.TEAM_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) TEAM_NAME,
		(SELECT DEPARTMENT_NAME FROM MEMBER M JOIN DEPARTMENT D ON (D.DEPARTMENT_NO = M.DEPARTMENT_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) DEPARTMENT_NAME,
		(SELECT COUNT(*) FROM APPROVER AR WHERE AR.APPROVAL_NO = AL.APPROVAL_NO) APPROVER_COUNT <!--결재자수-->
		FROM APPROVAL AL
		LEFT JOIN APPROVAL_FILE AF ON (AL.APPROVAL_NO=AF.APPROVAL_NO)
		WHERE AL.APPROVAL_NO = ${approvalNo}
	</select>
	
	<!--기안서 상세조회(출점)-->
	<select id="selectOpenStoreApproval" resultType="Approval">
		SELECT TO_CHAR(AL.APPROVAL_DATE, 'YYYY-MM-DD') APPROVAL_DATE , AL.APPROVAL_NO , AL.APPROVAL_TITLE , AL.APPROVAL_CONTENT , DECODE(AL.DEPARTMENT_NO, 1, '인사관리부', 2, '경영관리부', 3, '운영관리부', 4, '고객관리부', 0, '임원부') DEPARTMENT_TITLE,
		AF.APPROVAL_FILE_ROUTE , AF.APPROVAL_FILE_ORIGIN_NAME , AF.APPROVAL_FILE_RENAME ,
		DECODE(AL.DOC_CATEGORY_NO, 0, '복무(휴가)', 1, '인사(퇴직)', 2, '업무(출점)', 3, '업무(폐점)', 4, '업무(지출)', 5, '업무(발주)') DOC_CATEGORY_TITLE,
		(SELECT MEMBER_NAME FROM MEMBER M WHERE AL.MEMBER_NO = M.MEMBER_NO) MEMBER_NAME, <!--기안자의 이름-->
		(SELECT TEAM_NAME FROM MEMBER M JOIN TEAM T ON (M.TEAM_NO = T.TEAM_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) TEAM_NAME,
		(SELECT DEPARTMENT_NAME FROM MEMBER M JOIN DEPARTMENT D ON (D.DEPARTMENT_NO = M.DEPARTMENT_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) DEPARTMENT_NAME,
		(SELECT COUNT(*) FROM APPROVER AR WHERE AR.APPROVAL_NO = AL.APPROVAL_NO) APPROVER_COUNT, <!--결재자수-->
		DS.STORE_NAME 
		FROM APPROVAL AL
		JOIN DOC_STORE DS ON (AL.APPROVAL_NO=DS.APPROVAL_NO)
		LEFT JOIN APPROVAL_FILE AF ON (AL.APPROVAL_NO=AF.APPROVAL_NO)
		WHERE AL.APPROVAL_NO = ${approvalNo}
		AND DS.DOC_STORE_STATE = 0
	</select>
	
	
	<!--기안서 상세조회(폐점)-->
	<select id="selectCloseStoreApproval" resultType="Approval">
		SELECT TO_CHAR(AL.APPROVAL_DATE, 'YYYY-MM-DD') APPROVAL_DATE , AL.APPROVAL_NO , AL.APPROVAL_TITLE , AL.APPROVAL_CONTENT , DECODE(AL.DEPARTMENT_NO, 1, '인사관리부', 2, '경영관리부', 3, '운영관리부', 4, '고객관리부', 0, '임원부') DEPARTMENT_TITLE,
		AF.APPROVAL_FILE_ROUTE , AF.APPROVAL_FILE_ORIGIN_NAME , AF.APPROVAL_FILE_RENAME ,
		DECODE(AL.DOC_CATEGORY_NO, 0, '복무(휴가)', 1, '인사(퇴직)', 2, '업무(출점)', 3, '업무(폐점)', 4, '업무(지출)', 5, '업무(발주)') DOC_CATEGORY_TITLE,
		(SELECT MEMBER_NAME FROM MEMBER M WHERE AL.MEMBER_NO = M.MEMBER_NO) MEMBER_NAME, <!--기안자의 이름-->
		(SELECT TEAM_NAME FROM MEMBER M JOIN TEAM T ON (M.TEAM_NO = T.TEAM_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) TEAM_NAME,
		(SELECT DEPARTMENT_NAME FROM MEMBER M JOIN DEPARTMENT D ON (D.DEPARTMENT_NO = M.DEPARTMENT_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) DEPARTMENT_NAME,
		(SELECT COUNT(*) FROM APPROVER AR WHERE AR.APPROVAL_NO = AL.APPROVAL_NO) APPROVER_COUNT, <!--결재자수-->
		DS.STORE_NAME , DS.STORE_NO 
		FROM APPROVAL AL
		JOIN DOC_STORE DS ON (AL.APPROVAL_NO=DS.APPROVAL_NO)
		LEFT JOIN APPROVAL_FILE AF ON (AL.APPROVAL_NO=AF.APPROVAL_NO)
		WHERE AL.APPROVAL_NO = ${approvalNo}
		AND DS.DOC_STORE_STATE = 1
	</select>
	

 <!--기안서 상세조회(발주)-->
<select id="selectOrderApproval" resultType="Approval">
  SELECT TO_CHAR(AL.APPROVAL_DATE, 'YYYY-MM-DD') APPROVAL_DATE , AL.APPROVAL_NO , AL.APPROVAL_TITLE , AL.APPROVAL_CONTENT , DECODE(AL.DEPARTMENT_NO, 1, '인사관리부', 2, '경영관리부', 3, '운영관리부', 4, '고객관리부', 0, '임원부') DEPARTMENT_TITLE,
  DECODE(AL.DOC_CATEGORY_NO, 0, '복무(휴가)', 1, '인사(퇴직)', 2, '업무(출점)', 3, '업무(폐점)', 4, '업무(지출)', 5, '업무(발주)') DOC_CATEGORY_TITLE,
  (SELECT MEMBER_NAME FROM MEMBER M WHERE AL.MEMBER_NO = M.MEMBER_NO) MEMBER_NAME, <!--기안자의 이름-->
  (SELECT TEAM_NAME FROM MEMBER M JOIN TEAM T ON (M.TEAM_NO = T.TEAM_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) TEAM_NAME,
  (SELECT DEPARTMENT_NAME FROM MEMBER M JOIN DEPARTMENT D ON (D.DEPARTMENT_NO = M.DEPARTMENT_NO) WHERE AL.MEMBER_NO = M.MEMBER_NO) DEPARTMENT_NAME,
  (SELECT COUNT(*) FROM APPROVER AR WHERE AR.APPROVAL_NO = AL.APPROVAL_NO) APPROVER_COUNT, <!--결재자수-->

  DO.DOC_ORDER_NO , DO.DOC_ORDER_AMOUNT , DO.DOC_ORDER_UNIT_PRICE , DO.DOC_ORDER_PRICE , DO.GOODS_NO , DO.DOC_ORDER_GOODS_NAME , DO.DOC_ORDER_DATE 
  FROM APPROVAL AL
  JOIN DOC_ORDER DO ON (AL.APPROVAL_NO=DO.APPROVAL_NO)
  WHERE AL.APPROVAL_NO = ${approvalNo}
</select>

	
<!-- 발주 주문서 insert -->
<insert id="insertOrder">
  INSERT INTO "DOC_ORDER"
  <foreach collection="list" item="item" separator=" UNION ">
    SELECT NEXT_DOC_ORDER_NO(), #{item.docOrderAmount}, #{item.docOrderUnitPrice}, #{item.docOrderPrice},
    #{item.approvalNo},#{item.goodsNo}, #{item.docOrderGoodsName}, #{item.docOrderDate}  FROM DUAL
  </foreach>	
</insert>
	
	

</mapper>

