<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.keepers.conbee.chatting.model.mapper.ChattingMapper">
	
	<!-- 1:1 채팅 조회 시(테스트) -->
<!--	<select id="selectChat" resultType="Chatting">
		SELECT * FROM "CHAT"
		WHERE CHAT_OPEN_MEMBER = #{memberNo}
	</select>-->
	
	
	
	
	
	
	<!-- 1:1 채팅 조회 시 -->
	<select id="selectChatList1" resultType="Chatting">
		SELECT CHAT_NO
		
			,(SELECT CHAT_MESSAGE_CONTENT FROM (
				SELECT * FROM CHAT_MESSAGE M2
				WHERE M2.CHAT_NO = R.CHAT_NO
				ORDER BY CHAT_MESSAGE_NO DESC) 
				WHERE ROWNUM = 1) LAST_MESSAGE
				
			,TO_CHAR(NVL((SELECT MAX(CHAT_MESSAGE_DATE) CHAT_MESSAGE_DATE 
					FROM CHAT_MESSAGE M
					WHERE R.CHAT_NO  = M.CHAT_NO), CHAT_DATE), 
					'YYYY.MM.DD') CHAT_MESSAGE_DATE
					
					
			,NVL2((SELECT CHAT_OPEN_MEMBER FROM CHAT R2
				WHERE R2.CHAT_NO = R.CHAT_NO
				AND R2.CHAT_OPEN_MEMBER = #{memberNo}),
				R.MEMBER_NO,
				R.CHAT_OPEN_MEMBER
				) TARGET_NO	
				
				
			,NVL2((SELECT CHAT_OPEN_MEMBER FROM CHAT R2
				WHERE R2.CHAT_NO = R.CHAT_NO
				AND R2.CHAT_OPEN_MEMBER = #{memberNo}),
				(SELECT MEMBER_NAME FROM MEMBER WHERE MEMBER_NO = R.MEMBER_NO),
				(SELECT MEMBER_NAME FROM MEMBER WHERE MEMBER_NO = R.CHAT_OPEN_MEMBER)
				) TARGET_NAME	
			,NVL2((SELECT CHAT_OPEN_MEMBER FROM CHAT R2
				WHERE R2.CHAT_NO = R.CHAT_NO
				AND R2.CHAT_OPEN_MEMBER = #{memberNo}),
				(SELECT MEMBER_PROFILE FROM MEMBER WHERE MEMBER_NO = R.MEMBER_NO),
				(SELECT MEMBER_PROFILE FROM MEMBER WHERE MEMBER_NO = R.CHAT_OPEN_MEMBER)
				) TARGET_IMG
			,(SELECT COUNT(*) FROM CHAT_MESSAGE M WHERE M.CHAT_NO = R.CHAT_NO AND CHAT_MESSAGE_READ = '읽지않음' AND CHAT_MESSAGE_SENDER != #{memberNo}) NOT_READ_COUNT
			,(SELECT MAX(CHAT_MESSAGE_NO) CHAT_MESSAGE_DATE FROM CHAT_MESSAGE M WHERE R.CHAT_NO  = M.CHAT_NO) MAX_CHAT_MESSAGE_NO
		FROM CHAT R
		WHERE CHAT_OPEN_MEMBER = #{memberNo}
		OR MEMBER_NO = #{memberNo}
		ORDER BY MAX_CHAT_MESSAGE_NO DESC NULLS LAST
	</select>
	
	
	
	<!-- 대화 상대 검색 - DB 확인 완료F>> 성공-->
	<select id="selectTarget" resultType="Member">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_NAME, MEMBER_PROFILE  FROM "MEMBER"
		WHERE (MEMBER_ID LIKE '%${query}%' OR MEMBER_NAME LIKE '%${query}%')
		AND MEMBER_DEL_FL = 'N'
		AND MEMBER_NO != ${memberNo}
	</select>
	
	
	
	
	<!-- 채팅방 유무 확인 - DB 확인 완료 -->
	<select id="checkChatNo" resultType="_int">
		SELECT NVL(SUM(CHAT_NO),0) CHAT_NO FROM CHAT
		WHERE (CHAT_OPEN_MEMBER = #{loginMemberNo} AND MEMBER_NO = #{targetNo})
		OR (CHAT_OPEN_MEMBER = #{targetNo} AND MEMBER_NO = #{loginMemberNo})
	</select>
	
	
	
	<!-- 1:1 채팅방 생성 -->
	<insert id="createChattingRoom" parameterType="map" useGeneratedKeys="true">
	
		<selectKey keyProperty="chatNo" order="BEFORE" resultType="_int">
			SELECT SEQ_ROOM_NO.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO CHAT
		VALUES(#{chatNo}, DEFAULT, #{loginMemberNo}, #{targetNo}, NULL)
	</insert>	
	<!-- 오류나면 확인 -->
	
	
	
	
	
	
	
	<!-- 채팅 메세지 삽입 -->
	<insert id="insertMessage">
		INSERT INTO "CHAT_MESSAGE"
		VALUES(SEQ_CHAT_MESSAGE_NO.NEXTVAL, DEFAULT, #{chatMessageContent}, DEFAULT, #{chattingNo}, #{chatMessageSender})
	</insert>
	
	
	
	<!-- 채팅 메세지 중 내가 보내지 않은 글을 읽음으로 표시 -->
	<update id="updateChatMessageRead">
		UPDATE "CHAT_MESSAGE" SET
		CHAT_MESSAGE_READ = '읽지않음'
		WHERE CHAT_NO = #{chatNo}
		AND CHAT_MESSAGE_SENDER != #{memberNo}
	</update>
	
	
	
	<!-- 채팅방 메세지 조회 -->
	<select id="selectMessageList" resultType="ChatMessage">
		SELECT CHAT_MESSAGE_NO, CHAT_MESSAGE_CONTENT, CHAT_MESSAGE_READ, CHAT_MESSAGE_SENDER, CHAT_NO,
		TO_CHAR(CHAT_MESSAGE_DATE, 'YYYY.MM.DD HH24:MI') CHAT_MESSAGE_DATE 
		FROM CHAT_MESSAGE
		WHERE CHAT_NO  = #{chatNo}
		ORDER BY CHAT_MESSAGE_NO
	</select>	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 팀 채팅 조회 시 -->
	<select id="selectChatList2" resultType="Chatting">
		
	</select>

	
	
	
	
	

</mapper>