<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.keepers.conbee.chatting.model.mapper.ChattingMapper">
	
	<!-- 1:1 채팅 조회 시(테스트) -->
<!--	<select id="selectChat" resultType="Chatting">
		SELECT * FROM "CHAT"
		WHERE CHAT_OPEN_MEMBER = #{memberNo}
	</select>-->
	
	
	
	
	
	
	<!-- 1:1 채팅 조회 시 -->
	<select id="selectChatList1" resultType="Chatting">
		SELECT CHAT_NO
		
			,(SELECT CHAT_MESSAGE_CONTENT FROM (
				SELECT * FROM CHAT_MESSAGE M2
				WHERE M2.CHAT_NO = R.CHAT_NO
				ORDER BY CHAT_MESSAGE_NO DESC) 
				WHERE ROWNUM = 1) LAST_MESSAGE
				
			,TO_CHAR(NVL((SELECT MAX(CHAT_MESSAGE_DATE) CHAT_MESSAGE_DATE 
					FROM CHAT_MESSAGE M
					WHERE R.CHAT_NO  = M.CHAT_NO), CHAT_DATE), 
					'YYYY.MM.DD') CHAT_MESSAGE_DATE
					
					
			,NVL2((SELECT CHAT_OPEN_MEMBER FROM CHAT R2
				WHERE R2.CHAT_NO = R.CHAT_NO
				AND R2.CHAT_OPEN_MEMBER = #{memberNo}),
				R.MEMBER_NO,
				R.CHAT_OPEN_MEMBER
				) TARGET_NO	
				
				
			,NVL2((SELECT CHAT_OPEN_MEMBER FROM CHAT R2
				WHERE R2.CHAT_NO = R.CHAT_NO
				AND R2.CHAT_OPEN_MEMBER = #{memberNo}),
				(SELECT MEMBER_NAME FROM MEMBER WHERE MEMBER_NO = R.MEMBER_NO),
				(SELECT MEMBER_NAME FROM MEMBER WHERE MEMBER_NO = R.CHAT_OPEN_MEMBER)
				) TARGET_NAME	
			,NVL2((SELECT CHAT_OPEN_MEMBER FROM CHAT R2
				WHERE R2.CHAT_NO = R.CHAT_NO
				AND R2.CHAT_OPEN_MEMBER = #{memberNo}),
				(SELECT MEMBER_PROFILE FROM MEMBER WHERE MEMBER_NO = R.MEMBER_NO),
				(SELECT MEMBER_PROFILE FROM MEMBER WHERE MEMBER_NO = R.CHAT_OPEN_MEMBER)
				) TARGET_IMG
			,(SELECT COUNT(*) FROM CHAT_MESSAGE M WHERE M.CHAT_NO = R.CHAT_NO AND CHAT_MESSAGE_READ = '읽지않음' AND CHAT_MESSAGE_SENDER != #{memberNo}) NOT_READ_COUNT
			,(SELECT MAX(CHAT_MESSAGE_NO) CHAT_MESSAGE_DATE FROM CHAT_MESSAGE M WHERE R.CHAT_NO  = M.CHAT_NO) MAX_CHAT_MESSAGE_NO
		FROM CHAT R
		WHERE CHAT_OPEN_MEMBER = #{memberNo}
		OR MEMBER_NO = #{memberNo}
		ORDER BY MAX_CHAT_MESSAGE_NO DESC NULLS LAST
	</select>
	
	
	
	<!-- 팀 채팅 조회 시 -->
	<select id="selectChatList2" resultType="Chatting">
		
	</select>

	
	
	
	
	

</mapper>