<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.keepers.conbee.board.model.mapper.EditBoardMapper">

	<!-- 게시글 작성 -->
	<insert id="boardWrite" parameterType="Board" useGeneratedKeys="true">
		
		<selectKey order="BEFORE" resultType="_int" keyProperty="boardNo">
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO "BOARD"
		VALUES(#{boardNo}, #{boardTitle}, #{boardContent}, #{boardAttach}, default, #{memberNo}, #{boardCodeNo}, default, default)
	</insert>


	<!-- 게시글 삭제 -->
	<delete id="deleteBoard">
		UPDATE "BOARD" SET
		BOARD_DEL_FL = 'Y'
		WHERE BOARD_CODE_NO = #{boardCodeNo}
		AND BOARD_NO = #{boardNo}
		AND MEMBER_NO = #{memberNo}
	</delete>


	<!-- 게시글 부분만 수정 -->
	<update id="updateBoard">
		UPDATE "BOARD" SET
		BOARD_TITLE = #{boardTitle},
		BOARD_CONTENT = #{boardContent},
		BOARD_ATTACH = #{boardAttach}
		WHERE BOARD_CODE_NO = #{boardCodeNo}
		AND BOARD_NO = #{boardNo}
	</update>
	
	<!--삭제되는 게시글이 신고된 게시글인지 확인-->
	<select id="checkReportBoard" resultType="_int">
		SELECT COUNT(*) 
		FROM REPORT
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!--삭제시 신고글인 경우 REPORT 업데이트-->
	<update id="reportAnswerBoard">
		UPDATE REPORT SET 
		REPORT_ANSWER = 'Y'
		WHERE BOARD_NO = #{boardNo}
	</update>


	







	
	
		

</mapper>