<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.keepers.conbee.member.model.mapper.MemberMapper">

	<!-- 로그인 서비스 -->
 	<select id="login" resultType="Member">
		 SELECT MEMBER_NO, MEMBER_ID, MEMBER_PW, MEMBER_EMAIL, MEMBER_NAME, MEMBER_ADDRESS,
		 MEMBER_TEL, MEMBER_PROFILE, MEMBER_AUTHORITY, 
		 	TO_CHAR(MEMBER_ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') ENROLL_DATE
		 FROM "MEMBER"
		 WHERE MEMBER_DEL_FL = 'N'
		 AND MEMBER_ID = #{memberId}
		 
	</select>

	<!-- 빠른 로그인 -->
 	<select id="quickLogin" resultType="Member">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_PW, MEMBER_EMAIL, MEMBER_NAME, MEMBER_ADDRESS,
		 MEMBER_TEL, MEMBER_PROFILE, MEMBER_AUTHORITY, 
		 	TO_CHAR(MEMBER_ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') ENROLL_DATE
		 FROM "MEMBER"
		 WHERE MEMBER_DEL_FL = 'N'
		 AND MEMBER_ID = #{memberId}
	</select>


</mapper>