<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.keepers.conbee.member.model.mapper.MemberMapper">

	<resultMap id="member_rm" type="Member">
		<id property="memberNo" column="MEMBER_NO"/>
		<collection property="storeList" select="loginStore" column="MEMBER_NO" javaType="java.util.ArrayList" ofType="Store" />
		<collection property="storeNoList" select="loginStoreNo" column="MEMBER_NO" javaType="java.util.ArrayList" ofType="Integer" />
	</resultMap>
	<select id="loginStoreNo" resultType="_int">
		SELECT STORE_NO FROM STORE WHERE MEMBER_NO = #{memberNo}
	</select>
	<select id="loginStore" resultType="Store">
		SELECT * FROM STORE
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 로그인 서비스 -->
 	<select id="login" resultMap="member_rm">
		 SELECT MEMBER_NO, MEMBER_ID, MEMBER_PW, MEMBER_EMAIL, MEMBER_NAME, MEMBER_ADDRESS,
		 MEMBER_TEL, MEMBER_PROFILE, MEMBER_AUTHORITY, 
		 	TO_CHAR(MEMBER_ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') MEMBER_ENROLL_DATE
		 FROM "MEMBER"
		 WHERE MEMBER_DEL_FL = 'N'
		 AND MEMBER_ID = #{memberId}
		 
	</select>

	<!-- 빠른 로그인 -->
 	<select id="quickLogin" resultType="Member">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_PW, MEMBER_EMAIL, MEMBER_NAME, MEMBER_ADDRESS,
		 MEMBER_TEL, MEMBER_PROFILE, MEMBER_AUTHORITY, 
		 	TO_CHAR(MEMBER_ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') ENROLL_DATE
		 FROM "MEMBER"
		 WHERE MEMBER_DEL_FL = 'N'
		 AND MEMBER_ID = #{memberId}
	</select>

	<!-- 비밀번호 123123으로 변경 후 암호화(삭제 예정) -->	
	<update id="password">
		UPDATE MEMBER
		SET MEMBER_PW = #{memberPw}
	</update>
	
	<!-- 아이디 찾기(멤버 조회) -->
	<select id="findMember" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_NAME = #{memberName}
		AND MEMBER_DEL_FL = 'N'
	</select>

	<!-- 아이디 찾기(찐) -->
	<select id="findMemberId" resultType="string">
		SELECT MEMBER_ID FROM MEMBER
		WHERE MEMBER_NAME = #{memberName}
		AND MEMBER_EMAIL =  #{memberEmail}
		AND MEMBER_DEL_FL = 'N'
	</select>
	
	<!-- 비밀번호 찾기(멤버 조회) -->
	<select id="findMemberPw" resultType="_int">
		SELECT COUNT(*)
	   	FROM "MEMBER" 
		WHERE MEMBER_ID = #{memberId} 
		AND MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_DEL_FL = 'N'
	</select>
	
	<!-- 비밀번호 찾기(찐) -->
	<select id="findPw" resultType="Member">
		SELECT MEMBER_ID FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_DEL_FL = 'N'
	</select>
	
	  <!-- 비밀번호 변경 -->
	 <update id="findPwResult">
		UPDATE "MEMBER" SET 
		MEMBER_PW = #{memberPw}
		WHERE MEMBER_NO = #{memberNo}
	 </update>
	

</mapper>