<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.keepers.conbee.mypage.model.mapper.MyPageMapper">
	
	<update id="myPageStoreUpdate">
		UPDATE "STORE" SET
		STORE_TEL = #{storeTel}
		WHERE STORE_NO = #{storeNo}
	</update>

	<select id="myPageStore" resultType="Store">
		SELECT STORE_NO, STORE_NAME, STORE_TEL, STORE_ADDRESS
		FROM "STORE"
		WHERE STORE_NO = #{storeNo}
	</select>
</mapper>