<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.keepers.conbee.note.model.mapper.NoteMapper">

	<!--주소록 검색-->
	<select id="nameSearch" resultType="Member">
		SELECT MEMBER_NO, MEMBER_NAME, MEMBER_EMAIL, DEPARTMENT_NAME
		FROM "MEMBER"
		JOIN DEPARTMENT USING(DEPARTMENT_NO)
		WHERE MEMBER_NAME LIKE '%${memberName}%'
	</select>

	<!--쪽지 보내기-->
	<insert id="noteWrite">
		INSERT INTO "MESSAGE" VALUES(
		SEQ_MESSAGE_NO.NEXTVAL, #{messageContent}, DEFAULT, DEFAULT, #{memberNoSender}, DEFAULT, #{memberNoReciplent}, 'N')
	</insert>

	<!-- 쪽지 수신함 -->
	<select id="noteReceive" resultType="Note">
		SELECT MES.*, MEM.MEMBER_NAME FROM "MESSAGE" MES
		JOIN MEMBER MEM ON(MES.MEMBER_NO_SENDER = MEM.MEMBER_NO)
		WHERE MEMBER_NO_RECIPIENT = #{memberNo}
		ORDER BY MESSAGE_NO DESC
	</select>
	
	<!-- 쪽지 읽음 -->
	<update id="readCheck">
		UPDATE "MESSAGE" SET
		MESSAGE_READ_FL = 'Y'
		WHERE MESSAGE_NO = #{messageNo}
	</update>
	
	<!-- 안 읽은 쪽지 수 -->
	<select id="unReadCount" resultType="_int">
		SELECT COUNT(*) FROM "MESSAGE"
		WHERE MEMBER_NO_RECIPIENT = #{memberNo}
		AND MESSAGE_READ_FL = 'N'
	</select>
	
		<!-- 쪽지 발신함 -->
	<select id="noteSent" resultType="Note">
		SELECT MES.*, MEM.MEMBER_NAME FROM "MESSAGE" MES
		JOIN MEMBER MEM ON(MES.MEMBER_NO_RECIPIENT = MEM.MEMBER_NO)
		WHERE MEMBER_NO_SENDER = #{memberNo}
		ORDER BY MESSAGE_NO DESC
	</select>
	
	<!--페이지네이션-->
		<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM "MESSAGE"
		WHERE MESSAGE_DEL_FL = 'N'
		<if test='grade == 1'>
			<![CDATA[ AND GRADE_NO < 6 ]]>
		</if>
		<if test='grade == 2'>
			AND GRADE_NO = 6 
		</if>
		<if test='query != null'>
			AND MEMBER_NAME LIKE '%${query}%'
		</if>
	</select>
	
	<!--쪽지 저장-->
	<update id="save">
		UPDATE "MESSAGE" SET
		MESSAGE_SAVE = 'Y'
		WHERE MESSAGE_NO = #{messageNo}
	</update>
	
	<!-- 보낸 쪽지 저장-->
	<update id="savesent">
		UPDATE "MESSAGE" SET
		MESSAGE_SAVE = 'Y'
		WHERE MESSAGE_NO = #{messageNo}
	</update>

	<!--쪽지 보관함-->
	<select id="notekeep" resultType="Note">
		SELECT MES.*, MEM.MEMBER_NAME FROM "MESSAGE" MES
		JOIN MEMBER MEM ON(MES.MEMBER_NO_SENDER = MEM.MEMBER_NO)
		WHERE MEMBER_NO_RECIPIENT = #{memberNo}
		AND MESSAGE_SAVE = 'Y'
		ORDER BY MESSAGE_NO DESC
	</select>	
	
	<select id="alreadySave" resultType="_int">
		SELECT COUNT(*) FROM "MESSAGE"
		WHERE MESSAGE_NO = #{messageNo}
		AND MESSAGE_SAVE = 'Y'
	</select>
	
	<!--쪽지 삭제-->
	<delete id="deleteNoteReceive" parameterType="list">
	    DELETE FROM "MESSAGE"
	    WHERE MESSAGE_NO IN
	    <foreach item="messageNo" collection="list" open="(" separator="," close=")">
	        #{messageNo}
	    </foreach>
	</delete>
	
	<delete id="deleteNoteSent" parameterType="list">
	    DELETE FROM "MESSAGE"
	    WHERE MESSAGE_NO IN
	    <foreach item="messageNo" collection="list" open="(" separator="," close=")">
	        #{messageNo}
	    </foreach>
	</delete>
	
	<delete id="deleteNoteKeep" parameterType="list">
	    DELETE FROM "MESSAGE"
	    WHERE MESSAGE_NO IN
	    <foreach item="messageNo" collection="list" open="(" separator="," close=")">
	        #{messageNo}
	    </foreach>
	</delete>

</mapper>