<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.keepers.conbee.stock.model.mapper.StockManageMapper">
	
	<!-- 상품 삭제 -->
	<delete id="goodsDelete">
		DELETE FROM GOODS
		WHERE GOODS_NO = #{goodsNo}
	</delete>
	
	<!-- 상품 수정 -->
	<update id="goodsUpdate">
	  	UPDATE "GOODS" SET
	    	GOODS_NAME = #{goodsName},
	    	<if test="goodsStandard != ''">
	      		GOODS_STANDARD = #{goodsStandard},
	    	</if>
	    	<if test="goodsStandard == ''">
	      		GOODS_STANDARD = DEFAULT,
	    	</if>
	    	LCATEGORY_NO = (SELECT LCATEGORY_NO FROM LCATEGORY WHERE LCATEGORY_NAME = #{lcategoryName}),
	    	SCATEGORY_NO = (SELECT SCATEGORY_NO FROM SCATEGORY WHERE SCATEGORY_NAME = #{scategoryName})
	  	WHERE GOODS_NO = #{goodsNo}
	</update>
	
	<!-- 상품 등록 -->
	<insert id="goodsInsert">
		INSERT INTO "GOODS"
		VALUES (SEQ_GOODS_NO.NEXTVAL, 
			#{goodsName},
			<if test='goodsStandard != ""'>
				#{goodsStandard}, 
			</if>
			<if test='goodsStandard == ""'>
				DEFAULT,
			</if>
			(SELECT LCATEGORY_NO FROM LCATEGORY WHERE LCATEGORY_NAME = #{lcategoryName}),
			(SELECT SCATEGORY_NO FROM SCATEGORY WHERE SCATEGORY_NAME = #{scategoryName}))
	</insert>
	
	<!-- 상품 등록 후 조회 -->
	<select id="goodsList" resultType="Stock">
		SELECT GOODS_NO, GOODS_NAME, GOODS_STANDARD, LCATEGORY_NAME, SCATEGORY_NAME, GOODS_PRICE
		FROM GOODS
		JOIN LCATEGORY USING(LCATEGORY_NO)
		JOIN SCATEGORY USING(SCATEGORY_NO)
		WHERE GOODS_DEL_FL = 'N'
		ORDER BY GOODS_NO DESC
	</select>
	
	<!-- 재고 현황 리스트 전체 조회 -->
	<select id="stockList" resultType="Stock">
		SELECT GOODS_NO, GOODS_NAME, GOODS_STANDARD, LCATEGORY_NAME, SCATEGORY_NAME, STORE_NAME, STOCK_IN_PRICE, STOCK_OUT_PRICE, STOCK_DISCOUNT, STOCK_AMOUNT, STORE_NO
		FROM GOODS
		JOIN LCATEGORY USING(LCATEGORY_NO)
		JOIN SCATEGORY USING(SCATEGORY_NO)
		JOIN STOCK USING(GOODS_NO)
		JOIN STORE USING(STORE_NO)
		WHERE STORE_NO = 
		<if test='storeNo == -1'>
			0
		</if>
		<if test='storeNo != -1'>
			#{storeNo}
		</if>
		<if test='lcategoryName != ""'>
			AND LCATEGORY_NAME = #{lcategoryName}
		</if>
		<if test='scategoryName != ""'>
			AND SCATEGORY_NAME = #{scategoryName}
		</if>
		AND GOODS_NAME LIKE '%${goodsName}%'
		ORDER BY GOODS_NO DESC
	</select>
	
	<!-- 재고 등록 -->
	<insert id="stockInsert">
		INSERT INTO "STOCK"
		VALUES ( #{storeNo},
			(SELECT GOODS_NO FROM GOODS WHERE GOODS_NAME = #{goodsName}), 
			#{stockAmount},
			#{stockDiscount},
			#{stockOutPrice},
			#{stockInPrice})
	</insert>
	
	<!-- 상품명 입력 시 대소분류 작성 -->
	<select id="goodsNameSelect" resultType="Stock">
		SELECT GOODS_NAME, GOODS_NO, LCATEGORY_NAME, SCATEGORY_NAME, GOODS_PRICE
		FROM GOODS
		JOIN LCATEGORY USING(LCATEGORY_NO)
		JOIN SCATEGORY USING(SCATEGORY_NO)
		WHERE GOODS_NAME LIKE '%${intputGoods}%'
	</select>
	
	<select id="storeName" resultType="string">
		SELECT STORE_NAME
		FROM STORE
		WHERE STORE_NO = #{storeNo}
	</select>
	
	<!-- 상품 검색 -->
	<select id="goodsSearch" resultType="Stock">
		SELECT LCATEGORY_NAME, SCATEGORY_NAME, GOODS_NAME, GOODS_NO, GOODS_STANDARD
		FROM GOODS
		JOIN LCATEGORY USING(LCATEGORY_NO)
		JOIN SCATEGORY USING(SCATEGORY_NO)
		WHERE GOODS_NAME LIKE '%${goodsName}%'
		<if test='lcategoryName != ""'>
			AND LCATEGORY_NAME = #{lcategoryName}
		</if>
		<if test='scategoryName != ""'>
			AND SCATEGORY_NAME = #{scategoryName}
		</if>
		ORDER BY GOODS_NO DESC
	</select>
	
	<!-- 입고가 조정 -->
	<update id="stockInPriceUpdate">
		UPDATE "STOCK" SET
		STOCK_IN_PRICE = #{stockInPrice}
		WHERE STORE_NO = #{storeNo}
		AND GOODS_NO = #{goodsNo}
	</update>
	<!-- 본사 재고 검색 -->
	<select id="stockListSearch" resultType="Stock">
		SELECT LCATEGORY_NAME, SCATEGORY_NAME, GOODS_NAME, GOODS_NO, GOODS_STANDARD, STORE_NO
		FROM GOODS
		JOIN LCATEGORY USING(LCATEGORY_NO)
		JOIN SCATEGORY USING(SCATEGORY_NO)
		JOIN STOCK USING(GOODS_NO)
		WHERE STORE_NO = 0
		<if test='goodsName != ""'>
			AND GOODS_NAME LIKE '%${goodsName}%'
		</if>
		<if test='lcategoryName != ""'>
			AND LCATEGORY_NAME = #{lcategoryName}
		</if>
		<if test='scategoryName != ""'>
			AND SCATEGORY_NAME = #{scategoryName}
		</if>
		ORDER BY GOODS_NO DESC
	</select>
	
</mapper>