<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.keepers.conbee.stock.model.mapper.StockMapper">
	
	<!-- 상품 등록 시 대분류 누르면 소분류 나오는 기능 -->
	<select id="scategoryList" resultType="string">
		SELECT SCATEGORY_NAME FROM SCATEGORY
		JOIN LCATEGORY USING(LCATEGORY_NO)
		WHERE LCATEGORY_NAME = #{lcategory}
	</select>
	
	<!-- 상품 등록 -->
	<insert id="goodsInsert">
		INSERT INTO "GOODS"
		VALUES (SEQ_GOODS_NO.NEXTVAL, 
			#{goodsName},
			<if test='goodsStandard != ""'>
				#{goodsStandard}, 
			</if>
			<if test='goodsStandard == ""'>
				DEFAULT,
			</if>
			(SELECT LCATEGORY_NO FROM LCATEGORY WHERE LCATEGORY_NAME = #{lcategoryName}),
			(SELECT SCATEGORY_NO FROM SCATEGORY WHERE SCATEGORY_NAME = #{scategoryName}))
	</insert>
	
	<!-- 상품 등록 후 조회 -->
	<select id="goodsList" resultType="Stock">
		SELECT GOODS_NO, GOODS_NAME, GOODS_STANDARD, LCATEGORY_NAME, SCATEGORY_NAME 
		FROM GOODS
		JOIN LCATEGORY USING(LCATEGORY_NO)
		JOIN SCATEGORY USING(SCATEGORY_NO)
		ORDER BY GOODS_NO DESC
	</select>
	
	<!-- 상품 삭제 -->
	<delete id="goodsDelete">
		DELETE FROM GOODS
		WHERE GOODS_NO = #{goodsNo}
	</delete>
	
	<update id="goodsUpdate">
		UPDATE STOCK SET
		
	</update>

</mapper>