<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>게시판</title>

  <link rel="stylesheet" href="path/to/assets/content-styles.css" type="text/css">

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/board/boardUpdate.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!-- <script src="/js/ckeditor5/build/ckeditor.js"></script> -->  <!-- /* watchdog 방식  */ -->
  <script src="/js/ckeditor54/build/ckeditor.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>

  
  <style>

    tr > td {
      height: 60px;
      text-align: center;

      vertical-align: middle;
    }

    .ck.ck-editor {
      width: 1000px;
    }

    .ck-editor__editable{
      min-height: 450px;
      max-height: 450px;
    }

  </style>
  
</head>
<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>

  <main class="d-flex flex-grow-1">

    <!-- 사이드바 -->
    <th:block th:replace="~{board/sidebar}"></th:block>

    <!-- 게시글 작성 -->
    <div class="d-flex flex-column p-3 w-100">

      <!-- 타이틀 -->
      <div class="d-flex justify-content-between align-items-center border-bottom">
        <div class="fs-3 pb-3 px-3" th:text="|${boardCodeName} >&nbsp; 게시글 수정|">
          게시글 수정
        </div>
      </div>

      <!-- 제목 / 게시글 작성 -->
      <div class="px-4 pt-2 flex-grow-1 align-items-center d-flex justify-content-center" >
        <form action="update" method="POST" class="board-write" id="boardUpdateFrm" th:object="${board}"> <!-- enctype="multipart/form-data"  -->
          <div class="d-flex align-items-center" style="width: 1000px;">
            <input type="text" style="font-size: 1.5rem;" class="form-control mb-1" name="boardTitle" id="boardTitle" th:value="*{boardTitle}" maxlength="50">
          </div>
  
          <div>
            <textarea name="boardContent" class="textareaSize boardContent" id="editor" th:text="*{boardContent}"></textarea>
          </div>
          <div>
            <div class="input-group mb-1">
              <input type="file" name="boardAttach" class="form-control" id="inputGroupFile02">
            </div>
            
            <div class="btn-group W-100" style="float: right;">
              <button type="submit" class="saveBtn me-1">저장</button>
              <button type="button" onclick="cancelBtn()" class="cancelBtn  me-1" >취소</button>
              <button type="button" onclick="listBtn()" id="goToListBtn" class="listBtn">목록으로</button>
            </div>
            
          </div>
        </form>
      </div>

      <!-- 페이지네이션 // 게시글 있을때만 보이게 함 -->


    </div>

    </div>
  </main>
  
  <script>

ClassicEditor
	.create( document.querySelector( '#editor' ), {
    
    // 에디터 한국어
    language: "ko",

    // ck에디터 업로드 구문
    simpleUpload : {
      uploadUrl: "/board/uploardImage",
      withCredentials: true
    },
    mediaEmbed: {
            previewsInData: true,
            providers: [
                {
                    name: 'YouTube',
                    url: /^https?:\/\/(?:www\.)?youtube\.com\/watch\?v=(.+)$/,
                    html: match => {
                        const videoId = match[1];
                        return `<div><iframe width="560" height="315" src="https://www.youtube.com/embed/${videoId}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>`;
                    }
                },
            ]
        }


	} )
	.then( editor => {
		window.editor = editor;
	} )
	.catch( handleSampleError );

function handleSampleError( error ) {
	const issueUrl = 'https://github.com/ckeditor/ckeditor5/issues';

	const message = [
		'Oops, something went wrong!',
		`Please, report the following error on ${ issueUrl } with the build id "4x1hzj93m7t7-9ag4f4jxojkm" and the error stack trace:`
	].join( '\n' );

	console.error( message );
	console.error( error );
}


/* watchdog 방식  */
    // const watchdog = new CKSource.EditorWatchdog();

    // window.watchdog = watchdog;

    // watchdog.setCreator( ( element, config ) => {
    //   return CKSource.Editor
    //     .create( element, config )
    //     .then( editor => {
    //       return editor;
    //     } );
    // } );

    // watchdog.setDestructor( editor => {
    //   return editor.destroy();
    // } );
    // watchdog.on( 'error', handleSampleError );

    // function handleSampleError( error ) {
    //   const issueUrl = 'https://github.com/ckeditor/ckeditor5/issues';

    //   const message = [
    //     'Oops, something went wrong!',
    //     `Please, report the following error on ${ issueUrl } with the build id "opiv0opeyynj-djulbq21iquk" and the error stack trace:`
    //   ].join( '\n' );

    //   console.error( message );
    //   console.error( error );
    // }

    // watchdog
    //   .create( document.querySelector( '#editor' ), {
    //     // toolbar: [ 'heading', '|', 'bold', 'italic', 'link', ]
    //     language : "ko"
    //   } )
    //   .then( editor => {
    //     window.editor = editor;
    //   } )
    //   .catch( err => {
    //     console.error( err.stack );
    //   } );

    // 취소 버튼 클릭 시 
    function cancelBtn() {

    // 입력 값이 비어있지 않은 경우에만 이전 페이지로 이동
    // 여기에 이전 페이지로 이동하는 코드를 추가할 수 있습니다.
    // 예를 들면, 아래와 같이 브라우저의 뒤로 가기 기능을 사용할 수 있습니다.
    window.history.back();
  }

    function listBtn() {

    // 입력 값이 비어있지 않은 경우에만 이전 페이지로 이동
    // 여기에 이전 페이지로 이동하는 코드를 추가할 수 있습니다.
    // 예를 들면, 아래와 같이 브라우저의 뒤로 가기 기능을 사용할 수 있습니다.
    window.history.back();
    window.history.back();
  }
  </script>
  

  
  
</body>
</html>