<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${boardCodeName}">게시글 상세조회</title>
  <link rel="stylesheet" href="/js/ckeditor54/sample/styles.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/board/boardDetail.css">
  <link rel="stylesheet" href="/css/board/boardComment.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <style>

    tr > td {
      height: 30px;
      text-align: center;

      vertical-align: middle;
    }

    /* ck에디터 입력 값 폰트 사이즈/컬러 등 css */
    .ck-content .text-tiny {
        font-size: 0.7em;
    }

    .ck-content .text-small {
        font-size: 0.85em;
    }

    .ck-content .text-big {
        font-size: 1.4em;
    }

    .ck-content .text-huge {
        font-size: 1.8em;
    }

    .ck-media__wrapper[data-oembed-url*="ckeditor.com"] .ck-media__placeholder__url .ck-media__placeholder__url__text {
    color: hsl(282, 100%, 93%);
    }

    .ck-media__wrapper[data-oembed-url*="ckeditor.com"] .ck-media__placeholder__url .ck-media__placeholder__url__text:hover {
        color: hsl(0, 100%, 100%);
    }

    li{
      list-style-type: none;
    }

    li input {
      margin-right: 10px;
    }


  </style>

  <script src="/js/ckeditor52/build/ckeditor.js"></script>
</head>
<body class="d-flex flex-column" style="height: 100vh;" >

  <th:block th:replace="~{common/header}"></th:block>
  <main class="d-flex flex-grow-1 overflow-y-auto">

    <!-- 사이드바 -->
    <th:block th:replace="~{board/sidebar}"></th:block>

    <!-- 회원정보조회 -->
    <div class="d-flex flex-column flex-grow-1 p-3">

      <!-- 타이틀 -->
      <div class="d-flex justify-content-between align-items-center border-bottom">
        <div class="fs-3 pb-3 px-3" th:text="${boardCodeName}">
          보드 타이틀 예정
        </div>
      </div>

      <div class="w-100 px-4 pt-2 flex-grow-1 overflow-y-auto">


        <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ보드디테이르ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
        <section class="board-detail">  
          <!-- 제목 -->
          <h1 class="board-title" th:text="${board.boardTitle}">  게시글 제목  </h1>

          <!-- 프로필 + 닉네임 + 작성일 + 조회수 -->
          <div class="board-header">
              <div class="board-writer">

                  <!-- 프로필 이미지 -->
                  <!-- 프로필 이미지가 없을 경우 기본 이미지 출력 -->

                  <!-- 타임리프 if문에서 객체가 null이 아니면 true
                       null 이면 false
                  -->
                  <th:block th:unless="${boardCodeNo == 3 or boardCodeNo == 6}">
                    <img th:unless="*{memberProfile}" th:src="#{user.default.image}">
                    
                    <!-- 프로필 이미지가 있을 경우 출력 -->
                    <img style="border-radius: 25px;" th:if="*{memberProfile}" th:src="*{memberProfile}">
                  </th:block>
                  <img th:if="${boardCodeNo == 3 or boardCodeNo == 6}" th:src="#{user.default.image}">


                    <span th:unless="${boardCodeNo == 3 or boardCodeNo == 6}" th:text="${board.memberName}">작성자 이름</span>
                    <span th:if="${boardCodeNo == 3 or boardCodeNo == 6}">익명</span>

                  
                  <!-- 북마크 별 -->
                  <span class="like-area">
                      
                      <!-- 좋아요 누른적이 있으면 fa-solid, 없으면 fa-regular 클래스 추가 -->
                      <!-- ${likeCheck} ? fa-solid : fa-regular
                          -> ${likeCheck}가 참조하는 값이 있으면 fa-solid
                             없으면 (== null) fa-regular
                      -->
                      <i class="bi" id="bookMark" style="color: gold;" th:classappend="${bookMark} ? bi-star-fill : bi-star"></i>
                  </span>

              </div>

              <div class="board-info">
                  <p> <span th:text="|작성일 &nbsp;${board.boardWriteDate}|">작성일</span> </p>     
                  <!-- <p> <span>작성일</span> [[*{boardWriteDate}]] </p>      -->


                  <p> <span th:text="|조회수 &nbsp;${board.boardHits}|">조회수</span> </p>                    
                  <!-- <p> <span>조회수</span> [[*{readCount}]] </p>                     -->
              </div>
          </div>



          <!-- 내용 -->
          <div class="board-content ck-content media" th:utext="${board.boardContent}">내용</div>
          
          
          <!-- 첨부파일 다운 -->
          <!-- 
          <div class="input-group mb-1">
            <input type="file" name="boardAttach" class="form-control" id="inputGroupFile02">
          </div>
           -->
          
          
          <!-- 버튼 영역-->
          <div class="board-btn-area mb-3">
            
            <!-- 로그인한 회원과 게시글 작성자 번호가 같은 경우 또는 관리자인 경우-->
            <div class="btn-group W-100" style="float: right;">
              <th:block th:if="${session.loginMember != null and (session.loginMember.memberNo == board.memberNo or session.loginMember.memberAuthority == 0)}">
                <a th:href="@{/board/boardUpdate/{boardCodeNo}/{boardNo}/update(boardCodeNo=${boardCodeNo}, boardNo=*{boardNo})}"  class="updateBtn me-1">수정</a>
                <button type="button" class="deleteBtn me-1" id="deleteBtn">삭제</button>
              </th:block>
              <th:block th:if="${session.loginMember != null and session.loginMember.memberNo != board.memberNo}">
                <button type="button" class="reportBtn me-2" data-bs-toggle="modal" data-bs-target="#reportBtn">신고</button>
              </th:block>
              <button id="goToListBtn" class="listBtn me-1">목록으로</button>
            </div>
          </div>
          
          <!-- 댓글 영역-->
          <th:block th:replace="~{board/boardComment}"></th:block>
          
      </section>



      <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ보드디테일ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->

      <!-- ================================== 신고버튼 ======================================= -->

      <div class="modal fade" tabindex="-1" id="reportBtn">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title">신고하기</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="/board/boardReport">
              <div class="modal-body">
                <ul>
                  <li><label><input type="radio" name="reportContent" value="1">스팸홍보/도배글</label></li>
                  <li><label><input type="radio" name="reportContent" value="2">음란물</label></li>
                  <li><label><input type="radio" name="reportContent" value="3">불법정보 포함</label></li>
                  <li><label><input type="radio" name="reportContent" value="4">욕설/생명경시/혐오/차별적 표현</label></li>
                  <li><label><input type="radio" name="reportContent" value="5">개인정보 노출</label></li>
                  <li><label><input type="radio" name="reportContent" value="6">불쾌한 표현</label></li>
                  <li><label><input type="radio" name="reportContent" value="7">명예훼손/저작권 침해</label></li>
                  <li><label><input type="radio" name="reportContent" value="8">불법촬영물 포함</label></li>
                </ul>
                <input type="hidden" name="boardCodeNo" th:value="${boardCodeNo}">
                <input type="hidden" name="boardNo" th:value="${board.boardNo}">
                <input type="hidden" name="memberNo" th:value="${session.loginMember.memberNo}">
                <input type="hidden" name="boardCommentNo" id="boardCommentNo" value="">
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn reportBtn">신고</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- =================================================================================== -->




      </div>

    </div>
  </main>

  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/board/boardDetail.js"></script>
  <script src="/js/board/boardComment.js"></script>

  
  <script th:inline="javascript">
    const boardCodeNo = /*[[${boardCodeNo}]]*/ "게시판 코드";
    const boardCodeName = /*[[${boardCodeName}]]*/ "게시판 이름";
    const boardNo = /*[[${boardNo}]]*/ "게시글 번호";
    // session에 세팅된 loginMember 존재 여부 확인 
    const loginCheck = /*[[${session.loginMember != null ? true : false}]]*/ "로그인 여부";




    

  
  </script>

  
</body>
</html>