<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>쪽지쓰기</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>

  <main class="d-flex flex-grow-1 overflow-y-auto">

    <th:block th:replace="~{note/sidebar}"></th:block>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column flex-grow-1   p-3">

      <div class="fs-3 pb-3 px-3 border-bottom">
        쪽지쓰기
      </div>

      <div class="btn-group btn-group-sm d-flex justify-content-center" role="group" aria-label="Basic outlined example">

        <br>


    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">받는사람</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" style="width: 200px;">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">내용</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" style="width: 40%;"></textarea>
    </div>

    <div class="d-flex align-items-end justify-content-flex-start pe-4 bg-white mb-4">
      <a href="/note/note-write" class="btn btn-warning mx-1 mr-4" style="width: 110px; height: 40px;">보내기</a>
    </div>
    


    </div>

  </main>


  <script src="/js/bootstrap.bundle.min.js"></script>
  <!--<script src="/js/.js"></script>-->
</body>

</html>