<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>즐겨찾기</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<style>
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

</style>

<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>

  <main class="d-flex flex-grow-1">

    <th:block th:replace="~{myPage/sidebar}"></th:block>

    <div class="d-flex flex-column p-3" style="width: 100%;">

      <div class="fs-4 pb-3 px-3 border-bottom">
           즐겨찾기
      </div>

      <div class="w-100 px-4 pt-2 flex-grow-1">
        <table class="table table-striped table-hover ">
          <colgroup>
            <!-- col 태그 내용 생략 (이미 작성된 내용 그대로 유지) -->
          </colgroup>
          <thead>
            <tr style="text-align: center;">
              <th><input type="checkbox"></th>
              <th>게시글번호</th>
              <th>게시판이름</th>
              <th>제목</th>

            </tr>
          </thead>
          <tbody>
            <!-- Thymeleaf를 사용하여 서버로부터 받은 게시글 목록을 반복적으로 표시 -->
            <tr th:each="board: ${choiceList}" style="text-align: center;" th:object="${board}">
              <td><input type="checkbox" th:value="${board}"></td>
              <td th:text="*{boardNo}">게시글번호</td>
              <td th:text="*{boardCodeName}">게시글번호</td>
              <td><a th:text="*{boardTitle}" th:href="@{/board/boardDetail/{boardCodeNo}/{boardNo}(boardCodeNo=*{boardCodeNo}, boardNo=*{boardNo})}">제목</a></td> 
              <td th:text="*{memberName}">작성자</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>