/* 테이블 간격 조정 */
thead>tr>th:nth-of-type(1){
    width: 2%;
}
thead>tr>th:nth-of-type(2){
    width: 5%;
}
thead>tr>th:nth-of-type(3){
    width: 10%;
}
thead>tr>th:nth-of-type(4){
    width: 10%;
}
/* thead>tr>th:nth-of-type(5){
    
} */
thead>tr>th:nth-of-type(6){
    width: 6%;
}
thead>tr>th:nth-of-type(7){
    width: 6%;
}
thead>tr>th:nth-of-type(8){
    width: 8%;
}
thead>tr>th:nth-of-type(9){
    width: 8%;
}
thead>tr>th:nth-of-type(10){
    width: 6%;
}
thead>tr>th:nth-of-type(11){
    width: 10%;
}

/* 테이블 구분선 */
thead>tr>th{
    border-bottom: calc(var(--bs-border-width) * 2) solid currentcolor !important;
}
tfoot>tr>th{
    border-top: calc(var(--bs-border-width) * 2) solid currentcolor !important;
}
table{
    border-collapse: separate;
    border-spacing: 0;
}

/* 행 안에 글자 가운데 정렬 */
tbody>tr>td{
    vertical-align: middle;
}

#modalBody > label{
    width: 19%;
    margin-left: 5px;
    margin-right: 5px;
}