<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>주소록</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>

  <main class="d-flex flex-grow-1">

    <th:block th:replace="~{address/sidebar}"></th:block>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">상세조회</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            




          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column p-3" style="width: 100%;">

      <div class="fs-4 pb-3 px-3 border-bottom">
        주소록
      </div>


      <div class="d-flex justify-content-center">

        <table class="table table-striped table-hover" style="width: 100%;">
          <colgroup>
            <col width=5%>
            <col width=7%>
            <col width=7%>
            <col width=7%>
            <col width=6%>
            <col width=8%>
            <col width=8%>
            <col width=8%>
            <col width=8%>
          </colgroup>
          <thead>
            <tr style="text-align: center;">
              <th><input type="checkbox"></th>
              <th>회원번호</th>
              <th>프로필</th>
              <th>이름</th>
              <th>부서</th>
              <th>팀</th>
              <th>직급</th>
              <th>전화번호</th>
                <th>조회</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">

            <tr th:each="member : ${memberList}" th:object="${member}" style="text-align: center;">
              <td><input type="checkbox"></td>
              <td th:text="*{memberNo}"></td>
              <td>
                <img th:if="*{memberProfile == null}" th:src="#{user.default.image}" style="width: 45px; height: 45px;">
                <img th:unless="*{memberProfile == null}" th:src="*{memberProfile}">
              </td>
              <td th:text="*{memberName}"></td>
              <td th:text="*{departmentName}" style="text-align: start; font-weight: bold;"><a href=""
                  style="text-decoration: none; color: black;"></a></td>
              <td th:text="*{teamName}"></td>
              <td th:text="*{gradeName}"></td>
              <td th:text="*{memberTel}"></td>
              <td><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  상세정보
                </button></td>
            </tr>

            

          </tbody>
        </table>
      </div>

    </div>

  </main>


  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/address.js"></script>
</body>

</html>