<!-- 사이드 바 -->
<div class="d-flex flex-column h-100 p-3 bg-body-tertiary " style="width: 180px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-3">주소록</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" id="sidebarHover">
        <!-- <li class="nav-item">
            <a href="/address" class="nav-link link-body-emphasis ">
                전체
            </a>
        </li> -->

        <li class="nav-item" th:unless="${session.loginMember.departmentNo==5}">
            <a href="/address" class="nav-link  link-body-emphasis">
                전부서
            </a>

            <a href="/address?deptNo=0" class="nav-link  link-body-emphasis">
                임원
            </a>
            <a href="/address?deptNo=1" class="nav-link  link-body-emphasis">
                인사관리부
            </a>
            <a href="/address?deptNo=2" class="nav-link  link-body-emphasis">
                경영관리부
            </a>
            <a href="/address?deptNo=3" class="nav-link  link-body-emphasis">
                운영관리부
            </a>
            <a href="/address?deptNo=4" class="nav-link  link-body-emphasis">
                고객관리부
            </a>

        </li>

        <li th:if="${session.loginMember.departmentNo==5}">
            <a href="/address?deptNo=5" class="nav-link link-body-emphasis">
                점주
            </a>
        </li>
    </ul>
</div>