<!-- 점포관리 사이드 바 -->
<div class="d-flex flex-column h-100 p-3 bg-body-tertiary " style="width: 180px;">
    <a href="/admin/storeManage/storeList" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-3">점포관리</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" id="sidebarHover">
        <li class="nav-item">
        <a href="/admin/storeManage/storeList" class="nav-link link-body-emphasis" aria-current="page">
            점포정보조회
        </a>
        </li>
        <li>
        <a href="/admin/storeManage/storeUpdate" class="nav-link link-body-emphasis">
            점포정보수정
        </a>
        </li>
        <li>
        <a href="/admin/storeManage/storeInsert" class="nav-link link-body-emphasis">
            신규점포등록
        </a>
        </li>
    </ul>
</div>