<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.keepers.POS.main.model.mapper.MainMapper">
	
	<select id="search" resultType="Goods">
		SELECT GOODS_NO, GOODS_NAME, LCATEGORY_NAME, SCATEGORY_NAME, STOCK_OUT_PRICE, STOCK_DISCOUNT
			,STORE_NO, STORE_NAME
		FROM GOODS
		JOIN LCATEGORY USING(LCATEGORY_NO)
		JOIN SCATEGORY USING(SCATEGORY_NO)
		JOIN STOCK USING(GOODS_NO)
		JOIN STORE USING(STORE_NO)
		WHERE GOODS_NAME LIKE '%${inputPosSearch}%'
		AND STORE_NAME = #{storeName}
	</select>
	
	<update id="updateStock">
		<foreach collection="list" item="item" separator="UNION">
			UPDATE "STOCK" SET
			STOCK_AMOUNT = STOCK_AMOUNT - ${item.historyAmount}
			WHERE STORE_NO = #{item.storeNo}
			AND GOODS_NO = #{item.goodsNo}
		</foreach>
	</update>
	
	<insert id="insertHistory">
		INSERT INTO "HISTORY"
		<foreach collection="list" item="item" separator="UNION">
			VALUES(SEQ_HISTORY_NO.NEXTVAL, '출고', #{historyAmount}, #{historyActualPrice}, #{historyUnitPrice},
				#{historyDiscount}, DEFAULT, #{historyStoreName}, #{historyGoodsName}, #{storeNo}, #{goodsNo})
		</foreach>
	</insert>
	
</mapper>