<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.keepers.POS.member.model.mapper.MemberMapper">
	
	<resultMap id="login_rm" type="Member">
		<id property="memberNo" column="MEMBER_NO" />
		<collection property="storeName" select="selectStoreName" column="MEMBER_NO" javaType="java.util.ArrayList" ofType="String" />
	</resultMap>
	
	<select id="selectStoreName" resultType="string">
		SELECT STORE_NAME FROM STORE
		WHERE MEMBER_NO = #{memberNo}
		AND STORE_RUN_FL = 'Y'
	</select>
	
	<select id="login" resultMap="login_rm">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_PW, MEMBER_EMAIL, MEMBER_NAME, MEMBER_ADDRESS,
		 MEMBER_TEL, MEMBER_PROFILE, MEMBER_AUTHORITY, 
		 	TO_CHAR(MEMBER_ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') MEMBER_ENROLL_DATE
		 FROM "MEMBER"
		 WHERE MEMBER_DEL_FL = 'N'
		 AND MEMBER_ID = #{memberId}
	</select>
	
</mapper>