/* 테이블 줄 없애기 */
#revenueTable{
   border-collapse: separate;
   border-spacing: 0;
}

/* 테이블 헤더 밑줄 */
#revenueTable>thead>tr>th{
   border-bottom: calc(var(--bs-border-width) * 2) solid currentcolor !important;
}

/* 사이드바 호버 */
#sidebarHover>li>a:hover{
   background-color: #FFE15D;
   border-radius: 0.5rem;
}