*{
   /* border: 1px solid black; */
}

/* 검색창 */
.searchBox{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   width: 95%;
   margin-bottom: 18px;
}
.searchBox>input{
   width: 17rem;
}
.searchBox>button{
   width: 4rem;
}


/* 테이블 줄 없애기 */
table{
   border-collapse: separate;
   border-spacing: 0;
}

/* 테이블 헤더 밑줄 */
thead>tr>th{
   border-bottom: calc(var(--bs-border-width) * 2) solid currentcolor !important;
}

/* 사이드바 호버 */
#sidebarHover>li>a:hover{
   background-color: #FFE15D;
   border-radius: 0.5rem;
}

/* 노란 버튼 */
.btn-cor{
   background-color: #FFE15D;
}