*{
   /* border: 1px solid black; */
}

/* 테이블 줄 없애기 */
table{
   border-collapse: separate;
   border-spacing: 0;
}

/* 테이블 헤더 밑줄 */
thead>tr>th{
   border-bottom: calc(var(--bs-border-width) * 2) solid currentcolor !important;
}

.tablebox{
   width: 95%;
   min-height: 30rem;
}