<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>beekeepers 로그인</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="/css/member/login.css" rel="stylesheet">
</head>
<body class="d-flex flex-column overflow-y-auto" style="height: 100vh;">

  <th:block th:replace="~{common/loginHeader}"></th:block>

  
  <main class="d-flex w-100 flex-grow-1 m-auto form-signin">

    <form class="m-auto w-100" action="/member/login" method="post">
      <img class="mb-3" th:src="#{logo.login.image}" style="width: 10rem" >
      <h1 class="h3 mb-3 fw-normal">회원가입</h1>
  
    
      <p class="mb-3 text-body-secondary">&copy; beekeepers</p>
    </form>


  </main>

  <th:block th:replace="~{common/footer}"></th:block>

  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>