<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POS</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="d-flex flex-column" style="height: 100vh;">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">품목 검색</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <input id="inputPosSearch" type="text" class="form-control" placeholder="상품 이름을 입력해주세요">
          </div>
          <div id="modalBody">
            <!-- <label class="form-control my-1">
              <input type="checkbox" class="form-check-input goods">
              <span>A0002</span>
              <span>과자류</span>
              <span>스낵</span>
              <span>포카칩</span>
              <span>1500</span>
            </label>
            <label class="form-control my-1">
              <input type="checkbox" class="form-check-input goods">
              <span>A0003</span>
              <span>과자류</span>
              <span>스낵</span>
              <span>썬칩</span>
              <span>1700</span>
            </label> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="plusRowBtn">확인</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 헤더 -->
  <th:block th:replace="~{header}"></th:block>

  <main class="container-fluid d-flex flex-column flex-grow-1 align-items-center overflow-y-auto">

    <div class="container-fluid d-flex justify-content-center mt-3 position-relative">
      <div class="fs-1 me-3">KH 편의점</div>
      <div class="d-flex align-items-center">
        <select class="form-select form-select-sm" aria-label="Default select example" name="" id="">
          <option value="" th:each="storeName : ${session.loginMember.storeName}" th:text="${storeName}"></option>
        </select>
      </div>
    </div>
    <div class="w-75 text-end">
      <button class="btn btn-light mb-2" id="deleteBtn">삭제</button>
      
      <button id="modalBtn" type="button" class="btn btn-light mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
        품목검색
      </button>
    </div>
    <form class="border border-3 border-light rounded w-75 d-flex flex-column align-items-center overflow-y-auto">
      <table class="w-100 table table-striped table-hover text-center m-0">
        <thead class="sticky-top">
          <tr>
            <th>#</th>
            <th>품목코드</th>
            <th>대분류</th>
            <th>소분류</th>
            <th>제품명</th>
            <th>단가</th>
            <th>수량</th>
            <th>금액</th>
          </tr>
        </thead>
        <tbody id="parentTable" class="overflow-y-auto">
          <!-- <tr>
            <td>A0001</td>
            <td>과자류</td>
            <td>캔디</td>
            <td>츄파춥스</td>
            <td>200</td>
            <td>2</td>
            <td class="sumPrice">400</td>
          </tr> -->
          <!-- <tr>
            <td>A0001</td>
            <td>과자류</td>
            <td>캔디</td>
            <td></td>
            <td>200</td>
            <td><input class="form-control form-control-sm text-center" min="0"  type="number" oninput="calcPay(this)"></td>
            <td>0</td>
          </tr> -->
        </tbody>
        <tfoot class="sticky-bottom table-group-divider">
          <tr>
            <th colspan="5">합계</th>
            <th colspan="2" id="totalPrice">0</th>
            <th><button class="btn btn-light">결제하기</button></th>
          </tr>
        </tfoot>
      </table>
      
      
    </form>

  </main>

  <th:block th:replace="~{footer}"></th:block>

  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>