<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POS</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="d-flex flex-column" style="height: 100vh;">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">품목 검색</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <input id="inputPosSearch" type="text" class="form-control" placeholder="상품 이름을 입력해주세요">
          </div>
          <div id="modalBody">
            <!-- <label class="form-control my-1">
              <input type="checkbox" class="form-check-input goods">
              <span>A0002</span>
              <span>과자류</span>
              <span>스낵</span>
              <span>포카칩</span>
              <span>1500</span>
            </label>
            <label class="form-control my-1">
              <input type="checkbox" class="form-check-input goods">
              <span>A0003</span>
              <span>과자류</span>
              <span>스낵</span>
              <span>썬칩</span>
              <span>1700</span>
            </label> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="plusRowBtn">확인</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 헤더 -->
  <th:block th:replace="~{header}"></th:block>

  <main class="container-fluid d-flex flex-column flex-grow-1 align-items-center overflow-y-auto px-5">

    <div class="container-fluid d-flex justify-content-center mt-3 position-relative">
      <div class="fs-1 me-3">KH 편의점</div>
    </div>
    
    <form action="/insert" method="post" id="posForm" class="w-100 d-flex flex-column flex-grow-1 align-items-center overflow-y-auto">
      
      <div class="d-flex align-items-center justify-content-end w-100 mb-2">
        <div>
          <select class="form-select form-select-sm" aria-label="Default select example" name="historyStoreInfo" id="storeSelect">
            <option value="0">지점 선택 후 검색가능</option>
            <th:block th:each="store : ${session.loginMember.storeList}" th:object="${store}">
              <option th:text="|*{storeNo} *{storeName}|">
              </option>
            </th:block>
          </select>
          <input type="hidden" name="storeNo" th:value="*{storeNo}">
        </div>
        <button type="button" class="btn btn-light mx-3" id="deleteBtn">삭제</button>
        <button id="modalBtn" type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
          품목검색
        </button>
      </div>
      <table class="w-100 table table-striped table-hover text-center m-0">
        <thead class="sticky-top">
          <tr>
            <th>#</th>
            <th>No.</th>
            <th>대분류</th>
            <th>소분류</th>
            <th>제품명</th>
            <th>할인(%)</th>
            <th>단가</th>
            <th>판매가</th>
            <th>수량</th>
            <th>금액</th>
          </tr>
        </thead>
        <tbody id="parentTable" class="overflow-y-auto">
          <!-- <tr>
            <td>A0001</td>
            <td>과자류</td>
            <td>캔디</td>
            <td>츄파춥스</td>
            <td>200</td>
            <td>2</td>
            <td class="sumPrice">400</td>
          </tr> -->
          <!-- <tr>
            <td>A0001</td>
            <td>과자류</td>
            <td>캔디</td>
            <td></td>
            <td>200</td>
            <td><input class="form-control form-control-sm text-center" min="0"  type="number" oninput="calcPay(this)"></td>
            <td>0</td>
          </tr> -->
        </tbody>
      </table>
    </form>
    <div class="px-3 d-flex align-items-center sticky-bottom table-group-divider w-100 fw-bold">
        <div class="w-50 text-end me-auto">합계</div>
        <div class="w-25" id="totalPrice">0</div>
        <input type="hidden" name="historyActualPrice" value="">
        <button id="formSubmitBtn" class="btn btn-light">결제하기</button>
    </div>

  </main>

  <th:block th:replace="~{footer}"></th:block>

  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>