<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>beekeepers 회원등록</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <style>
    tr { height: 80px; }
    
    td { text-align: start;}

    .form-control {
      width: 350px; height: 55px;
    }

  </style>
</head>
<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{admin/header}"></th:block>

  <main class="d-flex flex-grow-1">

    <!-- 사이드바 -->
    <th:block th:replace="~{/admin/memberManage/sidebar}"></th:block>

    <!-- 신규점포등록 -->
    <div class="d-flex flex-column p-3" style="width: 100%;">

      <!-- 타이틀 -->
      <div class="d-flex justify-content-between align-items-center border-bottom">
        <div class="fs-4 pb-3 px-3">
          회원등록
        </div>
      </div>

      <form  action="signUp/insert" class="validation-form"  method="post" id="memberInsertFrm" name="memberInsertFrm">
        <div class="d-flex flex-column justify-content-center align-items-center">
  
          <table class="table mt-2 border-top-none" style="width: 95%; text-align: center; vertical-align: middle;">
            
            <colgroup>
              <col width=15%>
              <col width=30%>
              <col width=2%>
              <col width=14%>
              <col width=39%>
            </colgroup>

            <tbody>

              <tr>
                <th>아이디</th>
                <td>
                  <div class="d-flex align-items-center" >
                    <input type="text" class="form-control" name="memberId" id="memberId" placeholder="아이디를 입력해주세요." maxlength="12" required>
                  </div>
                  <article id="messageMemberId"></article>
                </td>
                <td style="color: rgb(190, 190, 190); font-size: 30px;">|</td>

                <th>이 름</th>
                <td>
                  <div class="d-flex align-items-center" >
                    <input type="text" class="form-control" name="memberName" id="memberName" placeholder="이름을 입력해주세요." maxlength="8" required>
                  </div>
                  <article id="messageMemberName"></article>
                </td>
              </tr>

              <!-- <tr>
                <th>비밀번호</th>
                <td>
                  <div class="d-flex align-items-center" >
                    <input type="password" class="form-control" name="memberPw" id="memberPw" placeholder="비밀번호를 입력해주세요.">
                  </div>
  
                <td style="color: rgb(190, 190, 190); font-size: 30px;">|</td>
  
                <th>비밀번호 확인</th>
                <td>
                  <div class="d-flex align-items-center" >
                    <input type="password" class="form-control" name="memberPwConfirm" id="memberPwConfirm" placeholder="비밀번호 확인을 입력해주세요.">
                  </div>
                </td>
              </tr> -->

              <tr>
                <th>이메일</th>
                <td>
                  <div class="d-flex align-items-center" >
                    <input type="text" class="form-control" name="memberEmail" id="memberEmail" placeholder="이메일을 입력해주세요." required>
                  </div>
                  <article id="messageMemberEmail"></article>
                </td>

                <td style="color: rgb(190, 190, 190); font-size: 30px;">|</td>
  
                <th>점포 식별번호</th>
                <td>
                  <div class="d-flex align-items-center" >
                    <input type="text" class="form-control" name="storeNo" id="storeNo" placeholder="점포 식별번호를 입력해주세요." maxlength="5" required>
                  </div>
                  <article id="messageStoreNo"></article>
                </td>
  
              <!--   <td style="color: rgb(190, 190, 190); font-size: 30px;">|</td> -->
  
             <!--    <th>이메일 인증번호</th>
                <td>
                  <div class="d-flex align-items-center" >
                    <input type="text" class="form-control" name="emailAuthKey" id="emailAuthKey" placeholder="이메일 인증번호를 입력해주세요."  maxlength="6" autocomplete="off">
                    <button class="btn btn-warning  ms-3" style="width: 90px; margin-right: 35px;" id="checkEmailAuthKeyBtn"  type="button">인증하기</button>
                  </div>
                </td> -->
              </tr>

              <!-- <tr>
                <th>휴대폰번호</th>
                <td>
                  <div class="d-flex align-items-center" >
                    <input type="text" class="form-control" name="memberTel" id="memberTel" placeholder="휴대폰번호를 입력해주세요.">
                  </div>
                </td>

              


              </tr> -->

              <tr>
                <th>팀 코드번호</th>
                <td>
                  <div class="d-flex align-items-center" >
                    <input type="number" class="form-control" name="teamNo" id="teamNo" maxlength="2" placeholder="팀 코드번호를 입력해주세요." required>
                  </div>
                </td>

                <td style="color: rgb(190, 190, 190); font-size: 30px;">|</td>
  
                <th>부서 코드번호</th>
                <td>
                  <div class="d-flex align-items-center" >
                    <input type="number" class="form-control" name="departmentNo" id="departmentNo" maxlength="1" placeholder="부서 코드번호를 입력해주세요." required>
                  </div>
                </td>
               
              </tr>


  
              <tr>
                <th>직급 코드번호</th>
                <td colspan="5">
                  <div class="d-flex align-items-center" >
                    <input type="number" class="form-control" name="gradeNo" id="gradeNo" placeholder="직급 코드번호를 입력해주세요." maxlength="1" required>
                  </div>
                </td>

              <!--   <td style="color: rgb(190, 190, 190); font-size: 30px;">|</td>

                <th>위치</th>
                <td colspan="4">
                  <section class="d-flex align-items-center">
                    <div class="d-flex align-items-center" >
                      <input type="text" class="form-control" id="memberAddress" placeholder="집 주소를 입력해주세요." style="width: 500px;">
                    </div>
  
                    <div class="signUp-input-area">
                      <button type="button" class="btn ms-4 btn-outline-warning" onclick="sample6_execDaumPostcode()">주소 검색</button>
                    </div>
                  </section>
                </td>
                <span class="signUp-message" id="authKeyMessage"></span>
              </tr> -->
            </tbody>
          </table>
  
          
          <div class="w-100 align-items-start sticky-bottom bg-white">
            <section class="d-flex justify-content-end" style="width: 100%;">
              <section class="btn btn-secondary" id="cancelBtn" style="width: 80px;">취소</section>
              <button type="submit" id="submitBtn" class="btn btn-warning ms-3" style="width: 177px; margin-right: 35px;">임시 비밀번호</button>
            </section>
          </div>
  
        </div>
      </form>

  </main>

  <th:block th:replace="~{common/footer}"></th:block>

  <script src="/js/admin/signUp.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>

  <!-- 다음 주소 API -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>


  <!-- 전달받은 메세지 출력 -->
  <script th:inline="javascript">
    // RedirectAttributes를 통해 전달된 message 출력
    const message = /*[[${message}]]*/"전달받은 message";
    // message가 없다면 null
  
    if(message != null) alert(message);
  </script>
  


  <script>
    window.addEventListener('load', () => {
      const forms = document.getElementsByClassName('validation-form');

      Array.prototype.filter.call(forms, (form) => {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  </script>





</body>
</html>