<!-- 헤더 -->
<header class="p-3" style="background-color: #303841;">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            
            <!-- 로고이미지 -->
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img th:src="#{logo.default.image}" style="width: 8rem;">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></ul>

            <!-- 프로필 드롭다운 -->
            <div class="text-end">
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="#{user.default.image}" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong style="color: white;">프로필명</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item" href="#">마이페이지</a></li>
                        <li><a class="dropdown-item" href="#">환경설정</a></li>
                        <li><a class="dropdown-item" href="#">쪽지</a></li>
                        <li th:if="${session.loginMember != null && session.loginMember.memberAuthority == 0}">
                            <a class="dropdown-item" href="/admin/memberManage/memberList">관리자페이지</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/member/logout">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Twelfth navbar example" style="height: 50px; font-size: 18px;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="#">게시판</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">주소록</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">채팅</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">인사</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/approval/tempSave">전자결재</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">캘린더</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/stock/list">재고</a>
            </li>
        </ul>
        </div>
    </div>
</nav>