<!-- 헤더 -->
<header class="p-3" style="background-color: #303841;">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            
            <!-- 로고이미지 -->
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img th:src="#{logo.default.image}" style="width: 8rem;">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></ul>

            <!-- 프로필 드롭다운 -->
            <div class="text-end">
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle position-relative" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger noteBadge" th:classappend="${session.unReadCount > 0 ? '' : 'd-none'}" th:text="${session.unReadCount}"></span>
                        <img th:src="#{user.default.image}" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong style="color: white;">프로필명</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow" style="z-index: 1021;">
                        <li><a class="dropdown-item" href="/myPage/myPage-profile">마이페이지</a></li>
                        <li><a class="dropdown-item position-relative" href="/note/note-receive">쪽지
                            <span class="position-absolute top-50 end-0 translate-middle badge rounded-pill bg-danger noteBadge" th:classappend="${session.unReadCount > 0 ? '' : 'd-none'}" th:text="${session.unReadCount}"></span>
                        </a></li>
                        <li th:if="${session.loginMember != null && session.loginMember.memberAuthority == 0}">
                            <a class="dropdown-item" href="/admin/memberManage/memberList">관리자페이지</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/member/logout">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Twelfth navbar example" style="height: 50px; font-size: 18px;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="/board/boardList/1">게시판</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/address">주소록</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/chatting/chatting">채팅</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/approval/tempSave" th:unless="${session.loginMember.departmentNo == 5}">전자결재</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/calendar/staffcalendar">캘린더</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stock/stockList" th:if="${session.loginMember.teamNo == 11}">재고/발주</a>
                <a class="nav-link" href="/stockManage/goodsList" th:unless="${session.loginMember.teamNo == 11}">재고 관리</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/revenue/list" th:if="${session.loginMember.teamNo == 11}">매출</a>
            <a class="nav-link" href="/revenueManage/revenueList" th:unless="${session.loginMember.teamNo == 11}">매출 관리</a>
            </li>
        </ul>
        </div>
    </div>
</nav>

<script th:inline="javascript">
    const message = /*[[${message}]]*/ "메시지";
    
    if(message != null){
        alert(message);
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script>
    let noteSock = new SockJS("/noteSock");

    noteSock.onmessage = function(e){

        // 전달 받은 내 회원 번호
        const memberNo = JSON.parse(e.data);

        const noteBadges = document.querySelectorAll(".noteBadge");

        fetch("/note/unReadCount?memberNo=" + memberNo)
        .then(resp=>resp.text())
        .then(result=>{
            if(result > 99){
                noteBadges.forEach(noteBadge=>{
                    noteBadge.classList.remove("d-none");
                    noteBadge.innerText = "99+";
                });
            } else if(result > 0) {
                noteBadges.forEach(noteBadge=>{
                    noteBadge.classList.remove("d-none");
                    noteBadge.innerText = result;
                });
                
            } else{
                noteBadges.forEach(noteBadge=>{
                    noteBadge.classList.add("d-none");
                });
                
            }
        })
        .catch(e=>console.log(e));
    }
</script>
