<!-- 헤더 -->
<header class="p-3" style="background-color: #303841;">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            
            <!-- 로고이미지 -->
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img th:src="#{logo.default.image}" style="width: 8rem;">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></ul>

        </div>
    </div>
</header>

<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Twelfth navbar example" style="height: 30px;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>

<script th:inline="javascript">
    const message = /*[[${message}]]*/ "메시지";
    
    if(message != null){
        alert(message);
    }
</script>

