<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>conBee</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/common/main.css">
</head>
<body class="d-flex flex-column overflow-y-auto" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>
  
  <main class="d-flex flex-grow-1 overflow-y-auto justify-content-between">
    <th:block th:if="${session.loginMember.departmentNo == 5}">
      <th:block th:replace="~{common/main/mainOwner}"></th:block>
    </th:block>
    <th:block th:if="${session.loginMember.departmentNo == 3}">
      <th:block th:replace="~{common/main/mainBM}"></th:block>
    </th:block>
    <th:block th:unless="${session.loginMember.departmentNo == 5 || session.loginMember.departmentNo == 3}">
      <th:block th:replace="~{common/main/mainEmployee}"></th:block>
    </th:block>
  </main>

  <script th:inline="javascript">
    const revenueList = /*[[${revenueList}]]*/ "revenueList";
  </script>
  <script src="/js/common/main.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>