<!-- 사이드 바 -->
<div class="d-flex flex-column h-100 p-3 bg-body-tertiary " style="width: 200px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">재고</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
            재고관리
        </a>
        </li>
        <li>
        <a href="#" class="nav-link link-body-emphasis">
            매출관리
        </a>
        </li>
        <li>
        <a href="#" class="nav-link link-body-emphasis">
            지점관리
        </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">마이페이지</a></li>
        <li><a class="dropdown-item" href="#">환경설정</a></li>
        <li><a class="dropdown-item" href="#">쪽지</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">로그아웃</a></li>
        </ul>
    </div>
</div>