<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>보낸 쪽지함</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body class="d-flex flex-column" style="height: 100vh;">

  <th:block th:replace="~{common/header}"></th:block>

  <main class="d-flex flex-grow-1 overflow-y-auto">


    <th:block th:replace="~{note/sidebar}"></th:block>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="text-center">보낸 쪽지함</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>번호</th>
              <th>받는사람</th>
              <th>내용</th>
              <th>보낸날짜</th>
              <th>받은날짜</th>
             
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox"></td>
              <td>1</td>
              <td>홍길동</td>
              <td>하이</td>
              <td>2021-09-01</td>
              <td>2021-09-05</td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td>2</td>
              <td>이순신</td>
              <td>하이</td>
              <td>2021-09-01</td>
              <td>2021-09-05</td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td>3</td>
              <td>유관순</td>
              <td>하이</td>
              <td>2021-09-01</td>
              <td>2021-09-05</td>
            </tr>
          </tbody>
        </table>
      </div>

      
      
    </div>


    <div class="container">
      <div class="btn-group btn-group-sm d-flex justify-content-center" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary">답장</button>
        <button type="button" class="btn btn-outline-primary">보관</button>
        <button type="button" class="btn btn-outline-primary">삭제</button>
      </div>
</div>
  </div>
  

</main>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
