<!-- 사이드 바 -->
<div class="d-flex flex-column h-100 p-3 bg-body-tertiary " style="width: 200px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">쪽지</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto " id="sidebarHover">
        <li>
            <a href="/note/note-list" class="nav-link link-body-emphasis">
                전체 쪽지
            </a>
        </li>
        <li>
            <a href="#" class="nav-link  link-body-emphasis" >
                받은쪽지함
            </a>
        </li>

        <li>
            <a href="#" class="nav-link link-body-emphasis">
                보낸쪽지함
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-body-emphasis">
               쪽지보관함
            </a>
        </li>
      
    </ul>
</div>
