<!-- 사이드 바 -->
<div class="d-flex flex-column h-100 p-3 bg-body-tertiary " style="width: 200px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-3">쪽지</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto " id="sidebarHover">
        <li>
            <a href="/note/note-receive" class="nav-link  link-body-emphasis">
                받은쪽지함
            </a>
        </li>

        <li>
            <a href="/note/note-sent" class="nav-link link-body-emphasis">
                보낸쪽지함
            </a>
        </li>
        <li>
            <a href="/note/note-keep" class="nav-link link-body-emphasis">
                쪽지보관함
            </a>
        </li>
        <br>

        <li>
            <a href="/note/note-write" class="btn btn-warning mx-3" style="width: 120px; height: 40px;">쪽지쓰기</a>
        </li>
    </ul>
</div>